html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	background:#fff;
	font-family:Arial, Helvetica, sans-serif;
	color: #222;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}


.advt-block { margin:0; padding:0;}
.advt-300 { margin:0; padding:0; width:300px; height:600px; background:#fff; border:1px solid #BEBEBE;}
.advt-300 .logo{ margin:0 5px; padding:5px 0; border-bottom:0px solid #F1F0F0;}

.advt-box { margin:0; padding:0;}

.advt-box .product-container{ margin:5px 0 0 0; padding:0px 5px;height:537px;}
.advt-box .product-container:before, .advt-box .product-container:after { content:''; display:block; width:0; height:0;}
.advt-box .product-container:after { clear:both;}
.advt-box .product-container .product-img-left{ margin:0 5px 0 0; padding:0; float:left; float:left;}
.advt-box .product-container .product-img-left img { margin:0 auto; text-align:center;}
.advt-box .product-container .product-img-top { float:left;margin:0 auto; text-align:center;vertical-align: middle;height: 410px;}
.advt-box .product-container .product-txt-right{ margin:0; padding:0; width:100%;float:left ;}
.advt-box .product-container h3{ margin:0; padding:0 0 0 0; font-size:15px; color:#222; font-weight:800; font-family: Arial;word-break:break-word;min-height: 40px;}
.advt-box .product-container .price{ margin:0; padding:5px 0 25px 0; color:#bf0000; font-size:16px; font-weight:bold;font-family: Arial monospace;}
.advt-box .product-container .btn{ margin:10px 5px; }
.advt-box .product-container .btn .shop-now{ margin:0; padding:5px 5px;  cursor:pointer;  text-indent:-99999px; border:0;color: #151515;font-weight: bold;font-family: Arial;font-size:14px;text-transform: uppercase;background: white;border: 1px solid #808080;}

.ad_img_tag {max-height: 410px;vertical-align: middle;}
.product-txt-desc { margin:0; padding: 2px 2px;text-align: center;color: #424242;font-size: 13px;text-transform: capitalize;height:34px;}
.product-txt-desc p{ margin:0; padding:0; font-size:11px; color:#222;font-family: Arial;}
.divshadow{margin: 0px 7px 7px 7px;border: 0px solid rgba(158, 157, 157, 0.65);border-radius: 10px 10px 10px 10px;-moz-box-shadow: 2px 2px 3px 3px #E0E0E0;-webkit-box-shadow: 2px 2px 3px 3px #E0E0E0;box-shadow: 2px 2px 3px 3px #E0E0E0;}
.planntoadlogo{float: right;position: absolute;top: -1px;right: 1px;opacity: .8;margin: 0px 0px 2px 0px;height: 12px;}
.planntoadlogo:hover{opacity:1;cursor:pointer;}
.thumbnailactive{border-top:4px solid #F76300 !important;border-bottom:1px solid #F76300 !important;border-left:1px solid #F76300 !important;border-right:1px solid #F76300 !important;}

.graphic, #prevBtn, #nextBtn, #slider1prev, #slider1next{
	margin:0;
	padding:0;
	display:block;
	overflow:hidden;
	text-indent:-8000px;
}


/* Sliding gallery */
.list_carousel {
	margin-top: 2px;
	width: 130px;
	float:right;
}
.list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.list_carousel li {
	width: 296px;
	height: 246px;
	padding: 0;
	margin: 0;
	display: block;
	float: left;
}
.list_carousel.responsive {
	width: auto;
	margin-left: 0;
}
.clearfix {
	float: none;
	clear: both;
}
.prev {
	float: left;
	background: url(/images/det-arrow.png) 0 0 no-repeat;
	width: 26px;
	height: 25px;
	text-indent: -99999px;
	position: absolute;
	right: 2px;
	top: 110px;
}
.next {
float: right;
background: url(/images/det-arrow.png) -26px 0 no-repeat;
width: 26px;
height: 25px;
text-indent: -99999px;
position: absolute;
left: 270px;
top: 110px;
}
.pager {
	float:right;
	top:5px;
	z-index:1000;
	background:#fff;
	padding:5px 0px 0px 0px;
}
.pager a {
	/* margin: 0 2px; */
	text-decoration: none;
	padding:2px 5px;
	background:#ccc;
	color:#222;
	font-size:12px;
	font-family: Arial monospace;
}
.pager a.selected {
	text-decoration: none;
	background:#F76300;
	color:white;
}
.timer {
	background-color: #999;
	height: 6px;
	width: 0px;
}

a { outline: none; }

/* end Sliding gallery */