<% if not @inbox.nil? %>
  <% @inbox.each do |message| %>
  <!--msg-->
<div class="msg_box">

<div class="user_img">
<img src="<%=message.from.get_photo%>" alt="User" align="left" />
</div>

<div class="msg_leftblock">
<h1><a href="#"><%message.from.name%></a></h1>
<div class="message_detal">
<p><a href="#"><%=message.body%>
</a></p>
</div>

</div>

<div class="msg_right_block">
<div class="float_lft"><%= message.created_at.strftime("%B  %d") %></div>
<a href="#" class="cross_icon">&nbsp;</a>
</div>
</div>
<!--msg-->
   <!-- <fieldset>
      <p>
        <%#= message.from.email %>
        <%#= link_to "Show full thread", threaded_msg_path(message.from.id) %>
        <div id="block_user_<%#= message.id %>">
            <%#= link_to 'Block this User', block_user_path(message.from), :remote => true %>
        </div>
      </p>

      <p><%#= message.topic %></p>
      <p><%#= raw(message.body) %></p>
      <p><%#= message.created_at.strftime("%d - %m - %Y") %></p>
      <div onclick="reply_form(<%#= message.id %>)">
        Reply
      </div>
      <div id="reply_form_<%#= message.id %>" style="display:none;">
        <p>
          <%#= form_for(:message, :url => create_message_path(message.from,'reply')) do |f| %>
            <p>
              <%#= f.text_field :to, :value => message.from.email %>
            </p>
            <p>
              <%#= label "message", "Message:" %>
              <%#= f.text_area :body, :rows => 5, :cols => 40 %>
            </p>
            <%#= f.submit "Reply" %>
            <div onclick="cancel_reply_form(<%#= message.id %>);">
              Cancel
            </div>
          <% #end %>
        </p>
      </div>
   </fieldset>-->
  <% end %>
<% else %>
  <%= "No messages yet." %>
<% end %>

<!--msg-->

<div class="msg_box unreadmsg">

<div class="user_img">
<img src="images/user_man.png" alt="User" align="left" />
</div>

<div class="msg_leftblock">
<h1><a href="#">R Pooran Prasad</a></h1>
<div class="message_detal">
<p class="attachment"><a href="#">Doing great..ok, when you get time, please check the site and...
</a></p>
</div>

</div>

<div class="msg_right_block">
<div class="float_lft">August 9</div>
<a href="#" class="cross_icon">&nbsp;</a>
</div>
</div>
<!--msg-->


<!--msg-->
<div class="msg_box">

<div class="user_img">
<img src="images/user_man.png" alt="User" align="left" />
</div>

<div class="msg_leftblock">
<h1><a href="#">R Pooran Prasad</a></h1>
<div class="message_detal">
<p><a href="#">Doing great..ok, when you get time, please check the site and...
</a></p>
</div>

</div>

<div class="msg_right_block">
<div class="float_lft">August 9</div>
<a href="#" class="cross_icon">&nbsp;</a>
</div>
</div>
<!--msg-->

