<script type="text/javascript">
  function reply_form(id){
    var form_id = id;
    $("#reply_form_"+form_id).show();
  };
  function cancel_reply_form(id){
    var form_id = id;
    $("#reply_form_"+form_id).hide();
    $("#message_to").text("");
    $("#message_body").text("");
  }

</script>
<!--message header-->
<div id="notification" class="notificationStyle">Message Sent.</div>

<div class="message_header">
<h1>Message</h1>
<%=link_to "<span>Send message</span>".html_safe, new_message_path, :class => "add_new_msg", :remote => true%>
<!--<a href="<%#=new_message_path%>" class="add_new_msg"></a>-->


</div>
<div id="newMessage">
</div>

<!--message header-->
<%#= link_to "Sent", sent_messages_path(@user) %></p>
<div id="message_list">
  <%= render "/messages/message_list", :locals => {:inbox => @inbox} %>
</div>
</div>
