<br />
<fieldset>
<div class="title_header float_lft" id="photo">Photo:</div>
<% if @content %>
<% if !@content.new_record?  %>
 <div style="float:left;">
<%= image_tag(@photos[@i].photo.url(:thumb)) rescue ""%>
</div>
<% @i = @i +1   %>
<%end%>
<%end%>
 <div style="float:right;padding:0px 0px 0px 75px;">
<%= ff.file_field :photo, {:style=>"margin-left:5px;width:430px;",:width=>"400px"} %>
</div>
<%= render 'shared/remove_fields', {:ff => ff, :name => ''} %> 
</fieldset>

