<div id="contentEditView"></div> 
<div id="newContentList">
  </div>

<%# if !@contents.blank? %>
<% content_ids = [] %>
<% @contents.each do |content| %>
   <%if content.is_a?(UserActivity) %>
       <%= render "contents/activity",:content => content,:content_ids => content_ids,:page => params[:page].blank? ? "1" : params[:page]%>
     
       <%if content.related_activity_type!="User"%>
       <% unless content_ids.include?(content.related_id) %>   
         <% content = Content.find(content.related_id) %>
         <%= render_content_type(content,params[:page].blank? ? "1" : params[:page]) %>
         <%end%>
       <%end%>
     <%else%> 
        <%= render "contents/activity",:content => content,:content_ids => content_ids,:page => params[:page].blank? ? "1" : params[:page] %>
       <% unless content_ids.include?(content.id) %> 
          <%= render_content_type(content,params[:page].blank? ? "1" : params[:page]) %>
     <%end%>  
   <%end%> 
   <% content_ids << content.related_id if content.related_activity_type != 'User' rescue nil %>
   <% content_ids << content.id rescue "" %>    
<% end %>
 <%# if @contents.current_page < @contents.total_pages %>
<%# params ||={}  %>
<%# params["page"] = @contents.current_page + 1 %>
<!-- not working when ajax call is made during filtering -->
<%#= link_to "Next Page", feed_contents_path(params), :id => "content_next", :remote => true, :style => "display:none" %>
<%#= link_to "Next Page", {:controller => "contents", :action => "filter", :page => @contents.current_page + 1}, :id => "content_next", :remote => true, :style => "display:none" %>
<%#= link_to "More...", {:method => "post"}, "data-disable-with" => "Loading...", :id => "content_next", :remote => true%>
  <%# end %>
 <%# end  %>

 <script type="text/javascript">
 $(document).ready(function(){
 	$("#contentSearchForm").bind('submit', function() {   
  	if ($("#content_search_search").val().toString() != $("#content_search_previous_search_value").val().toString())
  	{
  		$("#content_search_previous_search_value").val($("#content_search_search").val())
  		$("#content_search_page").val(1);
  	}
  	});
 });
 </script>

