<table width="251" height="38" border="0" cellspacing="0" cellpadding="0" style="border:solid 1px #cdd3d7;">
    <tr>
      <td class="bg_widgethdr txt_white">Followed Items</td>
    </tr>
    <tr>
      <td valign="top">
       <table width="226" border="0" cellspacing="0" cellpadding="0" align="center">
          <% @follow_items.each do |item|%>
           <tr>
            <td width="113" height="85"><img src="<%= item.image_url rescue ''%>" width="92" height="69" onclick="parent.location='<%=(item.get_url()) rescue ''%>'"/></td>
            <td width="113">
            <div>
            <a href="<%=item.get_url() rescue ''%>" class="txt_black"><%= item.name rescue ''%></a>
           </div>
            </td>
          </tr>
         <%end%>
        </table>
        </td>
    </tr>
   
  </table>
  <br/>
<br />
