       <li class="subContentGap float_lft"><a class="txt_gray ">|</a></li>

<ul class="navdrop" data-content=<%= content.id %>>
	<li class="item1"><a href="#"><span>Guide</span></a>
		<ul >
			<% content_list = content.guides.map{|c| c.id } %>
			<% Guide.all.each do |g| %>
				<li <%= "class='selected'" if content_list.include? g.id %> ><a title="Demo" href="#nogo" data-guide=<%= g.id %> ><%= g.name %></a></li>
			<% end %>
		</ul>
	</li>
</ul>


