<div id="question-summary-8220137" class="question-summary narrow">
	<div class="summary">
		<h3><a title=<%= content.title %> class="question-hyperlink" href="/question/8220137/does-sql-standard-specify-the-order-of-constraint-validation-and-trigger-firing"><%= content.description %></a></h3>
		<div class="started">
			<a class="started-link" href="/question/8220137/does-sql-standard-specify-the-order-of-constraint-validation-and-trigger-firing/?lastactivity"><span class="relativetime" > <%= time_ago_in_words(content.created_at) %> </span></a>
			<a href="/users/486620/mootinator"> by <%= content.user.name  %></a>
		</div>
	</div>
</div>