<table width="251" height="38" border="0" cellspacing="0" cellpadding="0" style="border:solid 1px #cdd3d7;">
	<tr>
		<td class="bg_widgethdr txt_white">Related Contents</td>
	</tr>
	<tr>
		<td height="252" valign="top">
		<table id="related_contents_table" width="226" border="0" cellspacing="0" cellpadding="0" align="center">
			<%@related_contents.each do |content|%>
			<tr>
				<td> <%= link_to content.title, content_path(content.id), :class => "title txt_onhover" %> </td>
			</tr>
			<%end%>
		</table> <%= link_to "More contents", search_related_contents_contents_path(:id => @content.id), :remote => true, :id => "next_content", 'data-disable-with' => "Searching..."%> </td>
	</tr>

</table>