<%@related_contents.each do |content|%>
<tr>
	<td style="padding:4px 2px 4px 2px"> <%= link_to content.title, content_path(content.id), :class => "rekatedlinks" %>
        <br/> 
        </td>

</tr>
<%end%>