<h3 class="yellow_border">Content</h3>
 <span class="sortby">
   <span><b>Sort by:</b></span>
     <a class="txt_blue" id="link_active"  href="#">Relevance</a> <span style="padding:0px 5px;">|</span>
     <a class="txt_blue" href="#">Newest</a> <span style="padding:0px 5px;">|</span>
     <a class="txt_blue" href="#">Most Answers</a>
 </span>

<% if !@contents.blank? %>
<% for content in @contents %>
	 <%= render_content_type(content) %>
  <% end %>
<% end  %>