element= jQuery('#content_next')
jQuery.noConflict();
//element.before('<%#=escape_javascript(contents_string.html_safe) %>');
<%if params[:page] == "#{1}"%>
$("#contentsList").html('<%= escape_javascript(render :partial => 'contents/contents', :locals => {:params => params}) %>');
<%else%>
$("#contentsList").append('<%= escape_javascript(render :partial => 'contents/contents', :locals => {:params => params}) %>');
 <%end%>

 <%if @contents.empty? and !current_user.nil? %>
   $("#my_feed_content").html("<center> <h3> Follow an item or user to have my feed content</h3> </center>");    
 <%end%>
element.remove();
$("#filter_page_no").val("<%=@contents.current_page+ 1%>");

