<div id="contentEditView"></div>
<span style="float:right;margin-right:10px;color:green;"> Total Visitors: <%=@content.impression_count %></span>
<div id="mainContentDiv<%=@content.id%>">
  <%=display_content_type(@content)%>
</div>
<div style="float:right">

</div>
