

.advt-block { margin:0; padding:0;}
.advt-300 { margin:0; padding:0; width:300px; height:250px; background:#fff; border:1px solid #BEBEBE;}
.advt-300 .logo{ margin:0 5px; padding:5px 0; border-bottom:0px solid #F1F0F0;}

.advt-box { margin:0; padding:0;}

.advt-box .product-container{ margin:5px 0 0 0; padding:5px;height:155px;}
.advt-box .product-container:before, .advt-box .product-container:after { content:''; display:block; width:0; height:0;}
.advt-box .product-container:after { clear:both;}
.advt-box .product-container .product-img-left{ margin:0 5px 0 0; padding:0; float:left; width:132px;float:left;white-space:nowrap;}
.advt-box .product-container .product-img-left img { margin:0 auto; text-align:center;height:auto;}
.advt-box .product-container .product-txt-right{ margin:0; padding:0; float:right; width:135px;}
.advt-box .product-container h3{ margin:0; padding:0 0 0 0; font-size:15px; color:#222; font-weight:800; font-family: Arial;word-break:break-word;min-height: 40px;}
.advt-box .product-container .price{ margin:0; padding:10px 0 10px 0; color:#bf0000; font-size:16px; font-weight:bold;font-family: Arial monospace;}
.advt-box .product-container .btn{ margin:10px 0px; }
.advt-box .product-container .btn .shop-now{ margin:0; padding:0; width:105px; height:28px; cursor:pointer;  text-indent:-99999px; border:0;background: #F76300;padding: 5px 5px;color: #FFF;font-weight: bold;font-family: Arial;font-size:15px;text-transform: uppercase;}

.advt-box .product-txt-desc { margin:0; padding:5px 10px;text-align: center;min-height: 34px;}
.advt-box .product-txt-desc p{ margin:0; padding:0; font-size:11px; color:#222;font-family: Arial;}
.divshadow{margin: 0px 7px 7px 7px;border: 1px solid rgba(158, 157, 157, 0.65);border-radius: 10px 10px 10px 10px;-moz-box-shadow: 2px 2px 3px 3px #E0E0E0;-webkit-box-shadow: 2px 2px 3px 3px #E0E0E0;box-shadow: 2px 2px 3px 3px #E0E0E0;}




#pager2 {
	float:right;
	top:5px;
	z-index:1000;
	background:#fff;
	padding:5px 0px 0px 0px;
}
#pager2 a {
	/* margin: 0 2px; */
	text-decoration: none;
	padding:2px 5px;
	background:#ccc;
	color:#222;
	font-size:12px;
	font-family: Arial monospace;
}
#pager2 a.selected {
	text-decoration: none;
	background:#F76300;
	color:white;
}


/* end Sliding gallery */


 h3.product-title {word-break: break-all;}

.product-txt-desc p a {text-decoration: none;}
a#offer_ad {
        color:#222 !important;
        font-family: Arial !important;
        font-size: 10px !important;
        margin: 0;
        padding: 0;
        text-decoration: none;
        font-weight: 600;
    }

    a#offer_ad:hover
    {
        color: #009CC4 !important;
    }

    .ad_img_tag {
        max-height: 140px;
        max-width: 132px;
        width:auto;
        height: auto;
        vertical-align: middle;
    }


