<% if @share.youtube.nil? %>
	$('#article_contents').prepend("<h1><%= escape_javascript(link_to @share.title, @share.url) %></h1>");
<% else %>
	$('#youtube_contents').prepend("<h1><%= escape_javascript(link_to @share.title, @share.url) %></h1>");
<% end %>
