(function(){

	// the minimum version of jQuery we want
	var v = "1.6.2";
	var bk_dialog=null;
	var bk_mask=null;
	var options = {
	        'title': '',
	        'draggable': false,
	        'modal': true,
	        'width': 640,
	        'height': 480
	    };

	// check prior inclusion and version
	if (window.jQuery === undefined || window.jQuery.fn.jquery < v) {
		var done = false;
		var script = document.createElement("script");
		//script.src = "https://ajax.googleapis.com/ajax/libs/jquery/" + v + "/jquery.min.js";
		script.src = "http://0.0.0.0:3000/javascripts/bmark.js";
		script.onload = script.onreadystatechange = function(){
			if (!done && (!this.readyState || this.readyState == "loaded" || this.readyState == "complete")) {
				done = true;
				init_bookmarklet();
			}
		};
		document.getElementsByTagName("head")[0].appendChild(script);
	} else {
		init_bookmarklet();
	}

	function init_bookmarklet() {
		(window.myBookmarklet = function() {
			create_dialog();
		})();
	}
	
	function create_dialog(){
		if (bk_dialog == null) {
			bk_dialog = $('<div></div>');

			$('body').append(bk_dialog);
			bk_dialog.attr('style','position:fixed;z-index:29999;padding:20px;top:0px;left:0px;background:white;');
			bk_dialog.html('<%= escape_javascript(@article_string.html_safe) %>');
		}
		if(bk_mask == null){
			bk_mask=$('<div></div>');
			bk_mask.attr('style','position:fixed;width:100%;height:100%;z-index:29998;opacity:0.6;background:black;top:0px;left:0px;');	
			$('body').append(bk_mask);


			bk_mask.click(function () {

				bk_mask.remove();
				bk_dialog.remove();
			});
		}

	}	
})();
