/* General Styles */
.dpUniSlider_wrapper {
	position: relative;
	display:none;
	height:354px;
}

.dpUniSlider {
	display:block;
}

.dpUniSlider_container { 
	text-align: left; 
	margin: 0 auto; 
	width: 100%; 
	position: relative; 
	overflow: hidden; 
	list-style:none; 
	padding:0;	
}

.dpUniSlider_drag {
	width:100%;
	height:100%;
	padding-bottom: 50px;
}

.dpUniSlider_container.isDraggable {
	cursor: pointer;
}

.dpUniSlider_container.isDragging {
	opacity: .7;
}

a.horizontal.dpUniSlider_larrow, a.horizontal.dpUniSlider_rarrow { 
	position: absolute; 
	top: 50%; 
	width: 32px; 
	height: 52px; 
	text-indent:-9999px; 
	display: none; 
	z-index: 6; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px; 
	margin-top: -26px; 
	opacity: .9;
}
/*
a.horizontal.dpUniSlider_larrow { 
	background:url(../images/left-arrow.png) 50% 50% no-repeat #000; 
	left: 10px; 
}	

a.horizontal.dpUniSlider_rarrow { 
	background:url(../images/right-arrow.png) 50% 50% no-repeat #000; 
	right: 10px; 
}
*/
a.vertical.dpUniSlider_larrow, a.vertical.dpUniSlider_rarrow { 
	position: absolute; 
	width: 52px; 
	height: 32px; 
	text-indent:-9999px; 
	display: none; 
	z-index: 6; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px; 
	margin-top: -26px; 
	opacity: .9;
}

a.vertical.dpUniSlider_larrow { 
	background:url(../images/top-arrow.png) 50% 50% no-repeat #000; 
	right: 10px; 
	bottom: 50px; 
}	

a.vertical.dpUniSlider_rarrow { 
	background:url(../images/down-arrow.png) 50% 50% no-repeat #000; 
	right: 10px; 
	bottom: 10px; 
}

.dpUniSlider_container li span.dpUniSlider_caption {
	font-family: Arial, Helvetica, sans-serif;
	font-size:10px;
	text-transform:uppercase;
	font-weight:bold;
	color: #dbdbdb;
	position: absolute;
	top: 10px;
	left: 50%;
	display:block;
	padding: 5px 10px;
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px; 
	background: #000; 
	opacity: .9;
	text-shadow: none;
}

ul.dpUniSlider_nav { 
	position: absolute; 
	bottom: 10px; 
	left: 50%;
	padding: 10px;
	margin: 0;
	display: none; 
	z-index: 6; /*
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px; 
	background: #000; 
	opacity: .9;*/
	list-style:none;
}

ul.dpUniSlider_nav li { 
	float:left;
	width:15px;
	height:15px;
	margin: 0 5px;
	padding: 0;
	/*background:#dbdbdb;*/
	background:url(../images/banner_nav.png) no-repeat -20px 0;
	list-style: none;
	cursor: pointer;
}

ul.dpUniSlider_nav li.active { 
	background:url(../images/banner_nav.png) no-repeat 0 0;
}

.dpUniSlider_autoLoader { 
	position:absolute;
	top: 10px;
	right: 10px;
	width:24px;
	height:24px;
	z-index: 99999;
	background: url(../images/ajax-loader.gif) 0 0 no-repeat;
	padding:0;
	margin:0;
	display: none;
}

li.dpUniSlider_slide { 
	padding: 0;
	margin:0;
	text-align: center; 
	padding-bottom: 50px; 
	width: 100%; 
	position: relative; 
	overflow: hidden; 
	list-style:none;
	background-position: 50% 0;
}

.dpUniSlider_container li.dpUniSlider_slide img { 
	/*max-width: 100%;
	height: auto;*/
	margin:0 auto;
	text-align:center;
}

ul.gallery li.dpUniSlider_slide { 
	padding-bottom: 0 !important; 
}

ul.gallery img {
	width: 100%;
}

/* Effects */

.dpUniSlider_wrapper .blink_container_append { 
	z-index: 4;
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
	top: 0px;
	left: 0px;
}

.dpUniSlider_wrapper .blink_fx { 
	background: #fff;
	opacity: 0;
	display: none;
	width: 100%;
	height: 100%; 
	position: absolute;
	top: 0;
	left: 0;
	z-index: 4;
}

/* Texts */
.dpUniSlider_container span.banner-1-title {color:#fff; font-size:30px;text-align:center;font-family: 'PTSansBold'; text-shadow: 1px 1px #333}
.dpUniSlider_container .banner-1-sub-title {color:#003857; font-size:18px; text-align:center; padding:10px 50px; margin:10px 0 0 0; line-height:22px;}
.dpUniSlider_container .findbutton { background:url(../images/find-btn.png) no-repeat center top; width:200px; height:46px; display:block;text-align:center; margin:0 auto; text-indent:-9999px;}
.dpUniSlider_container .findbutton:hover {opacity:0.8; filter:alpha(opacity=80);}

.dpUniSlider_container span.main_title { background-color:#82c02d; color:#fff; font-size:24px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px; padding:5px 10px 5px 10px}
.dpUniSlider_container .sub_title { color:#555454; font-size:18px; padding:25px 0 5px 0;}
.dpUniSlider_container .normal_text { color:#555454; font-size:14px; padding:0px 0 5px 0;}

.dpUniSlider_container .button {
	background-color:#82c02d;
	border:0;
	margin-top:10px;
	padding:8px 20px 8px 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
	font-size:18px;
	text-transform:uppercase;
	font-family: 'PTSansBold';
	cursor: pointer;
}

/*
.dpUniSlider_container a, 
.dpUniSlider_container span,
.dpUniSlider_container p {
	text-decoration:none;
	font-family: Arial, Helvetica, sans-serif; 	
	font-size: 20px; 
	color: #333; 
	text-shadow: 1px 1px 1px #fff; 
	margin:5px 0;
}

.dpUniSlider_container p {
	margin:10px 0;
}

.dpUniSlider_container span.normal_text,
.dpUniSlider_container p.normal_text {
	font-size: 14px; 
}

.dpUniSlider_container a::selection, 
.dpUniSlider_container span::selection,
.dpUniSlider_container p::selection,
.dpUniSlider_container a::-moz-selection, 
.dpUniSlider_container span::-moz-selection,
.dpUniSlider_container p::-moz-selection {
	background: #a8d1ff;
}

.dpUniSlider_container a.main_title, 
.dpUniSlider_container span.main_title,
.dpUniSlider_container a.main_title.light:hover,
.dpUniSlider_container a.subtitle, 
.dpUniSlider_container span.subtitle,
.dpUniSlider_container a.subtitle.light:hover { 
	color: #dbdbdb; 
	padding: 5px 20px; 
	background: #000; 
	opacity: .9; 
	font-size: 30px; 
	font-style:italic;
	text-shadow: 1px 1px 1px #333;
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px; 
	margin: 10px 0;
	font-family: 'Lobster Two', cursive; 	
}

.dpUniSlider_container a.main_title.light, 
.dpUniSlider_container span.main_title.light,
.dpUniSlider_container a.main_title:hover,
.dpUniSlider_container a.subtitle.light, 
.dpUniSlider_container span.subtitle.light,
.dpUniSlider_container a.subtitle:hover { 
	color: #000; 
	text-shadow: 1px 1px 1px #333;
	background: #f5f5f5; 
}

.dpUniSlider_container a.subtitle, 
.dpUniSlider_container span.subtitle,
.dpUniSlider_container a.subtitle.light:hover { 
	font-size: 20px; 
	text-shadow: none !important;
}

.dpUniSlider_container li.dpUniSlider_slide div { 
	clear: both; 
	width: 100%; 
	padding: 0; 
	text-align: center;
}

.dpUniSlider_container .button {
	background: url(../images/button_bg.png) repeat-x 0 0;	
	border:0;
	height:31px !important;
	padding:0 30px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	color: #dbdbdb;
	font-size:11px;
	text-transform:uppercase;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	cursor: pointer;
	border-left: 1px solid #1D262D;
	border-right: 1px solid #1D262D;
}

.dpUniSlider_container .button:hover {
	background: url(../images/button_bg.png) repeat-x 0 -33px;	
}
*/