#ie7 .button.small { padding:3px 7px; }
#ie7 .button.org:hover {background-color:#12c1e6; color:#ffffff; border:1px solid #ace5f0;}


#ie7 .home-search #search-form { clear:both;-webkit-border-radius: 2px;border-radius: 2px; border: #ace5f0 1px solid;background: #12c1e6;width: 345px;float: left;padding:0; margin:20px 0 0 300px; position:relative; height:22px;}
#ie7 .home-search #search-form .search-input-text{position:absolute; left:0;width: 300px;float: left;border: 0;background: #12c1e6;color: #222;line-height: 100%;font-size: 14px;height:20px; padding:3px 5px 0 5px;}
#ie7 .home-search #search-form .search-input-submit{background:url(../images/search-icon.png) no-repeat right top; float:right;width:32px; height:22px;z-index: 100;cursor: pointer; display:block; border:0;position:absolute; right:0;}

#ie7 ul.ul_list ul,
#ie7 ul.ul_list{margin-left:0 !important; display:inline-block;	}

.button:hover{
 text-decoration    :none; /* IE7 HACK */
}