<div id="photo_box"  style="padding:20px 00px 0px 70px;">
<div class="clear"></div>
<div class="img_box">
<div class="float_left"><a href="#"><img src="images/img1.png" alt="center" width="160" height="110" border="0" style="" /></a></div>
</div>
<div class="img_box">
<div class="float_left"><a href="#"><img src="images/img1.png" alt="center" width="160" height="110" border="0" style="" /></a></div>
</div>
<div class="img_box">
<div class="float_left"><a href="#"><img src="images/img1.png" alt="center" width="160" height="110" border="0" style="" /></a></div>
</div>
<div class="img_box">
<div class="float_left"><a href="#"><img src="images/img1.png" alt="center" width="160" height="110" border="0" style="" /></a></div>
</div>
<div class="img_box">
<div class="float_left"><a href="#"><img src="images/img1.png" alt="center" width="160" height="110" border="0" style="" /></a></div>
</div>
<div class="img_box">
<div class="float_left"><a href="#"><img src="images/img1.png" alt="center" width="160" height="110" border="0" style="" /></a></div>
</div>
</div>
