<div>
        <img src="/assets/MarutiRitz_100x60.jpg" class="mediumimage" alt="car" />
        <div>
          <%= relateditem.name %>
        </div>
        <div>
          3 Star Rating
        </div>
        <div>
          <a class="feedlink">Follow</a>
        </div>
        <div>
          Rahul, Deepak and 100 other people owns this.
        </div>
        <hr />
      </div>