<%= render :partial => "form", :locals => {:button_val => "Update Campaign"} %>
<a href="<%= denied_admin_advertisements_path(:id => @advertisement.id) %>" class="btn_submitanswer mark_as" id="denied" accesskey="f">Denied</a>
<a href="<%= approved_admin_advertisements_path(:id => @advertisement.id) %>" class="btn_submitanswer mark_as" id="approved" accesskey="i">Approved</a>