html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	background:#fff;
	font-family:Arial, Helvetica, sans-serif;
	color: #222;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}

.advt-block { margin:0; padding:0;text-align: center;}
.advt-160-600 { margin:0; padding:0; width:160px; height:600px; background:#fff; border:1px solid #F1F0F0;}
.advt-160-600 .logo{ margin:0 0px; padding:10px 0; border-bottom:1px solid #F1F0F0;}

.advt-120 .advt-box { margin:0; padding:0;}

.advt-120 .advt-box .product-container{ margin:5px 0 0 0; padding:5px;height: 420px;}
.advt-120 .advt-box .product-container:before, .advt-box .product-container:after { content:''; display:block; width:0; height:0;}
.advt-120 .advt-box .product-container:after { clear:both;}
.advt-120 .advt-box .product-container .product-img{ margin:0; padding:30px 0; width:112px;}
.advt-120 .advt-box .product-container .product-img img { margin:0 auto; text-align:center;width:112px;}


.advt-120 .advt-box .product-container h3{ margin:15px 0; padding:0; font-size:15px; color:#222; font-weight:bold; height:60px; text-align:center;font-family: Arial;word-break:break-word;}

.advt-120 .advt-box .product-container .price-strike{margin:10px 0;padding: 0;color: #585858;font-size: 14px;text-decoration: line-through; text-align:center;}
.advt-120 .advt-box .product-container .price{ margin:10px 0; padding:0; color:#bf0000; font-size:15px; font-weight:bold;text-align:center;font-family: Arial monospace;}
.advt-120 .advt-box .product-container .btn{ margin:0; padding:0;}
.advt-120 .advt-box .product-container .btn .shop-now{  cursor:pointer;  border:0;margin:15px 0px; padding:5px 5px; background:#F76300; color:#fff; font-size:16px; text-transform:uppercase; }

.advt-120 .advt-box .product-desc { margin:0; padding:5px; font-size:12px; font-weight:bold; color:#0085b6; text-align:center;font-family: Arial;}
.advt-120 .advt-box .product-extra-desc { margin:5px 0 0 0; padding:0 5px 5px 5px; font-size:11px; color:#222;}



/* Sliding gallery */

.pager {
	z-index:1000;
	background:#fff;
	padding:10px 2px 0 2px;
}
.pager a {
	margin: 0 2px;
	text-decoration: none;
	padding:2px 4px;
	background:#ccc;
	color:#222;
	font-size:11px;
}
.pager a.selected {
	text-decoration: none;
	background:#6ebfd6;
}

a { outline: none; }

/* end Sliding gallery */