<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>:: Welcome ::</title>
</head>
<body>
<div class="notificaiton">
  <p>
    Hi Team, <br />
  <div class="error_body">
    There is a problem while running cron job for feed process. Please find more details below. <br />
    <div class="error_details">
      <span style="color:red;"> <%= @error_message %> </span> <br />
    </div>
    Kindly check and resolve this as soon as possible.
  </div>
  </p>
</div>
</body>
</html>


<style type="text/css">

    .error_body {
        padding: 0 0 0 26px;
    }


    .error_details {
        margin: 25px;
    }
</style>