<div class="add_fields" >
  <div class="left add_fields_link">
    <%= link_to_add_fields(image_tag('add-big.png', :title => 'Add'), f, association, (path rescue nil))%>
   
      
      <%= link_to_add_fields(name, f, association, (path rescue nil))%>
    
     </div>
     <div class="clear"></div>
  </div>
