<div class="alert alert-block">
    <%if type == "myfeed" %>
    <strong>Currently you haven't followed any items, topics or users? </strong>
 Please follow atleast one item, topic or a user to have personalized contents in your feed. 
 <%end%>
   <%if type == "wizard_step1" %>
       <strong>Thank you for registering with us. </strong>
  At PlannTo, we offer you a myriad of product information, coming right out of users and experts,  interests sharing and much more… To start, please select the products that you own which help us to offer you the perfect profile page!
   <%end%>
    <%if type == "wizard_step2" %>
         <strong>Your interest defines who you are!</strong>
  Are you bitten by the photography bug? Do you think cycling is the best way to stay fit?  We offer you an exhaustive list of interests that you can add to your profile. Find the complete list of topics in <a href="/camera/topics" target="_blank">Photography</a> and <a href="/cycle/topics" target="_blank">Cycling</a>
   <%end%>
    <%if type == "wizard_step3"%>
      <strong>Planning to buy a gadget, car, bike, cycle or a camera? We will simplify the decision making! </strong>
      Select the products that you are considering here and you will have all the information you need on your profile page.
   <%end%>
   
   <%if type == "buying_plan_deals" %>
   

    <strong>Currently there are no Price Comparisons.</strong>

   <%end%>
   
   <%if type == "no_recommendations" %>
   
  
    <strong>Currently there are no Recommendations</strong>
 
   <%end%>
   <%if type == "no_items" %>
     <strong>No items</strong>
   <%end%>
   
     <%if type == "no_preferences" %>
    
    <strong>Currently there are no Preferences.</strong>
 
   <%end%>
      <%if type == "edit_no_preferences" %>
   
    <strong>Please seclect the preference for you from the bottom page.</strong>

   <%end%>
   <% if type == "profile_follow"  %>
     <%if item.downcase != 'following' and item.downcase != 'followers'%>
         <% if User.profile_owner?(@user,current_user) %>
            <strong> You havent followed any <%= item.humanize.pluralize %> yet.  </strong>
         <%else%>
            <strong> <%=@user.name%> hasnt followed any <%= item.humanize.pluralize %> yet.  </strong>
         <%end%>
      <%elsif item.downcase != 'following' %>
          <strong> There are no followers.  </strong>        
      <%elsif item.downcase != 'followers' %>
         <% if User.profile_owner?(@user,current_user) %>
            <strong> You havent followed any users yet.  </strong>
         <%else%>
            <strong> <%=@user.name%> hasnt followed any users yet.  </strong>
         <%end%>
            
      <%end%>
    <%end%>
    <% if  type == "user_activity" %>
       <strong>Currently there are no activities. </strong>
     <%end%>
 </div>
