<div class="alert alert-block">
    <%if type == "myfeed" %>
    <strong>Currently you haven't followed any items, topics or users? </strong>
 Please follow atleast one item, topics or a user to have personalized contents in your feed.
 <%end%>
   <%if type == "wizard_step1" %>
       <strong>Thanks for registering with PlannTo.com. </strong>
  Add the products that you own in the following list, this will help us to customize our application based on your profile.
   <%end%>
    <%if type == "wizard_step2" %>
         <strong>Are you interested in Photography or Cycling? </strong>
  If so, select the interested topics in Photography and cycling to follow. Find the complete list of topics in <a href="/camera/topics" target="_blank">Photography</a> and <a href="/cycle/topics" target="_blank">Cycling</a>
   <%end%>
    <%if type == "wizard_step3"%>
      <strong>Are you planning to buy a car, mobile, cycle, tablet, bike or camera? </strong>
  Select the product that you are considering. This will help us to provide the customized home page with the content that will help you to decide the right product.
   <%end%>
   <% if type == "profile_follow" %>
      <strong> Currently, you havent followed any <%= item.humanize.pluralize %>.  </strong>
    <%end%>
    <% if  type == "user_activity" %>
       <strong>Currently there are no activities. </strong>
     <%end%>
 </div>
