<div class="PlanntoBuyBtn">
  <%= get_follow_types(item, follow_type, follow_html, button_class, {:remote => true, :class => "btn_plantobuy_icon", :related_items => related_items}) %>

  
  
</div>
<br />
 <div class="tool_tip_div_<%= item.id %>" style="padding-left:400px;"></div> 
<style>
  
    
    .tool_tip_div_<%= item.id %>{
     position:fixed; !important;
    
    }
  </style>
<div id="content_new"></div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".plan_to_own_icon").addClass("show_review_popup");
        $(".show_review_popup").live("click", function () {
            $("#reviewSubContainer").dialog("open");
        });
        $("#reviewSubContainer").dialog({
            autoOpen:false,
            height:300,
            width:350,
            modal:true,
            title:"Review Your Car"
        });
    });
</script>
