<!-- FIX ME -->
<div class="buttons moveRight">
  <%= get_follow_types(@item.id, follow_type, follow_html, {:remote => true, :class => "btn_plantobuy_icon"}) %>	
</div>
<br /><br />

<!--<div class="productbuttonsGrp">

</div>-->