<!-- FIX ME -->
<div class="buttons moveRight">
	<span class="action_btns" id="btn_active"><a class="btn_plantobuy_icon"  href="#"></a><a class="btn_txt"  href="#">Plan to buy</a></span>
    <span class="action_btns"><a class="btn_iwonit_icon" href="#"></a><a class="btn_txt line_height" href="#">I won it</a></span>
    <span class="action_btns"><a class="btn_followthiscar_icon" href="#"></a><a class="btn_txt" href="#">Follow this car</a></span>
</div>
<br /><br />

<!--<div class="productbuttonsGrp">
  <%#= get_follow_types(@item.id, follow_type, follow_html, {:remote => true, :class => "imageButtonAsk"}) %>
</div>-->