<div class="footer_graybg">
<div class="footer">

<a href="#">About Us</a><span class="padding_lftrgt">|</span>
<a href="#">Contact Us</a> <span class="padding_lftrgt">|</span>
<a href="#">Terms and Conditions</a> <span class="padding_lftrgt">|</span>
<a href="#">Privacy Policy</a> <span class="padding_lftrgt">|</span>
<a href="#">FAQs</a> <span class="padding_lftrgt">|</span>
<a href="#">Feedback</a> <span class="padding_lftrgt">|</span>
<a href="#">Advertising Options</a> <span class="padding_lftrgt">|</span>
<a href="#">Career </a><br />
<div class="footer"><a >Copyright 2008-2011. All Rights Reserved.</a></div>
</div>

</div>