<div class="footer">
<a href="#">About Us</a><span class="padding_lftrgt">|</span>
<a href="#">Contact Us</a> <span class="padding_lftrgt">|</span>
<a href="#">Car News</a> <span class="padding_lftrgt">|</span>
<a href="#">Customer Care</a> <span class="padding_lftrgt">|</span>
<a href="#">Tips And Advice</a> <span class="padding_lftrgt">|</span>
<a href="#">Terms and Conditions</a> <span class="padding_lftrgt">|</span>
<a href="#">Privacy Policy</a> <span class="padding_lftrgt">|</span>
<a href="#">FAQs</a> <span class="padding_lftrgt">|</span>
<a href="#">Feedback</a> <span class="padding_lftrgt">|</span>
<a href="#">Sitemap</a> <span class="padding_lftrgt">|</span>
<a href="#">Community</a> <span class="padding_lftrgt">|</span>
<a href="#">Subscribe Newsletter</a> <span class="padding_lftrgt">|</span>
<a href="#">Advertising Options</a> <span class="padding_lftrgt">|</span>
<a href="#">Career </a><br />
<span>Copyright 2008-2011 Powered By Pvt. Ltd. All Rights Reserved.</span>
</div>
<!--<div class="footer_graybg"></div>-->











<!--<div id="footer">
  <p>
    <a href="#" target="_blank">| Copyright &copy; PlannTo |</a>
  </p>
</div>-->