<div id="header">
  <div class="headerright">
    <form name="form1" id="form1" method="post" action="" class="search">
      <!--Search...-->
      <input type="text" name="textfield" value="" class="search" id="plannToSearch"/><input class="button" type="submit" name="Submit" value="GO"/>
    </form>
  </div>
  <ul class="headernav">
    <li class="headerlinklogo ">
      <a href="#" class="plannto">PlannTo</a>
    </li>
    <li class="headerlink ">
      <a href="#">Home</a>
    </li>
    <li class="headerlink ">
      <a href="" onclick="popup('popupwindowDiv');return false;">Explore</a>
    </li>
    <li class="headerlink ">
      <a href="#">People</a>
    </li>
    <li class="headerlink ">
      <%= link_to "Messages", messages_path %>
    </li>
    <li class="headerlink ">
    <% if user_signed_in? %>
      <%= link_to "Sign Out - #{current_user.email}(#{current_user.reputation})", destroy_user_session_path, :method => :delete %>

    <% else %>
      <%= link_to "Sign In", new_user_session_path %>
    <% end %>
    </li>
  </ul>
</div>