<div id="Loginpoup" style="height:362px;box-shadow:none;border: solid 1px #cdd3d7;display:none;" >
<%= form_for(User.new, :as => :user, :url => registration_path(:user) ) do |f| %>
   <%= render "/shared/sign_up_fields",{:f => f} %>
<% end %>
</div>
