<div id="main-navigation">
    <ul id="navlist" class="navtabs botmargin">
      <li>
        <a href="#" class="navtab">All</a>
      </li>
      <li>
        <a href="index.html" class="navtab" onclick="popup('popupwindowDiv');">Car</a>

        <div id="CarSubMenuDiv" class="SubmenuDiv" style="display:block;">
          <ul class="nabtabChilds">
            <li>
              <a href="#" class="navtabChild">Browse All Cars</a>
            </li>
            <li>
              <a href="Garage.html" class="navtabChild">My Garage</a>
            </li>
            <li>
              <a href="PreferencePage.html" class="navtabChild">My Preferences</a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a href="#" class="navtab">Mobile</a>
      </li>
      <li>
        <a href="#" class="navtab">Camera/Photography</a>
      </li>
      <li>
        <a href="#" class="navtab">Movies</a>
      </li>
      <li>
        <a href="#" class="navtab">Travel</a>
      </li>
    </ul>
  </div>