<%if type == "report" %>
<b><font color='green'>Please sign in.</font><br /> </b>
<%elsif type == "comment" %>
<b><font color='green'>Please sign in to add comment.</font><br /> </b>
<%elsif type == "answer" %>
<b><font color='green'>Please sign in to add answer.</font><br /> </b>
<%elsif type == "follow" %>
<b><font color='green'>Please sign in to add this <%= @item.type.singularize rescue "" %> <%= @content.sub_type.singularize rescue "" %>  to your profile.</font><br /> </b>
<%elsif type == "invite" %>
<b><font color='green'>Please sign in to invite friend.</font><br /> </b>
<%elsif type == "content" %>
<b><font color='green'>Please sign in to add content.</font><br /> </b>
<%elsif type == "vote" %>
<b><font color='green'>Please sign in to vote this content.</font><br /> </b>
<%elsif type == "content-follow" %>
<b><font color='green'>Please sign in to follow this <%= @content.sub_type.singularize rescue "" %> </font><br /> </b>
<%elsif type == "login-devise" %>
<div class="alert alert-block">
   <strong>Wrong Email or Password!! </strong>
 </div>
<%elsif type == "signup-devise" %>
<div class="alert alert-block">
    <strong>Please fill all the fields correctly. </strong>
 </div>
 
 
<%end%>


