<%= form_for(@user, :as => :user, :url => session_path("user"), :method => :post) do |f| %>
<div class="Close_dialog" style="display:none;width:43px; 
overflow:hidden;height:42px; background:url(../images/pclose_but.png) no-repeat left top;
position:relative; left:296px; text-indent:-9999px; top:-12px;" onclick="$('#sign_up_dialog').dialog('close');$('#dialog-form').dialog('close');"></div>
  <%= render "shared/login_fields", {:f => f} %> 
 <%end%>
 
<script type="text/javascript">
function myfunc() {
  FB.login(function(response) {
    if (response.session) {
      if (response.perms) {
    } else {
   }
    } else {
      
    }
  }, {perms:'offline_access,read_stream'});
}
 FB.init({
    appId: "<%= Facebook.config[:client_id] %>",
    cookie: true,
    xfbml: true,
    oauth: true
  });
</script>

