<% rating_id = rating_id || "displayRating"%>
<div class ="displayRating" id="<%=rating_id%>"></div>
<script type="text/javascript">
	$('div#<%=rating_id%>').raty({
    starOff:  'assets/star-off.png',
    starHalf   : 'assets/star-half.png',
    half       : true,
    //precision  : true,
    // size       : 24,
    starOn: 'assets/star-on.png',
    start: <%="#{item.rating}"%>
    
  });
</script>

