<% rating_id = rating_id || "displayRating"%>
<div class ="displayRating" id="<%=rating_id%>"></div>
<script type="text/javascript">
$(document).ready(function(){
	$('div#<%=rating_id%>').raty({
    starOff:  'assets/star-off.png',
    starHalf   : 'assets/star-half.png',
    half       : true,
    starOn: 'assets/star-on.png',
    start: '<%="#{item.rating.to_f.round(1)}"%>'
    
  });
  });
</script>

