<%if !current_user %>
<%=  session[:referer_counter] %>
 <%if session[:referer_counter] == 1 %>
    <script>
    
  $('#dialog-form').dialog({modal: true,height: 480,width: 275 }); $('.Close_dialog').show();
        $('.ui-dialog-titlebar').hide();
        $('#sign_up_dialog_1').show();
        $('#login').hide();
     </script>
  <%end%>   
<%end%> 
 
 </div>
