<%if !current_user %>
<%if session[:referer_counter] == 2 %>
   <script>
     $('#dialog-form-google-search').dialog({modal: true,height: 580,width: 575 }); $('.Close_dialog').show();
        $('.ui-dialog-titlebar').hide();
        $('#sign_up_dialog_1_google_search').show();
        
     </script>
  <%end%>   
<%end%> 
 
 </div>
