<div class="right">
  <div class="remove_fields">
  <%= ff.hidden_field :_destroy %>
    <div class="left">
      <%= link_to_function image_tag("remove.png", :title => 'Remove this',:style=>"width:20px;") , "if(confirm('Are you sure? You want to remove this?')) remove_fields(this)" %>   
 
         <div class="remove_link">  
          <%= link_to_function name, "if(confirm('Are you sure? You want to remove this?')) remove_fields(this)" %>
          </div>
    </div>
   </div>
</div>
 <script type="text/javascript">
if ($(".remove_fields").length == '<%=configatron.photo_field_size.to_i %>')
 {
   $(".add_fields").hide();
 }
  </script>
<script>

 $(".remove_fields:first").hide();
 
</script>

