<div class="review_tabs">
	<ul>
   	  <li class="icon_reviewcar"><a href="#" id="active_tabs">Review Car</a></li>
      <li class="icon_Askquestion"><a href="#" >Ask a Question</a></li>
      <li class="icon_sharetip"><a href="#">Share a Tip</a></li>
    </ul>
	<span><textarea name="textarea" id="textarea" cols="40" rows="5">What do you think of this car?
    </textarea></span>
</div>