<div class="review_tabs">
	<ul>    
   	  <li class="icon_reviewcar" id="review_car"><a href="#" class="active_tabs" >Review Car</a></li>
      <li class="icon_Askquestion" id="ask_a_question"><a href="#" class="review_tabs" >Ask a Question</a></li>
      <li class="icon_sharetip" id="share_a_tip"><a href="#" class="review_tabs" >Share a Tip</a></li>
	  <li class="icon_sharetip" id="start_a_discussion" ><a href="#" class="review_tabs" >Start a Discussion</a></li>
	  <li class="icon_sharetip" id="share_an_article"><a href="#" class="review_tabs" >Share an Article/Video</a></li>
	  <li class="icon_sharetip" id="share_an_image"><a href="#" class="review_tabs" >Share an Image</a></li>
	   
    </ul>
	</div>
	<div class="txtAreaDiv" id="review_car_form">
        <textarea   class="txtAreaReview"  style="height:30px;">What do you think of this car?
        </textarea>
     </div>
     <div id="share_an_article_form">
        <%= render :partial => 'layouts/youtube_share'  %>    </div>
<br/>
