<div class="review_tabs">
	<ul>    
   	  <li class="icon_reviewcar"><a href="#" class="active_tabs">Review Car</a></li>        
      <li class="icon_Askquestion"><a href="#" class="review_tabs" >Ask a Question</a></li>        
      <li class="icon_sharetip"><a href="#" class="review_tabs">Share a Tip</a></li>
	  <li class="icon_sharetip" ><a href="#" class="review_tabs">Start a Discussion</a></li>
	  <li class="icon_sharetip" ><a href="#" class="review_tabs">Share an Article/Video</a></li>
	  <li class="icon_sharetip"><a href="#" class="review_tabs">Share an Image</a></li>
	   
    </ul>
	</div>
	<div class="txtAreaDiv" ><textarea   class="txtAreaReview"  style="height:30px;">What do you think of this car?
                                                </textarea>
        </div>
<br/>