<div class="alert alert-block">
    <strong>Currently you haven't followed any items, topics or users? </strong>
 Please follow atleast one item, topics or a user to have personalized contents in your feed.
 </div>
