<div class="alert alert-block">
  <!--<button type="button" class="close" data-dismiss="alert">×</button>-->
  <strong>Thanks for registering with PlannTo.com. </strong>
  Add the products that you own in the following list, this will help us to customize our application based on your profile.
</div>
