<div class="alert alert-block">
  <!--<button type="button" class="close" data-dismiss="alert">×</button>-->
  <strong>Are you planning to buy a car, mobile, cycle, tablet, bike or camera? </strong>
  Select the product that you are considering. This will help us to provide the customized home page with the content that will help you to decide the right product.
</div>
