<div class="alert alert-block">
  <!--<button type="button" class="close" data-dismiss="alert">×</button>-->
  <strong>Are you interested in Photography or Cycling? </strong>
  If so, select the interested topics in Photography and cycling to follow. Find the complete list of topics in <a href="/camera/topics" target="_blank">Photography</a> and <a href="/cycle/topics" target="_blank">Cycling</a>
</div>
