<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#" prefix="og: http://ogp.me/ns#">
<head>
<meta charset="UTF-8" />
<link rel="profile" href="http://gmpg.org/xfn/11" />
<link rel="pingback" href="http://www.carblogindia.com/xmlrpc.php" />
<title>Maruti Alto K10 AMT Review, Test Drive Details</title>
<meta property="og:title" content="Maruti Alto K10 AMT Review &#8211; Altomatic Convenience - CarBlogIndia"/>
<meta property="og:type" content="article"/>
<meta property="og:description" content="We take the Maruti Alto K10 AMT for a spin Expensive, inefficient, and sluggish- these are just a fe"/>
<meta property="og:url" content="http://www.carblogindia.com/maruti-alto-k10-amt-review-altomatic-convenience/"/>
<meta property="og:site_name" content="CarBlogIndia"/>
<meta property="og:image" content="http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-action-cover-660x300.jpg" />

<!-- This site is optimized with the Yoast SEO plugin v3.0.3 - https://yoast.com/wordpress/plugins/seo/ -->
<meta name="description" content="Maruti Alto K10 AMT Review, Test Drive Details, Specification, Price, Features and all details on onew model maruti alto k10 automatic"/>
<meta name="robots" content="noodp"/>
<link rel="canonical" href="http://www.carblogindia.com/maruti-alto-k10-amt-review-altomatic-convenience/" />
<link rel="publisher" href="https://plus.google.com/b/100728761440891359562/"/>
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Maruti Alto K10 AMT Review, Test Drive Details" />
<meta property="og:description" content="Maruti Alto K10 AMT Review, Test Drive Details, Specification, Price, Features and all details on onew model maruti alto k10 automatic" />
<meta property="og:url" content="http://www.carblogindia.com/maruti-alto-k10-amt-review-altomatic-convenience/" />
<meta property="og:site_name" content="CarBlogIndia" />
<meta property="article:publisher" content="https://www.facebook.com/indiacarblog" />
<meta property="article:tag" content="Maruti" />
<meta property="article:tag" content="Maruti Alto" />
<meta property="article:tag" content="Maruti Alto K10" />
<meta property="article:section" content="Car / Bike Review" />
<meta property="article:published_time" content="2015-09-24T18:08:26+00:00" />
<meta property="article:modified_time" content="2015-09-24T18:26:06+00:00" />
<meta property="og:updated_time" content="2015-09-24T18:26:06+00:00" />
<meta property="og:image" content="http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-action-cover.jpg" />
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:description" content="Maruti Alto K10 AMT Review, Test Drive Details, Specification, Price, Features and all details on onew model maruti alto k10 automatic"/>
<meta name="twitter:title" content="Maruti Alto K10 AMT Review, Test Drive Details"/>
<meta name="twitter:site" content="@carblogindia"/>
<meta name="twitter:image" content="http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-side-3-270x180.jpg"/>
<meta name="twitter:creator" content="@carblogindia"/>
<!-- / Yoast SEO plugin. -->

<link rel="alternate" type="application/rss+xml" title="CarBlogIndia &raquo; Feed" href="http://www.carblogindia.com/feed/" />
<link rel="alternate" type="application/rss+xml" title="CarBlogIndia &raquo; Comments Feed" href="http://www.carblogindia.com/comments/feed/" />
<link rel="alternate" type="application/rss+xml" title="CarBlogIndia &raquo; Maruti Alto K10 AMT Review &#8211; Altomatic Convenience Comments Feed" href="http://www.carblogindia.com/maruti-alto-k10-amt-review-altomatic-convenience/feed/" />
<script type="text/javascript">
    window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"http:\/\/www.carblogindia.com\/wp-includes\/js\/wp-emoji-release.min.js"}};
    !function(a,b,c){function d(a){var c,d=b.createElement("canvas"),e=d.getContext&&d.getContext("2d"),f=String.fromCharCode;return e&&e.fillText?(e.textBaseline="top",e.font="600 32px Arial","flag"===a?(e.fillText(f(55356,56806,55356,56826),0,0),d.toDataURL().length>3e3):"diversity"===a?(e.fillText(f(55356,57221),0,0),c=e.getImageData(16,16,1,1).data.toString(),e.fillText(f(55356,57221,55356,57343),0,0),c!==e.getImageData(16,16,1,1).data.toString()):("simple"===a?e.fillText(f(55357,56835),0,0):e.fillText(f(55356,57135),0,0),0!==e.getImageData(16,16,1,1).data[0])):!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g;c.supports={simple:d("simple"),flag:d("flag"),unicode8:d("unicode8"),diversity:d("diversity")},c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.simple&&c.supports.flag&&c.supports.unicode8&&c.supports.diversity||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
</script>
<style type="text/css">
    img.wp-smiley,
    img.emoji {
        display: inline !important;
        border: none !important;
        box-shadow: none !important;
        height: 1em !important;
        width: 1em !important;
        margin: 0 .07em !important;
        vertical-align: -0.1em !important;
        background: none !important;
        padding: 0 !important;
    }
</style>
<link rel='stylesheet' id='taqyeem-style-css'  href='http://www.carblogindia.com/wp-content/plugins/taqyeem/style.css' type='text/css' media='all' />
<link rel='stylesheet' id='digg-digg-css'  href='http://www.carblogindia.com/wp-content/plugins/digg-digg/css/diggdigg-style.css' type='text/css' media='screen' />
<link rel='stylesheet' id='taqyeem-buttons-style-css'  href='http://www.carblogindia.com/wp-content/plugins/taqyeem-buttons/assets/style.css' type='text/css' media='all' />
<link rel='stylesheet' id='tie-style-css'  href='http://www.carblogindia.com/wp-content/themes/sahifa/style.css' type='text/css' media='all' />
<link rel='stylesheet' id='tie-ilightbox-skin-css'  href='http://www.carblogindia.com/wp-content/themes/sahifa/css/ilightbox/dark-skin/skin.css' type='text/css' media='all' />
<link rel='stylesheet' id='Droid+Sans-css'  href='http://fonts.googleapis.com/css?family=Droid+Sans%3Aregular%2C700' type='text/css' media='all' />
<script type='text/javascript' src='http://www.carblogindia.com/wp-includes/js/jquery/jquery.js'></script>
<script type='text/javascript' src='http://www.carblogindia.com/wp-includes/js/jquery/jquery-migrate.min.js'></script>
<script type='text/javascript' src='http://www.carblogindia.com/wp-content/plugins/taqyeem/js/tie.js'></script>
<link rel='https://api.w.org/' href='http://www.carblogindia.com/wp-json/' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.carblogindia.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.carblogindia.com/wp-includes/wlwmanifest.xml" />
<meta name="generator" content="WordPress 4.4.2" />
<link rel='shortlink' href='http://www.carblogindia.com/?p=42907' />
<link rel="alternate" type="application/json+oembed" href="http://www.carblogindia.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.carblogindia.com%2Fmaruti-alto-k10-amt-review-altomatic-convenience%2F" />
<link rel="alternate" type="text/xml+oembed" href="http://www.carblogindia.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.carblogindia.com%2Fmaruti-alto-k10-amt-review-altomatic-convenience%2F&#038;format=xml" />
<script type='text/javascript'>
    /* <![CDATA[ */
    var taqyeem = {"ajaxurl":"http://www.carblogindia.com/wp-admin/admin-ajax.php" , "your_rating":"Your Rating:"};
    /* ]]> */
</script>
<style type="text/css" media="screen">

</style>
<link rel="shortcut icon" href="http://www.carblogindia.com/wp-content/uploads/2013/09/favicon.jpg" title="Favicon" />
<!--[if IE]>
<script type="text/javascript">jQuery(document).ready(function (){ jQuery(".menu-item").has("ul").children("a").attr("aria-haspopup", "true");});</script>
<![endif]-->
<!--[if lt IE 9]>
<script src="http://www.carblogindia.com/wp-content/themes/sahifa/js/html5.js"></script>
<script src="http://www.carblogindia.com/wp-content/themes/sahifa/js/selectivizr-min.js"></script>
<![endif]-->
<!--[if IE 9]>
<link rel="stylesheet" type="text/css" media="all" href="http://www.carblogindia.com/wp-content/themes/sahifa/css/ie9.css" />
<![endif]-->
<!--[if IE 8]>
<link rel="stylesheet" type="text/css" media="all" href="http://www.carblogindia.com/wp-content/themes/sahifa/css/ie8.css" />
<![endif]-->
<!--[if IE 7]>
<link rel="stylesheet" type="text/css" media="all" href="http://www.carblogindia.com/wp-content/themes/sahifa/css/ie7.css" />
<![endif]-->


<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-4533011887610265",
        enable_page_level_ads: true
    });
</script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-3132533-3', 'auto');
    ga('require', 'displayfeatures');
    ga('require', 'linkid', 'linkid.js');
    ga('send', 'pageview');

</script>

<style type="text/css" media="screen">

    body.single .entry, body.page .entry{
        font-size : 15px;
    }

    ::-webkit-scrollbar {
        width: 8px;
        height:8px;
    }

    #main-nav,
    .cat-box-content,
    #sidebar .widget-container,
    .post-listing,
    #commentform {
        border-bottom-color: #2a3390;
    }

    .search-block .search-button,
    #topcontrol,
    #main-nav ul li.current-menu-item a,
    #main-nav ul li.current-menu-item a:hover,
    #main-nav ul li.current_page_parent a,
    #main-nav ul li.current_page_parent a:hover,
    #main-nav ul li.current-menu-parent a,
    #main-nav ul li.current-menu-parent a:hover,
    #main-nav ul li.current-page-ancestor a,
    #main-nav ul li.current-page-ancestor a:hover,
    .pagination span.current,
    .share-post span.share-text,
    .flex-control-paging li a.flex-active,
    .ei-slider-thumbs li.ei-slider-element,
    .review-percentage .review-item span span,
    .review-final-score,
    .button,
    a.button,
    a.more-link,
    #main-content input[type="submit"],
    .form-submit #submit,
    #login-form .login-button,
    .widget-feedburner .feedburner-subscribe,
    input[type="submit"],
    #buddypress button,
    #buddypress a.button,
    #buddypress input[type=submit],
    #buddypress input[type=reset],
    #buddypress ul.button-nav li a,
    #buddypress div.generic-button a,
    #buddypress .comment-reply-link,
    #buddypress div.item-list-tabs ul li a span,
    #buddypress div.item-list-tabs ul li.selected a,
    #buddypress div.item-list-tabs ul li.current a,
    #buddypress #members-directory-form div.item-list-tabs ul li.selected span,
    #members-list-options a.selected,
    #groups-list-options a.selected,
    body.dark-skin #buddypress div.item-list-tabs ul li a span,
    body.dark-skin #buddypress div.item-list-tabs ul li.selected a,
    body.dark-skin #buddypress div.item-list-tabs ul li.current a,
    body.dark-skin #members-list-options a.selected,
    body.dark-skin #groups-list-options a.selected,
    .search-block-large .search-button,
    #featured-posts .flex-next:hover,
    #featured-posts .flex-prev:hover,
    a.tie-cart span.shooping-count,
    .woocommerce span.onsale,
    .woocommerce-page span.onsale ,
    .woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
    .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle,
    #check-also-close,
    a.post-slideshow-next,
    a.post-slideshow-prev,
    .widget_price_filter .ui-slider .ui-slider-handle,
    .quantity .minus:hover,
    .quantity .plus:hover,
    .mejs-container .mejs-controls .mejs-time-rail .mejs-time-current,
    #reading-position-indicator  {
        background-color:#2a3390;
    }

    ::-webkit-scrollbar-thumb{
        background-color:#2a3390 !important;
    }

    #theme-footer,
    #theme-header,
    .top-nav ul li.current-menu-item:before,
    #main-nav .menu-sub-content ,
    #main-nav ul ul,
    #check-also-box {
        border-top-color: #2a3390;
    }

    .search-block:after {
        border-right-color:#2a3390;
    }

    body.rtl .search-block:after {
        border-left-color:#2a3390;
    }

    #main-nav ul > li.menu-item-has-children:hover > a:after,
    #main-nav ul > li.mega-menu:hover > a:after {
        border-color:transparent transparent #2a3390;
    }

    .widget.timeline-posts li a:hover,
    .widget.timeline-posts li a:hover span.tie-date {
        color: #2a3390;
    }

    .widget.timeline-posts li a:hover span.tie-date:before {
        background: #2a3390;
        border-color: #2a3390;
    }

    #order_review,
    #order_review_heading {
        border-color: #2a3390;
    }


    .background-cover{
        background-color:#717171 !important;
        background-image : url('') !important;
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='',sizingMethod='scale') !important;
        -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='',sizingMethod='scale')" !important;
    }

    body.single .post .entry a, body.page .post .entry a {
        color: #08088A;
        text-decoration: underline;
    }

    body.single .post .entry a:hover, body.page .post .entry a:hover {
        color: #2E2EFE;
        text-decoration: underline;
    }

    .footer-widget-top h4 {
        color: #000000;
    }

    #theme-footer a {
        color: #000000;
    }

    #theme-footer a:hover {
        color: #000000;
    }

    #theme-footer {
        background-color:#ffffff !important;
    }


    .related_post_title {
    }
    ul.related_post {
    }
    ul.related_post li {
    }
    ul.related_post li a {
    }
    ul.related_post li img {
    }@media only screen and (max-width: 479px) and (min-width: 320px){
        .post-inner{padding:5px;}
        .content .entry iframe {    max-height: 290px; }
    }

</style>

<script type="text/javascript">
    /* <![CDATA[ */
    var sf_position = '0';
    var sf_templates = "<a href=\"{search_url_escaped}\">View All Results<\/a>";
    var sf_input = '.search-live';
    jQuery(document).ready(function(){
        jQuery(sf_input).ajaxyLiveSearch({"expand":false,"searchUrl":"http:\/\/www.carblogindia.com\/?s=%s","text":"Search","delay":500,"iwidth":180,"width":315,"ajaxUrl":"http:\/\/www.carblogindia.com\/wp-admin\/admin-ajax.php","rtl":0});
        jQuery(".live-search_ajaxy-selective-input").keyup(function() {
            var width = jQuery(this).val().length * 8;
            if(width < 50) {
                width = 50;
            }
            jQuery(this).width(width);
        });
        jQuery(".live-search_ajaxy-selective-search").click(function() {
            jQuery(this).find(".live-search_ajaxy-selective-input").focus();
        });
        jQuery(".live-search_ajaxy-selective-close").click(function() {
            jQuery(this).parent().remove();
        });
    });
    /* ]]> */
</script>
</head>
<body id="top" class="single single-post postid-42907 single-format-standard">

<div class="wrapper-outer">

<div class="background-cover"></div>

<aside id="slide-out">

  <div class="search-mobile">
    <form method="get" id="searchform-mobile" action="http://www.carblogindia.com/">
      <button class="search-button" type="submit" value="Search"><i class="fa fa-search"></i></button>
      <input type="text" id="s-mobile" name="s" title="Search" value="Search" onfocus="if (this.value == 'Search') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search';}"  />
    </form>
  </div><!-- .search-mobile /-->

  <div class="social-icons">
    <a class="ttip-none" title="Rss" href="http://feeds.feedburner.com/carblogindia" target="_blank"><i class="fa fa-rss"></i></a><a class="ttip-none" title="Google+" href="https://plus.google.com/b/100728761440891359562/" target="_blank"><i class="fa fa-google-plus"></i></a><a class="ttip-none" title="Facebook" href="https://www.facebook.com/indiacarblog" target="_blank"><i class="fa fa-facebook"></i></a><a class="ttip-none" title="Twitter" href="https://twitter.com/carblogindia" target="_blank"><i class="fa fa-twitter"></i></a><a class="ttip-none" title="Pinterest" href="http://pinterest.com/carblog/" target="_blank"><i class="fa fa-pinterest"></i></a><a class="ttip-none" title="Youtube" href="http://www.youtube.com/carblogindia" target="_blank"><i class="fa fa-youtube"></i></a>
  </div>


  <div id="mobile-menu" ></div>
</aside><!-- #slide-out /-->

<div id="wrapper" class="boxed-all">
<div class="inner-wrapper">

<header id="theme-header" class="theme-header">
  <div id="top-nav" class="top-nav">
    <div class="container">


      <div class="top-menu"><ul id="menu-top-menu" class="menu"><li id="menu-item-22006" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-22006"><a href="http://www.carblogindia.com/">Home</a></li>
        <li id="menu-item-22007" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-22007"><a href="http://www.carblogindia.com/category/auto-news/">Car News</a></li>
        <li id="menu-item-22008" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-22008"><a href="http://www.carblogindia.com/category/comparison/">Comparisons/ Features</a></li>
        <li id="menu-item-22011" class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-22011"><a href="http://www.carblogindia.com/category/review/">Car / Bike Review</a></li>
        <li id="menu-item-22014" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22014"><a href="http://www.carblogindia.com/tag/new-launch/">New Launch</a></li>
        <li id="menu-item-22009" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-22009"><a href="http://www.carblogindia.com/category/bike-news/">Bike News</a></li>
        <li id="menu-item-22010" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-22010"><a href="http://www.carblogindia.com/category/technology/">Technology</a></li>
        <li id="menu-item-22012" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-22012"><a href="http://www.carblogindia.com/category/tips/">Car/ Bike Tips</a></li>
        <li id="menu-item-23168" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-23168"><a href="http://www.carblogindia.com/tag/auto-expo-2016/">Auto Expo 2016</a></li>
        <li id="menu-item-37110" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37110"><a href="http://www.carblogindia.com/ask-car-blog-india-your-car-bike-queries-answered-by-experts/">Ask Us</a></li>
      </ul></div>
      <div class="search-block">
        <form method="get" id="searchform-header" action="http://www.carblogindia.com/">
          <button class="search-button" type="submit" value="Search"><i class="fa fa-search"></i></button>
          <input class="search-live" type="text" id="s-header" name="s" title="Search" value="Search" onfocus="if (this.value == 'Search') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search';}"  />
        </form>
      </div><!-- .search-block /-->
      <div class="social-icons">
        <a class="ttip-none" title="Rss" href="http://feeds.feedburner.com/carblogindia" target="_blank"><i class="fa fa-rss"></i></a><a class="ttip-none" title="Google+" href="https://plus.google.com/b/100728761440891359562/" target="_blank"><i class="fa fa-google-plus"></i></a><a class="ttip-none" title="Facebook" href="https://www.facebook.com/indiacarblog" target="_blank"><i class="fa fa-facebook"></i></a><a class="ttip-none" title="Twitter" href="https://twitter.com/carblogindia" target="_blank"><i class="fa fa-twitter"></i></a><a class="ttip-none" title="Pinterest" href="http://pinterest.com/carblog/" target="_blank"><i class="fa fa-pinterest"></i></a><a class="ttip-none" title="Youtube" href="http://www.youtube.com/carblogindia" target="_blank"><i class="fa fa-youtube"></i></a>
      </div>



    </div><!-- .container /-->
  </div><!-- .top-menu /-->

  <div class="header-content">

    <a id="slide-out-open" class="slide-out-open" href="#"><span></span></a>

    <div class="logo">
      <h2>								<a title="CarBlogIndia" href="http://www.carblogindia.com/">
        <img src="http://www.carblogindia.com/wp-content/uploads/2014/11/cb-logo-350x80.jpg" alt="CarBlogIndia"  /><strong>CarBlogIndia Best Car &amp; Bike News, Reviews, Prices, Comparisons &amp; Upcoming Launches</strong>
      </a>
      </h2>			</div><!-- .logo /-->
    <div class="e3lan e3lan-top">
      <a href="http://www.carblogindia.com/tag/auto-expo-2016/?utm_source=header&amp;utm_medium=banner&amp;utm_campaign=ae2016" title="2016 Auto Expo News" >
        <img src="http://www.carblogindia.com/wp-content/uploads/2016/01/2016-auto-expo-news-banner.jpg" alt="2016 Auto Expo News" />
      </a>
    </div>			<div class="clear"></div>

  </div>
  <nav id="main-nav">
    <div class="container">


      <div class="main-menu"><ul id="menu-main" class="menu"><li id="menu-item-16905" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-16905"><a href="http://www.carblogindia.com/">Home</a></li>
        <li id="menu-item-44595" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-44595"><a href="http://www.carblogindia.com/tag/auto-expo-2016/">Auto Expo 2016</a></li>
        <li id="menu-item-16908" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-16908"><a href="http://www.carblogindia.com/category/auto-news/">Car News</a></li>
        <li id="menu-item-20889" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-20889"><a href="http://www.carblogindia.com/category/bike-news/">Bike News</a></li>
        <li id="menu-item-16909" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-16909"><a href="http://www.carblogindia.com/category/comparison/">Comparisons/ Features</a></li>
        <li id="menu-item-16911" class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-16911"><a href="http://www.carblogindia.com/category/review/">Car Review</a></li>
        <li id="menu-item-22031" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-22031"><a href="#">Cars By Body Type</a>
          <ul class="sub-menu menu-sub-content">
            <li id="menu-item-22032" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22032"><a href="http://carblogindia.com/tag/hatchback">Hatchback</a></li>
            <li id="menu-item-22033" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22033"><a href="http://carblogindia.com/tag/sedan">Sedan</a></li>
            <li id="menu-item-22034" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22034"><a href="http://carblogindia.com/tag/suv">SUV</a></li>
            <li id="menu-item-22035" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22035"><a href="http://carblogindia.com/tag/crossover">Crossover</a></li>
            <li id="menu-item-22078" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22078"><a href="http://www.carblogindia.com/tag/mpv/">MPV</a></li>
          </ul>
        </li>
        <li id="menu-item-22015" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-22015"><a href="#">Cars By Brand</a>
          <ul class="sub-menu menu-sub-content">
            <li id="menu-item-22016" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22016"><a href="http://www.carblogindia.com/tag/maruti-suzuki/">Maruti</a></li>
            <li id="menu-item-22017" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22017"><a href="http://www.carblogindia.com/tag/hyundai/">Hyundai</a></li>
            <li id="menu-item-22018" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22018"><a href="http://www.carblogindia.com/tag/tata/">Tata</a></li>
            <li id="menu-item-22019" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22019"><a href="http://www.carblogindia.com/tag/honda-cars/">Honda</a></li>
            <li id="menu-item-22020" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22020"><a href="http://www.carblogindia.com/tag/ford/">Ford</a></li>
            <li id="menu-item-22023" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22023"><a href="http://www.carblogindia.com/tag/mahindra-and-mahindra/">Mahindra</a></li>
            <li id="menu-item-22021" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22021"><a href="http://www.carblogindia.com/tag/chevrolet/">Chevrolet</a></li>
            <li id="menu-item-22022" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22022"><a href="http://www.carblogindia.com/tag/toyota/">Toyota</a></li>
            <li id="menu-item-22029" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22029"><a href="http://www.carblogindia.com/tag/volkswagen/">Volkswagen</a></li>
            <li id="menu-item-22024" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22024"><a href="http://www.carblogindia.com/tag/nissan/">Nissan</a></li>
            <li id="menu-item-22025" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22025"><a href="http://www.carblogindia.com/tag/renault/">Renault</a></li>
            <li id="menu-item-22030" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22030"><a href="http://www.carblogindia.com/tag/skoda/">Skoda</a></li>
            <li id="menu-item-22026" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22026"><a href="http://www.carblogindia.com/tag/mercedes-benz/">Mercedes-Benz</a></li>
            <li id="menu-item-22027" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22027"><a href="http://www.carblogindia.com/tag/bmw/">BMW</a></li>
            <li id="menu-item-22028" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22028"><a href="http://www.carblogindia.com/tag/audi/">Audi</a></li>
          </ul>
        </li>
        <li id="menu-item-16906" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-16906"><a href="http://www.carblogindia.com/about-car-blog-india/">About</a>
          <ul class="sub-menu menu-sub-content">
            <li id="menu-item-22036" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22036"><a href="http://www.carblogindia.com/contact/">Contact</a></li>
            <li id="menu-item-16910" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-16910"><a href="http://www.carblogindia.com/category/technology/">Automotive Tech</a></li>
          </ul>
        </li>
        <li id="menu-item-47539" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-47539"><a href="http://www.carblogindia.com/renault-india-at-auto-expo-2016/">Renault @ AutoExpo &#8217;16</a></li>
      </ul></div>

    </div>
  </nav><!-- .main-nav /-->
</header><!-- #header /-->


<div class="clear"></div>
<div id="breaking-news" class="breaking-news">
  <span class="breaking-news-title"><i class="fa fa-bolt"></i> <span>Breaking News</span></span>

  <ul>
    <li><a href="http://www.carblogindia.com/renault-duster-facelift-india-unveiled-photos-details/" title="Renault Duster Facelift India Debut Held at Auto Expo!">Renault Duster Facelift India Debut Held at Auto Expo!</a></li>
    <li><a href="http://www.carblogindia.com/hyundai-carlino-compact-suv-sub-4-meter/" title="Hyundai Carlino Compact SUV To Rival EcoSport And Vitara Brezza">Hyundai Carlino Compact SUV To Rival EcoSport And Vitara Brezza</a></li>
    <li><a href="http://www.carblogindia.com/suzuki-im4-compact-suv-images-pics-price-specification/" title="New Suzuki Ignis Compact SUV Unveiled at Auto Expo 2016">New Suzuki Ignis Compact SUV Unveiled at Auto Expo 2016</a></li>
    <li><a href="http://www.carblogindia.com/jeep-wrangler-and-grand-cherokee-india-launch-in-2015/" title="Jeep Makes India Debut at Auto Expo 2016!">Jeep Makes India Debut at Auto Expo 2016!</a></li>
    <li><a href="http://www.carblogindia.com/2014-nissan-x-trail-india-price-photos-details/" title="New Model Nissan X-Trail Hybrid Debuts at Auto Expo 2016">New Model Nissan X-Trail Hybrid Debuts at Auto Expo 2016</a></li>
    <li><a href="http://www.carblogindia.com/iconic-nissan-gt-r-launched-india-soon/" title="The Iconic Nissan GT-R Showcased at Auto Expo 2016">The Iconic Nissan GT-R Showcased at Auto Expo 2016</a></li>
    <li><a href="http://www.carblogindia.com/renault-kwid-amt-10-model/" title="Renault Kwid 1.0, Easy-R AMT &#038; Kwid Concepts Showcased at Auto Expo 2016">Renault Kwid 1.0, Easy-R AMT &#038; Kwid Concepts Showcased at Auto Expo 2016</a></li>
    <li><a href="http://www.carblogindia.com/datsun-go-cross-photos-details/" title="Datsun Go Cross Makes India Debut at Auto Expo 2016">Datsun Go Cross Makes India Debut at Auto Expo 2016</a></li>
    <li><a href="http://www.carblogindia.com/2016-audi-r8-v10-v10-plus-pics-price-specs-top-speed-details/" title="2016 Audi R8 Showcased at Auto Expo 2016">2016 Audi R8 Showcased at Auto Expo 2016</a></li>
    <li><a href="http://www.carblogindia.com/honda-brio-compact-suv-price-launch-pics-specification-features-details/" title="Honda BR-V (aka Brio Compact SUV) Debuts at Auto Expo 2016">Honda BR-V (aka Brio Compact SUV) Debuts at Auto Expo 2016</a></li>
  </ul>


  <script type="text/javascript">
      jQuery(document).ready(function(){
          createTicker();
      });

      function rotateTicker(){
          if( i == tickerItems.length ){ i = 0; }
          tickerText = tickerItems[i];
          c = 0;
          typetext();
          setTimeout( "rotateTicker()", 2500 );
          i++;
      }
  </script>
</div> <!-- .breaking-news -->



<div id="main-content" class="container">





<div class="content">


<div xmlns:v="http://rdf.data-vocabulary.org/#"  id="crumbs"><span typeof="v:Breadcrumb"><a rel="v:url" property="v:title" class="crumbs-home" href="http://www.carblogindia.com">Home</a></span> <span class="delimiter">/</span> <span typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="http://www.carblogindia.com/category/review/">Car / Bike Review</a></span> <span class="delimiter">/</span> <span class="current">Maruti Alto K10 AMT Review &#8211; Altomatic Convenience</span></div>



<article class="post-listing post-42907 post type-post status-publish format-standard has-post-thumbnail hentry category-review tag-maruti tag-maruti-alto tag-maruti-alto-k10" id="the-post">

<div class="post-inner">

<h1 class="name post-title entry-title" itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing"><span itemprop="name">Maruti Alto K10 AMT Review &#8211; Altomatic Convenience</span></h1>


<p class="post-meta">

  <span class="post-meta-author"><i class="fa fa-user"></i><a href="http://www.carblogindia.com/author/dhruv/" title="">Dhruv Saxena </a></span>


  <span class="tie-date"><i class="fa fa-clock-o"></i>September 24, 2015</span>
  <span class="post-cats"><i class="fa fa-folder"></i><a href="http://www.carblogindia.com/category/review/" rel="category tag">Car / Bike Review</a></span>

</p>
<div class="clear"></div>

<div class="entry">



<!-- Quick Adsense WordPress Plugin: http://quicksense.net/ -->
<div style="float:left;margin:8px 8px 8px 0;">
  </font><br/><script type="text/javascript">
    google_ad_client = "ca-pub-4533011887610265";
    google_ad_slot = "8827819208";
    google_ad_width = 336;
    google_ad_height = 280;
</script>
  <!-- Carblog_Large_Rectangle,336x280, created 11/20/08 -->
  <script type="text/javascript"
          src="//pagead2.googlesyndication.com/pagead/show_ads.js">
  </script>
</div>
<a id="dd_start"></a><h4>We take the Maruti Alto K10 AMT for a spin</h4>
<p>Expensive, inefficient, and sluggish- these are just a few of the terms commonly associated with automatics. However, this trend is fast changing and a big contributor in bringing this change in perception has been the AMT or the Automated Manual Transmission technology. <a href="http://www.carblogindia.com/tag/maruti" target="_blank">Maruti</a> took the first step and brought in the <a href="http://www.carblogindia.com/tag/maruti-celerio" target="_blank">Celerio AMT</a>. At just a premium of 50k over the standard manual and with no loss in performance or fuel efficiency, the Celerio AMT was quick to garner a considerable popularity. A year after the successful introduction of the Celerio AMT, Maruti, once again, gave us the cheapest automatic money could buy in the form of the <a href="http://www.carblogindia.com/tag/Maruti-alto-k10" target="_blank">Alto K10</a> AMT (Now the second cheapest due to the advent of <a href="http://www.carblogindia.com/tag/tata-nano-genx" target="_blank">Nano GenX AMT</a> ). The Alto K10, with the 1.0 litre K series motor, has always been a fun little hatch. So how good is it with the 5-speed AMT? Read what we think about this entry level automatic in our Maruti Alto K10 AMT review here.</p>
<p><a href="http://www.carblogindia.com/maruti-alto-k10-amt-review-altomatic-convenience/maruti-alto-k10-amt-review-pics-action/" rel="attachment wp-att-42909"><img class="alignnone size-medium wp-image-42909" src="http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-action-720x480.jpg" alt="maruti-alto-k10-amt-review-pics-action" width="720" height="480" srcset="http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-action-270x180.jpg 270w, http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-action-720x480.jpg 720w, http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-action.jpg 1024w" sizes="(max-width: 720px) 100vw, 720px" /></a>

  <!-- Quick Adsense WordPress Plugin: http://quicksense.net/ -->
<div style="float:none;margin:5px 0 5px 0;text-align:center;">
  <font color="#888888"><small> Advertisement</small></font>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- CarBlog_In_Content_Responsive_ad -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-4533011887610265"
       data-ad-slot="5146280521"
       data-ad-format="auto"></ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
<script type="text/javascript">
    var d = document;
    var s = d.createElement('script');
    //    var url = "http://indiatoday.intoday.in/technology/story/samsung-galaxy-note-edge-review/1/420649.html"
    //    url = "http://wonderwoman.intoday.in/story/5-make-up-tricks-to-hide-visible-signs-of-ageing/1/121454.html"
    s.src = "<%= configatron.hostname %>/javascripts/plannto.overlay_ads.js?ref_url=http://www.rushlane.com/mahindra-kuv100-is-s101-name-12162217.html&item_ids=&visited=1";
    var h = d.getElementsByTagName('head')[0];
    h.appendChild(s);

</script>
</p>
<div class="box shadow  "><div class="box-inner-block"><i class="fa tie-shortcode-boxicon"></i>
  Also See &#8211; <a href="http://www.carblogindia.com/maruti-celerio-amt-test-drive-review/" target="_blank">Maruti Celerio: AMT Tech Explained</a>
</div></div>
<h3>Design</h3>
<p>Much like the old K10, the new one is also based on the Alto 800 albeit utilizing the latest iteration as the base. While it may have lost the previous car’s low-slung, sporty appeal, it still looks good from most angles, especially in this particular shade of blue. An aggressive, wraparound headlamp cluster, a strong shoulder line and the slightly elongated bonnet to accommodate the bigger motor are some of the highlights of the Alto K10’s design.</p>
<p><a href="http://www.carblogindia.com/maruti-alto-k10-amt-review-altomatic-convenience/maruti-alto-k10-amt-review-pics-front-angle-2/" rel="attachment wp-att-42918"><img class="alignnone size-medium wp-image-42918" src="http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-front-angle-2-720x480.jpg" alt="maruti-alto-k10-amt-review-pics-front-angle-2" width="720" height="480" srcset="http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-front-angle-2-270x180.jpg 270w, http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-front-angle-2-720x480.jpg 720w, http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-front-angle-2.jpg 1024w" sizes="(max-width: 720px) 100vw, 720px" /></a></p>
<p>The Alto 800 origins are most evident in this car&#8217;s side profile. The K10 possesses the same window area and also borrows the strong character line that flows smoothly into the tail lamps. Much like the front-end of the Alto K10, the rear has also been thoroughly revamped with a new set of taillights and a reprofiled boot lid. Maruti has added some chrome bits to the front grille and the lower edge of the boot lid to inject some premium-ness to the exteriors. The overall design has the sort of eagerness to it that does justice to the sprightly 1.0-litre unit that sits under the hood.</p>
<!-- Quick Adsense WordPress Plugin: http://quicksense.net/ -->
<div style="float:none;margin:5px 0 5px 0;text-align:center;">
  <font color="#888888"><small> Advertisement</small></font>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- CarBlog_in_Content_Resp_btm -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-4533011887610265"
       data-ad-slot="4864618923"
       data-ad-format="auto"></ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>

<p><a href="http://www.carblogindia.com/maruti-alto-k10-amt-review-altomatic-convenience/maruti-alto-k10-amt-review-pics-rear-angle-2/" rel="attachment wp-att-42923"><img class="alignnone size-medium wp-image-42923" src="http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-rear-angle-2-720x480.jpg" alt="maruti-alto-k10-amt-review-pics-rear-angle-2" width="720" height="480" srcset="http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-rear-angle-2-270x180.jpg 270w, http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-rear-angle-2-720x480.jpg 720w, http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-rear-angle-2.jpg 1024w" sizes="(max-width: 720px) 100vw, 720px" /></a></p>
<div id='gallery-3' class='gallery galleryid-42907 gallery-columns-6 gallery-size-thumbnail'><figure class='gallery-item'>
  <div class='gallery-icon landscape'>
    <a href='http://www.carblogindia.com/maruti-alto-k10-amt-review-pics-side-3/'><img width="270" height="180" src="http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-side-3-270x180.jpg" class="attachment-thumbnail size-thumbnail" alt="maruti-alto-k10-amt-review-pics-side-3" srcset="http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-side-3-270x180.jpg 270w, http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-side-3-720x480.jpg 720w, http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-side-3.jpg 1024w" sizes="(max-width: 270px) 100vw, 270px" /></a>
  </div></figure><figure class='gallery-item'>
  <div class='gallery-icon landscape'>
    <a href='http://www.carblogindia.com/maruti-alto-k10-amt-review-pics-tail-light/'><img width="270" height="180" src="http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-tail-light-270x180.jpg" class="attachment-thumbnail size-thumbnail" alt="maruti-alto-k10-amt-review-pics-tail-light" srcset="http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-tail-light-270x180.jpg 270w, http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-tail-light-720x480.jpg 720w, http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-tail-light.jpg 1024w" sizes="(max-width: 270px) 100vw, 270px" /></a>
  </div></figure><figure class='gallery-item'>
  <div class='gallery-icon landscape'>
    <a href='http://www.carblogindia.com/maruti-alto-k10-amt-review-pics-side-rear/'><img width="270" height="180" src="http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-side-rear-270x180.jpg" class="attachment-thumbnail size-thumbnail" alt="maruti-alto-k10-amt-review-pics-side-rear" srcset="http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-side-rear-270x180.jpg 270w, http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-side-rear-720x480.jpg 720w, http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-side-rear.jpg 1024w" sizes="(max-width: 270px) 100vw, 270px" /></a>
  </div></figure><figure class='gallery-item'>
  <div class='gallery-icon landscape'>
    <a href='http://www.carblogindia.com/maruti-alto-k10-amt-review-pics-rear-angle-1/'><img width="270" height="180" src="http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-rear-angle-1-270x180.jpg" class="attachment-thumbnail size-thumbnail" alt="maruti-alto-k10-amt-review-pics-rear-angle-1" srcset="http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-rear-angle-1-270x180.jpg 270w, http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-rear-angle-1-720x480.jpg 720w, http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-rear-angle-1.jpg 1024w" sizes="(max-width: 270px) 100vw, 270px" /></a>
  </div></figure><figure class='gallery-item'>
  <div class='gallery-icon landscape'>
    <a href='http://www.carblogindia.com/maruti-alto-k10-amt-review-pics-front-angle-1/'><img width="270" height="180" src="http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-front-angle-1-270x180.jpg" class="attachment-thumbnail size-thumbnail" alt="maruti-alto-k10-amt-review-pics-front-angle-1" srcset="http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-front-angle-1-270x180.jpg 270w, http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-front-angle-1-720x480.jpg 720w, http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-front-angle-1.jpg 1024w" sizes="(max-width: 270px) 100vw, 270px" /></a>
  </div></figure><figure class='gallery-item'>
  <div class='gallery-icon landscape'>
    <a href='http://www.carblogindia.com/maruti-alto-k10-amt-review-pics-headlamp/'><img width="270" height="180" src="http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-headlamp-270x180.jpg" class="attachment-thumbnail size-thumbnail" alt="maruti-alto-k10-amt-review-pics-headlamp" srcset="http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-headlamp-270x180.jpg 270w, http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-headlamp-720x480.jpg 720w, http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-headlamp.jpg 1024w" sizes="(max-width: 270px) 100vw, 270px" /></a>
  </div></figure>
</div>

<h3>Interiors and Features</h3>
<p>While the exterior is a far cry from the previous model&#8217;s sporty demeanour, the interior has thankfully lost the low rent feel of the previous K10. The dashboard layout is neat and everything falls easily into the driver&#8217;s hand. Maruti has used the black-beige colour scheme to good effect, which in turn gives the Alto&#8217;s cabin a pleasant and an airy feel. What we didn&#8217;t like, however, is the lack of storage spaces in the cabin. There&#8217;s only one cup/bottle holder tucked away behind the hand brake lever and you could be forgiven to not notice its existence. Also, the rear bench is not the most spacious around. Even with the front seats positioned for a driver of average height, you can still feel the rear passenger&#8217;s knees digging into the back.</p>
<p><a href="http://www.carblogindia.com/maruti-alto-k10-amt-review-altomatic-convenience/maruti-alto-k10-amt-review-pics-dashboard/" rel="attachment wp-att-42913"><img class="alignnone size-medium wp-image-42913" src="http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-dashboard-720x480.jpg" alt="maruti-alto-k10-amt-review-pics-dashboard" width="720" height="480" srcset="http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-dashboard-270x180.jpg 270w, http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-dashboard-720x480.jpg 720w, http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-dashboard.jpg 1024w" sizes="(max-width: 720px) 100vw, 720px" /></a></p>
<div class="box shadow  "><div class="box-inner-block"><i class="fa tie-shortcode-boxicon"></i>
  Also See &#8211; <a href="http://www.carblogindia.com/cheapest-automatic-cars-in-india/" target="_blank">Cheapest Automatic Cars in India</a>
</div></div>
<p>Naturally, the Maruti Alto K10 does not boast of an extensive features list with only the essentials like aircon, power steering, and internally adjustable ORVMs making it to the VXi trim that the AMT is available in. What&#8217;s disappointing is the lack of airbags and ABS, which aren&#8217;t even offered as an optional extra. Another grouse we had with the Alto is that only the front windows are electric-powered. Also, the stereo gets only two speakers, but this integrated unit performs decently and gets USB and AUX support. The cabin aesthatics and quality are impressive, but we do wish Maruti would have thrown in a bit more kit.</p>
<div id='gallery-4' class='gallery galleryid-42907 gallery-columns-5 gallery-size-thumbnail'><figure class='gallery-item'>
  <div class='gallery-icon landscape'>
    <a href='http://www.carblogindia.com/maruti-alto-k10-amt-review-pics-stereo/'><img width="270" height="180" src="http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-stereo-270x180.jpg" class="attachment-thumbnail size-thumbnail" alt="maruti-alto-k10-amt-review-pics-stereo" srcset="http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-stereo-270x180.jpg 270w, http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-stereo-720x480.jpg 720w, http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-stereo.jpg 1024w" sizes="(max-width: 270px) 100vw, 270px" /></a>
  </div></figure><figure class='gallery-item'>
  <div class='gallery-icon landscape'>
    <a href='http://www.carblogindia.com/maruti-alto-k10-amt-review-pics-orvm/'><img width="270" height="180" src="http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-orvm-270x180.jpg" class="attachment-thumbnail size-thumbnail" alt="maruti-alto-k10-amt-review-pics-orvm" srcset="http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-orvm-270x180.jpg 270w, http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-orvm-720x480.jpg 720w, http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-orvm.jpg 1024w" sizes="(max-width: 270px) 100vw, 270px" /></a>
  </div></figure><figure class='gallery-item'>
  <div class='gallery-icon landscape'>
    <a href='http://www.carblogindia.com/maruti-alto-k10-amt-review-pics-door-inside/'><img width="270" height="180" src="http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-door-inside-270x180.jpg" class="attachment-thumbnail size-thumbnail" alt="maruti-alto-k10-amt-review-pics-door-inside" srcset="http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-door-inside-270x180.jpg 270w, http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-door-inside-720x480.jpg 720w, http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-door-inside.jpg 1024w" sizes="(max-width: 270px) 100vw, 270px" /></a>
  </div></figure><figure class='gallery-item'>
  <div class='gallery-icon landscape'>
    <a href='http://www.carblogindia.com/maruti-alto-k10-amt-review-pics-dials/'><img width="270" height="180" src="http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-dials-270x180.jpg" class="attachment-thumbnail size-thumbnail" alt="maruti-alto-k10-amt-review-pics-dials" srcset="http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-dials-270x180.jpg 270w, http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-dials-720x480.jpg 720w, http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-dials.jpg 1024w" sizes="(max-width: 270px) 100vw, 270px" /></a>
  </div></figure><figure class='gallery-item'>
  <div class='gallery-icon landscape'>
    <a href='http://www.carblogindia.com/maruti-alto-k10-amt-review-pics-boot-space/'><img width="270" height="180" src="http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-boot-space-270x180.jpg" class="attachment-thumbnail size-thumbnail" alt="maruti-alto-k10-amt-review-pics-boot-space" srcset="http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-boot-space-270x180.jpg 270w, http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-boot-space-720x480.jpg 720w, http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-boot-space.jpg 1024w" sizes="(max-width: 270px) 100vw, 270px" /></a>
  </div></figure>
</div>

<h3>Engine and Transmission</h3>
<p>The Alto K10 AMT has the same engine and transmission pair as the Celerio, but thanks to a lower weight, the Alto K10 feels a wee bit quicker. It is very sprightly off the line and it&#8217;s only when you reach speeds north of 70-80 km/h that the engine starts feeling a bit strained. The biggest talking point here, however, is the 5-speed AMT. This unit feels smooth and the jerks at lower rpms are well contained. When driven with a light foot the gear changes are relaxed and happen at a relatively low rpm.</p>
<p><a href="http://www.carblogindia.com/maruti-alto-k10-amt-review-altomatic-convenience/maruti-alto-k10-amt-review-pics-engine/" rel="attachment wp-att-42916"><img class="alignnone size-medium wp-image-42916" src="http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-engine-720x480.jpg" alt="maruti-alto-k10-amt-review-pics-engine" width="720" height="480" srcset="http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-engine-270x180.jpg 270w, http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-engine-720x480.jpg 720w, http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-engine.jpg 1024w" sizes="(max-width: 720px) 100vw, 720px" /></a></p>
<p>However, we do wish the gearbox was slightly more eager while downshifting. But this issue is taken care of to some extent in the kick down mode. Pressing the accelerator hard makes the &#8216;box drop a couple of gears and surge forward holding on to a particular gear till the red line. You can also engage manual mode and take matters into your own hands, quite literally. Automatics are meant to reduce driver fatigue and make easy work of moving through traffic and the Alto K10 AMT manages to do just that, without giving us too much to complain about.</p>
<div class="box shadow  "><div class="box-inner-block"><i class="fa tie-shortcode-boxicon"></i>
  Also See &#8211; <a href="http://www.carblogindia.com/renault-kwid-vs-alto-k10-vs-wagon-r-vs-datsun-go/" target="_blank">Alto K10 vs Renault Kwid vs Datsun GO vs Wagon R</a>
</div></div>
<p><a href="http://www.carblogindia.com/maruti-alto-k10-amt-review-altomatic-convenience/maruti-alto-k10-amt-review-pics-gear/" rel="attachment wp-att-42919"><img class="alignnone size-medium wp-image-42919" src="http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-gear-720x480.jpg" alt="maruti-alto-k10-amt-review-pics-gear" width="720" height="480" srcset="http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-gear-270x180.jpg 270w, http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-gear-720x480.jpg 720w, http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-gear.jpg 1024w" sizes="(max-width: 720px) 100vw, 720px" /></a></p>
<h3>Ride, Handling and Braking</h3>
<p>In terms of ride quality and comfort, the occupants will not have too much to complain about. The Alto performs decently over bad patches of road, but it can be very unforgiving if taken over bumps and potholes at higher speeds. The front seats are a bit of a mixed bag as they offer good bolstering for the upper back and shoulders, but lack in lower back support. After spending a few hours behind the wheel, you will realize the dynamics of the Alto aren&#8217;t very enthusiast-friendly. The peppy engine powering the Alto is let down slightly by the tallish stance, which comes into play while cornering. The body roll is pretty apparent and the skinny tires aren&#8217;t very sticky either. Having said that, under normal driving the car performs well and handles city roads and highway runs with ease. Feedback from the steering isn&#8217;t great, but the light setup ensures easy maneuverability through tight spaces. Speaking of which, the Alto is a pretty nimble car and makes short work of moving in and out of gaps at moderate speeds. The brakes do their job very well and although there is a slight lack of feedback, their performance is satisfactory under most circumstances. Not much to complain about here either, except for the slightly vague steering and the presence of body roll.</p>
<p><a href="http://www.carblogindia.com/maruti-alto-k10-amt-review-altomatic-convenience/maruti-alto-k10-amt-review-pics-side-motion-1/" rel="attachment wp-att-42927"><img class="alignnone size-medium wp-image-42927" src="http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-side-motion-1-720x480.jpg" alt="maruti-alto-k10-amt-review-pics-side-motion-1" width="720" height="480" srcset="http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-side-motion-1-270x180.jpg 270w, http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-side-motion-1-720x480.jpg 720w, http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-side-motion-1.jpg 1024w" sizes="(max-width: 720px) 100vw, 720px" /></a></p>
<h3>Final Word</h3>
<p>At an ex-showroom price of just 4 lacs, the Alto K10 AMT oozes practicality. It is no longer the cheapest one around with the Tata Nano coming in at a lakh less, but it is definitely more upmarket and comes with a very peppy 1.0 litre motor.  It may not be as dynamically sorted or as good looking as we would have liked it to be, but it does make those long daily commutes that much easier without the usual cost of owning an automatic being reflected in your bank balance. Kudos to Maruti for plonking the 1.0 litre K-Series motor in the Alto and coupling it with the 5-speed AMT! The Alto K10 AMT is surely among the most sensible hatchbacks around.  Thus car will not win many traffic-light GPs, it won’t encourage you to attack corners, and it will not turn many heads either. But it will keep your left foot happy and make those boring daily commutes through jam-packed roads that much easier, without burning a big hole in your pocket. Practical and peppy, the Alto K10 impresses!</p>
<p><a href="http://www.carblogindia.com/maruti-alto-k10-amt-review-altomatic-convenience/maruti-alto-k10-amt-review-pics-side-2/" rel="attachment wp-att-42925"><img class="alignnone size-medium wp-image-42925" src="http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-side-2-720x480.jpg" alt="maruti-alto-k10-amt-review-pics-side-2" width="720" height="480" srcset="http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-side-2-270x180.jpg 270w, http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-side-2-720x480.jpg 720w, http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-side-2.jpg 1024w" sizes="(max-width: 720px) 100vw, 720px" /></a></p>
<h3>Specifications</h3>
<table>
  <tbody>
  <tr>
    <td width="308"><strong>Lenght x Width x Height</strong></td>
    <td width="308">3545x1490x1475 mm</td>
  </tr>
  <tr>
    <td width="308"><strong>Kerb Weight</strong></td>
    <td width="308">755 kg</td>
  </tr>
  <tr>
    <td width="308"><strong>Wheel Type and Size</strong></td>
    <td width="308">13 inch Steel Rims</td>
  </tr>
  <tr>
    <td width="308"><strong>Boot Space</strong></td>
    <td width="308">177 litres</td>
  </tr>
  <tr>
    <td width="308"><strong>Engine Type/ Displacement</strong></td>
    <td width="308">998 cc 3-cyl K Series Petrol</td>
  </tr>
  <tr>
    <td width="308"><strong>Power</strong></td>
    <td width="308">67 bhp</td>
  </tr>
  <tr>
    <td width="308"><strong>Torque</strong></td>
    <td width="308">90 Nm</td>
  </tr>
  <tr>
    <td width="308"><strong>Top Speed </strong></td>
    <td width="308">-NA-</td>
  </tr>
  <tr>
    <td width="308"><strong>Acceleration (0-100 km/h)</strong></td>
    <td width="308">-NA-</td>
  </tr>
  <tr>
    <td width="308"><strong>Transmission (Gearbox)</strong></td>
    <td width="308">5-speed AMT</td>
  </tr>
  <tr>
    <td width="308"><strong>Mileage</strong></td>
    <td width="308">24.07 kpl</td>
  </tr>
  <tr>
    <td width="308"><strong>Air Conditioner Type</strong></td>
    <td width="308">Manual</td>
  </tr>
  <tr>
    <td width="308"><strong>Power Windows</strong></td>
    <td width="308">Front only</td>
  </tr>
  <tr>
    <td width="308"><strong>Central Locking</strong></td>
    <td width="308">Yes</td>
  </tr>
  <tr>
    <td width="308"><strong>Steering Audio Controls</strong></td>
    <td width="308">No</td>
  </tr>
  <tr>
    <td width="308"><strong>Audio System</strong></td>
    <td width="308">Yes with AUX and USB support</td>
  </tr>
  <tr>
    <td width="308"><strong>Airbags</strong></td>
    <td width="308">No</td>
  </tr>
  <tr>
    <td width="308"><strong>ABS</strong></td>
    <td width="308">No</td>
  </tr>
  </tbody>
</table>
<h3>Price</h3>
<table>
  <tbody>
  <tr>
    <td width="308"><strong>LX</strong></td>
    <td width="308">INR 3.20 lacs</td>
  </tr>
  <tr>
    <td width="308"><strong>LXi</strong></td>
    <td width="308">INR 3.36 lacs</td>
  </tr>
  <tr>
    <td width="308"><strong>VXi</strong></td>
    <td width="308">INR 3.53 lacs</td>
  </tr>
  <tr>
    <td width="308"><strong>VXi(O)</strong></td>
    <td width="308">INR 3.72 lacs</td>
  </tr>
  <tr>
    <td width="308"><strong>LXi CNG</strong></td>
    <td width="308">INR 3.98 lacs</td>
  </tr>
  <tr>
    <td width="308"><strong>VXi AMT</strong></td>
    <td width="308">INR 4.02 lacs</td>
  </tr>
  </tbody>
</table>
<p><em>all prices ex-showroom, New Delhi</em></p>
<p>So what do you think of our Maruti Alto K10 AMT Review? Do let us know via the comments section below and stay tuned to Car Blog India for more.</p>
<!-- Social Buttons Generated by Digg Digg plugin v5.3.6,
    Author : Buffer, Inc
    Website : http://bufferapp.com/diggdigg --><div class='dd_outer'><div class='dd_inner'><div id='dd_ajax_float'><div class='dd_button_v'><div class='dd-fblike-ajax-load dd-fblike-42907'></div><iframe class="DD_FBLIKE_AJAX_42907" src='' height='0' width='0' scrolling='no' frameborder='0' allowTransparency='true'></iframe></div><div style='clear:left'></div><div class='dd_button_v'><div class='dd-twitter-ajax-load dd-twitter-42907'></div><a href="http://twitter.com/share" class="twitter-share-button" data-url="http://www.carblogindia.com/maruti-alto-k10-amt-review-altomatic-convenience/" data-count="vertical" data-text="Maruti Alto K10 AMT Review - Altomatic Convenience" data-via="carblogindia" ></a></div><div style='clear:left'></div><div class='dd_button_v'><div class='dd-google1-ajax-load dd-google1-42907'></div><g:plusone size='tall' href='http://www.carblogindia.com/maruti-alto-k10-amt-review-altomatic-convenience/'></g:plusone></div><div style='clear:left'></div></div></div></div><script type="text/javascript">var dd_offset_from_content = 65;var dd_top_offset_from_content = -360;var dd_override_start_anchor_id = "";var dd_override_top_offset = "";</script><script type="text/javascript" src="http://www.carblogindia.com/wp-content/plugins/digg-digg//js/diggdigg-floating-bar.js?ver=5.3.6"></script><script type="text/javascript"> jQuery(document).ready(function($) { window.setTimeout('loadFBLike_42907()',1000);window.setTimeout('loadTwitter_42907()',1000);window.setTimeout('loadGoogle1_42907()',1000); }); </script><script type="text/javascript"> function loadFBLike_42907(){ jQuery(document).ready(function($) { $('.dd-fblike-42907').remove();$('.DD_FBLIKE_AJAX_42907').attr('width','50');$('.DD_FBLIKE_AJAX_42907').attr('height','62');$('.DD_FBLIKE_AJAX_42907').attr('src','http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.carblogindia.com%2Fmaruti-alto-k10-amt-review-altomatic-convenience%2F&locale=en_US&layout=box_count&action=like&width=50&height=60&colorscheme=light'); }); } function loadTwitter_42907(){ jQuery(document).ready(function($) { $('.dd-twitter-42907').remove();$.getScript('http://platform.twitter.com/widgets.js'); }); } function loadGoogle1_42907(){ jQuery(document).ready(function($) { $('.dd-google1-42907').remove();$.getScript('https://apis.google.com/js/plusone.js'); }); }</script>
<!-- Quick Adsense WordPress Plugin: http://quicksense.net/ -->
<div style="float:none;margin:0px 0 0px 0;text-align:center;">
  <b>More details here:</b></br><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- CB_Matched_Content -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-4533011887610265"
       data-ad-slot="2458875728"
       data-ad-format="autorelaxed"></ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>

<div style="font-size:0px;height:0px;line-height:0px;margin:0;padding:0;clear:both"></div>
</div><!-- .entry /-->
<span style="display:none"><a href="http://www.carblogindia.com/tag/maruti/" rel="tag">Maruti</a> <a href="http://www.carblogindia.com/tag/maruti-alto/" rel="tag">Maruti Alto</a> <a href="http://www.carblogindia.com/tag/maruti-alto-k10/" rel="tag">Maruti Alto K10</a></span>				<span style="display:none" class="updated">2015-09-24</span>
<div style="display:none" class="vcard author" itemprop="author" itemscope itemtype="http://schema.org/Person"><strong class="fn" itemprop="name"><a href="http://www.carblogindia.com/author/dhruv/" title="Posts by Dhruv Saxena" rel="author">Dhruv Saxena</a></strong></div>

<div class="share-post">
  <span class="share-text">Share</span>

  <script>
      window.___gcfg = {lang: 'en-US'};
      (function(w, d, s) {
          function go(){
              var js, fjs = d.getElementsByTagName(s)[0], load = function(url, id) {
                  if (d.getElementById(id)) {return;}
                  js = d.createElement(s); js.src = url; js.id = id;
                  fjs.parentNode.insertBefore(js, fjs);
              };
              load('//connect.facebook.net/en/all.js#xfbml=1', 	'fbjssdk' );
              load('https://apis.google.com/js/plusone.js', 		'gplus1js');
              load('//platform.twitter.com/widgets.js', 			'tweetjs' );
          }
          if (w.addEventListener) { w.addEventListener("load", go, false); }
          else if (w.attachEvent) { w.attachEvent("onload",go); }
      }(window, document, 'script'));
  </script>
  <ul class="normal-social">
    <li>
      <div class="fb-like" data-href="http://www.carblogindia.com/maruti-alto-k10-amt-review-altomatic-convenience/" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false"></div>
    </li>

    <li><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.carblogindia.com/maruti-alto-k10-amt-review-altomatic-convenience/" data-text="Maruti Alto K10 AMT Review &#8211; Altomatic Convenience" data-via="carblogindia" data-lang="en">tweet</a></li>
    <li style="width:80px;"><div class="g-plusone" data-size="medium" data-href="http://www.carblogindia.com/maruti-alto-k10-amt-review-altomatic-convenience/"></div></li>
    <li><su:badge layout="2" location="http://www.carblogindia.com/maruti-alto-k10-amt-review-altomatic-convenience/"></su:badge>
      <script type="text/javascript">
          (function() {
              var li = document.createElement('script'); li.type = 'text/javascript'; li.async = true;
              li.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//platform.stumbleupon.com/1/widgets.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(li, s);
          })();
      </script>
    </li>
    <li><script src="http://platform.linkedin.com/in.js" type="text/javascript"></script><script type="IN/Share" data-url="http://www.carblogindia.com/maruti-alto-k10-amt-review-altomatic-convenience/" data-counter="right"></script></li>
    <li style="width:80px;"><script type="text/javascript" src="http://assets.pinterest.com/js/pinit.js"></script><a href="http://pinterest.com/pin/create/button/?url=http://www.carblogindia.com/maruti-alto-k10-amt-review-altomatic-convenience/&amp;media=http://www.carblogindia.com/wp-content/uploads/2015/09/maruti-alto-k10-amt-review-pics-action-cover-660x300.jpg" class="pin-it-button" count-layout="horizontal"><img border="0" src="http://assets.pinterest.com/images/PinExt.png" title="Pin It" /></a></li>
  </ul>
  <div class="clear"></div>
</div> <!-- .share-post -->				<div class="clear"></div>
</div><!-- .post-inner -->
</article><!-- .post-listing -->
<p class="post-tag">Tags <a href="http://www.carblogindia.com/tag/maruti/" rel="tag">Maruti</a> <a href="http://www.carblogindia.com/tag/maruti-alto/" rel="tag">Maruti Alto</a> <a href="http://www.carblogindia.com/tag/maruti-alto-k10/" rel="tag">Maruti Alto K10</a></p>





<div class="post-navigation">
  <div class="post-previous"><a href="http://www.carblogindia.com/renault-kwid-test-drive-review-specifications-images/" rel="prev"><span>Previous</span> Renault Kwid Test Drive Review &#8211; Just Kwidding!</a></div>
  <div class="post-next"><a href="http://www.carblogindia.com/2015-ford-figo-pictures-and-details/" rel="next"><span>Next</span> 2015 Ford Figo Launched [Pics &#038; Details]</a></div>
</div><!-- .post-navigation -->



<section id="check-also-box" class="post-listing check-also-left">
  <a href="#" id="check-also-close"><i class="fa fa-close"></i></a>

  <div class="block-head">
    <h3>Check Also</h3>
  </div>

  <div class="check-also-post">

    <div class="post-thumbnail">
      <a href="http://www.carblogindia.com/suzuki-im4-compact-suv-images-pics-price-specification/">
        <img width="310" height="165" src="http://www.carblogindia.com/wp-content/uploads/2015/11/2016-suzuki-ignis-official-tokyo-310x165.jpg" class="attachment-tie-medium size-tie-medium wp-post-image" alt="2016-suzuki-ignis-official-tokyo" />					<span class="fa overlay-icon"></span>
      </a>
    </div><!-- post-thumbnail /-->

    <h2 class="post-title"><a href="http://www.carblogindia.com/suzuki-im4-compact-suv-images-pics-price-specification/" rel="bookmark">New Suzuki Ignis Compact SUV Unveiled at Auto Expo 2016</a></h2>
    <p>Maruti Ignis India Debut held at Auto Expo 2016 The production-spec Suzuki iM-4 compact SUV, &hellip;</p>
  </div>
</section>





<div id="comments">


  <div id="comments-box">
    <div class="block-head">
      <h3 id="comments-title">5 comments </h3><div class="stripe-line"></div>
    </div>
    <div class="post-listing">




      <ol class="commentlist">	<li id="comment-524034">
        <div  class="comment even thread-even depth-1 comment-wrap" >
          <div class="comment-avatar"></div>

          <div class="comment-content">
            <div class="author-comment">
              <cite class="fn">Rishav Gulati</cite> 					<div class="comment-meta commentmetadata"><a href="http://www.carblogindia.com/maruti-alto-k10-amt-review-altomatic-convenience/#comment-524034">	October 16, 2015 at 5:33 pm</a></div><!-- .comment-meta .commentmetadata -->
              <div class="clear"></div>
            </div>


            <p>Nice</p>
          </div>
          <div class="reply"></div><!-- .reply -->
        </div><!-- #comment-##  -->

      </li><!-- #comment-## -->
      </ol>






      <div id="pings" class="commentlist">

        <ol class="pinglist">	<li class="comment pingback">
          <p>Pingback: <a href='http://www.carblogindia.com/maruti-suzuki-alto-k10-musik-edition-india-updates/' rel='external nofollow' class='url'>Maruti Alto K10 Urbano Special Edition Launched</a></p>
        </li><!-- #comment-## -->
          <li class="comment pingback">
            <p>Pingback: <a href='http://www.carblogindia.com/new-model-maruti-suzuki-alto-launch-price-safety/' rel='external nofollow' class='url'>New Model Maruti Suzuki Alto Launch Price Safety</a></p>
          </li><!-- #comment-## -->
          <li class="comment pingback">
            <p>Pingback: <a href='http://www.carblogindia.com/maruti-celerio-diesel-review/' rel='external nofollow' class='url'>Maruti Celerio Diesel Review, Test Drive Report</a></p>
          </li><!-- #comment-## -->
          <li class="comment pingback">
            <p>Pingback: <a href='http://www.carblogindia.com/maruti-alto-gets-optional-driver-side-airbag/' rel='external nofollow' class='url'>Maruti Alto 800 Airbag, Maruti Alto K10 Airbag Price, Features</a></p>
          </li><!-- #comment-## -->
        </ol>

      </div>


    </div>
  </div><!-- #comments-box -->


  <div class="clear"></div>
  <div id="respond" class="comment-respond">
    <h3 id="reply-title" class="comment-reply-title">Leave a Reply <small><a rel="nofollow" id="cancel-comment-reply-link" href="/maruti-alto-k10-amt-review-altomatic-convenience/#respond" style="display:none;">Cancel reply</a></small></h3>				<form action="http://www.carblogindia.com/wp-comments-post.php" method="post" id="commentform" class="comment-form" novalidate>
    <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p><p class="comment-form-comment"><label for="comment">Comment</label> <textarea id="comment" name="comment" cols="45" rows="8"  aria-required="true" required="required"></textarea></p><p class="comment-form-author"><label for="author">Name <span class="required">*</span></label> <input id="author" name="author" type="text" value="" size="30" aria-required='true' required='required' /></p>
    <p class="comment-form-email"><label for="email">Email <span class="required">*</span></label> <input id="email" name="email" type="email" value="" size="30" aria-describedby="email-notes" aria-required='true' required='required' /></p>
    <p class="comment-form-url"><label for="url">Website</label> <input id="url" name="url" type="url" value="" size="30" /></p>
    <p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="Post Comment" /> <input type='hidden' name='comment_post_ID' value='42907' id='comment_post_ID' />
      <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
    </p><p style="display: none;"><input type="hidden" id="akismet_comment_nonce" name="akismet_comment_nonce" value="d00c0b2801" /></p><p style="display: none;"><input type="hidden" id="ak_js" name="ak_js" value="102"/></p>				</form>
  </div><!-- #respond -->


</div><!-- #comments -->

</div><!-- .content -->
<aside id="sidebar">
  <div class="theiaStickySidebar">
    <div class="search-block-large widget">
      <form method="get" action="http://www.carblogindia.com/">
        <button class="search-button" type="submit" value="Search"><i class="fa fa-search"></i></button>
        <input type="text" id="s" name="s" value="Search" onfocus="if (this.value == 'Search') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search';}"  />
      </form>
    </div><!-- .search-block /-->
    <div class="widget social-icons-widget">
      <div class="social-icons social-colored">
        <a class="ttip-none" title="Rss" href="http://feeds.feedburner.com/carblogindia" target="_blank"><i class="fa fa-rss"></i></a><a class="ttip-none" title="Google+" href="https://plus.google.com/b/100728761440891359562/" target="_blank"><i class="fa fa-google-plus"></i></a><a class="ttip-none" title="Facebook" href="https://www.facebook.com/indiacarblog" target="_blank"><i class="fa fa-facebook"></i></a><a class="ttip-none" title="Twitter" href="https://twitter.com/carblogindia" target="_blank"><i class="fa fa-twitter"></i></a><a class="ttip-none" title="Pinterest" href="http://pinterest.com/carblog/" target="_blank"><i class="fa fa-pinterest"></i></a><a class="ttip-none" title="Youtube" href="http://www.youtube.com/carblogindia" target="_blank"><i class="fa fa-youtube"></i></a>
      </div>

    </div>
    <div id="text-35" class="widget widget_text"><div class="widget-top"><h4> </h4><div class="stripe-line"></div></div>
      <div class="widget-container">			<div class="textwidget"><a href="https://twitter.com/carblogindia" target="_blank"><img src="http://www.carblogindia.com/wp-content/uploads/2016/01/twitter-banner-min.jpg"/></a></div>
      </div></div><!-- .widget /--><div id="text-34" class="widget widget_text"><div class="widget-top"><h4> </h4><div class="stripe-line"></div></div>
    <div class="widget-container">			<div class="textwidget"><a href="https://www.facebook.com/indiacarblog" target="_blank"><img src="http://www.carblogindia.com/wp-content/uploads/2016/01/like-carblogindia-on-facebook-min.jpg"/></a></div>
    </div></div><!-- .widget /-->	<div class="widget" id="tabbed-widget">
    <div class="widget-container">
      <div class="widget-top">
        <ul class="tabs posts-taps">
          <li class="tabs"><a href="#tab1">Popular</a></li><li class="tabs"><a href="#tab2">Recent</a></li><li class="tabs"><a href="#tab3">Comments</a></li><li class="tabs"><a href="#tab4">Tags</a></li>				</ul>
      </div>

      <div id="tab1" class="tabs-wrap">
        <ul>
          <li >

            <div class="post-thumbnail">
              <a href="http://www.carblogindia.com/suzuki-iv-4-concept-based-production-ready-c-suv-spied/" title="2016 Maruti Vitara Brezza Compact SUV Showcased at Auto Expo 2016" rel="bookmark"><img width="110" height="75" src="http://www.carblogindia.com/wp-content/uploads/2016/02/vitara4-110x75.jpg" class="attachment-tie-small size-tie-small wp-post-image" alt="maruti-vitara-brezza-compact-suv" /><span class="fa overlay-icon"></span></a>
            </div><!-- post-thumbnail /-->
            <h3><a href="http://www.carblogindia.com/suzuki-iv-4-concept-based-production-ready-c-suv-spied/">2016 Maruti Vitara Brezza Compact SUV Showcased at Auto Expo 2016</a></h3>
            <span class="tie-date"><i class="fa fa-clock-o"></i>3 days ago</span>							</li>
          <li >

            <div class="post-thumbnail">
              <a href="http://www.carblogindia.com/2016-toyota-innova-price-photos-details/" title="2016 Toyota Innova Crysta Showcased at Auto Expo 2016" rel="bookmark"><img width="110" height="75" src="http://www.carblogindia.com/wp-content/uploads/2016/02/toyota-innova-crysta-auto-expo-2016-3-110x75.jpg" class="attachment-tie-small size-tie-small wp-post-image" alt="toyota-innova-crysta-auto-expo-2016-3" /><span class="fa overlay-icon"></span></a>
            </div><!-- post-thumbnail /-->
            <h3><a href="http://www.carblogindia.com/2016-toyota-innova-price-photos-details/">2016 Toyota Innova Crysta Showcased at Auto Expo 2016</a></h3>
            <span class="tie-date"><i class="fa fa-clock-o"></i>4 days ago</span>							</li>
          <li >

            <div class="post-thumbnail">
              <a href="http://www.carblogindia.com/new-model-honda-125cc-motorcycle-launch-price-pics-specs-features-mileage-details/" title="New Model Honda CB Shine SP 125cc Motorcycle Launched @ INR 59,900" rel="bookmark"><img width="55" height="55" src="http://www.carblogindia.com/wp-content/uploads/2015/11/honda-cb-shine-sp-photo-55x55.jpg" class="attachment-tie-small size-tie-small wp-post-image" alt="honda-cb-shine-sp-photo" srcset="http://www.carblogindia.com/wp-content/uploads/2015/11/honda-cb-shine-sp-photo-55x55.jpg 55w, http://www.carblogindia.com/wp-content/uploads/2015/11/honda-cb-shine-sp-photo-150x150.jpg 150w" sizes="(max-width: 55px) 100vw, 55px" /><span class="fa overlay-icon"></span></a>
            </div><!-- post-thumbnail /-->
            <h3><a href="http://www.carblogindia.com/new-model-honda-125cc-motorcycle-launch-price-pics-specs-features-mileage-details/">New Model Honda CB Shine SP 125cc Motorcycle Launched @ INR 59,900</a></h3>
            <span class="tie-date"><i class="fa fa-clock-o"></i>November 19, 2015</span>							</li>
          <li >

            <div class="post-thumbnail">
              <a href="http://www.carblogindia.com/honda-cb-hornet-160r-pics-price-specification-features-details/" title="Honda CB Hornet 160R About to Get an Engine Kill Switch! [EXCLUSIVE]" rel="bookmark"><img width="110" height="75" src="http://www.carblogindia.com/wp-content/uploads/2015/12/honda-hornet-160cc-photos-review-0087-110x75.jpg" class="attachment-tie-small size-tie-small wp-post-image" alt="honda-hornet-160cc-photos-review-0017" /><span class="fa overlay-icon"></span></a>
            </div><!-- post-thumbnail /-->
            <h3><a href="http://www.carblogindia.com/honda-cb-hornet-160r-pics-price-specification-features-details/">Honda CB Hornet 160R About to Get an Engine Kill Switch! [EXCLUSIVE]</a></h3>
            <span class="tie-date"><i class="fa fa-clock-o"></i>January 7, 2016</span>							</li>
          <li >

            <div class="post-thumbnail">
              <a href="http://www.carblogindia.com/new-model-2015-bajaj-avenger-launch-details/" title="New Model 2015 Bajaj Avenger Off to a Great Start; Prices Start @ INR 75,000" rel="bookmark"><img width="55" height="55" src="http://www.carblogindia.com/wp-content/uploads/2015/10/2015-new-bajaj-avenger-street-black-pics-55x55.jpg" class="attachment-tie-small size-tie-small wp-post-image" alt="2015-new-bajaj-avenger-street-black-pics" srcset="http://www.carblogindia.com/wp-content/uploads/2015/10/2015-new-bajaj-avenger-street-black-pics-55x55.jpg 55w, http://www.carblogindia.com/wp-content/uploads/2015/10/2015-new-bajaj-avenger-street-black-pics-150x150.jpg 150w" sizes="(max-width: 55px) 100vw, 55px" /><span class="fa overlay-icon"></span></a>
            </div><!-- post-thumbnail /-->
            <h3><a href="http://www.carblogindia.com/new-model-2015-bajaj-avenger-launch-details/">New Model 2015 Bajaj Avenger Off to a Great Start; Prices Start @ INR 75,000</a></h3>
            <span class="tie-date"><i class="fa fa-clock-o"></i>December 29, 2015</span>							</li>

        </ul>
      </div>
      <div id="tab2" class="tabs-wrap">
        <ul>
          <li >

            <div class="post-thumbnail">
              <a href="http://www.carblogindia.com/best-bikes-auto-expo-2016/" rel="bookmark"><img width="110" height="75" src="http://www.carblogindia.com/wp-content/uploads/2016/02/honda-africa-twin-auto-expo-2016-1-110x75.jpg" class="attachment-tie-small size-tie-small wp-post-image" alt="honda-africa-twin-auto-expo-2016" /><span class="fa overlay-icon"></span></a>
            </div><!-- post-thumbnail /-->
            <h3><a href="http://www.carblogindia.com/best-bikes-auto-expo-2016/">Best Bikes At Auto Expo 2016</a></h3>
            <span class="tie-date"><i class="fa fa-clock-o"></i>47 mins ago</span>		</li>
          <li >

            <div class="post-thumbnail">
              <a href="http://www.carblogindia.com/audi-cars-at-auto-expo-2016/" rel="bookmark"><img width="110" height="75" src="http://www.carblogindia.com/wp-content/uploads/2016/01/audi-r8-auto-expo-2016-110x75.jpg" class="attachment-tie-small size-tie-small wp-post-image" alt="audi-r8-auto-expo-2016" /><span class="fa overlay-icon"></span></a>
            </div><!-- post-thumbnail /-->
            <h3><a href="http://www.carblogindia.com/audi-cars-at-auto-expo-2016/">Audi Cars at Auto Expo 2016</a></h3>
            <span class="tie-date"><i class="fa fa-clock-o"></i>4 hours ago</span>		</li>
          <li >

            <div class="post-thumbnail">
              <a href="http://www.carblogindia.com/fiat-cars-at-auto-expo-2016/" rel="bookmark"><img width="110" height="75" src="http://www.carblogindia.com/wp-content/uploads/2016/02/fiat-cars-at-auto-expo-2016-110x75.jpg" class="attachment-tie-small size-tie-small wp-post-image" alt="fiat cars at auto expo 2016" /><span class="fa overlay-icon"></span></a>
            </div><!-- post-thumbnail /-->
            <h3><a href="http://www.carblogindia.com/fiat-cars-at-auto-expo-2016/">New Fiat Cars at Auto Expo 2016</a></h3>
            <span class="tie-date"><i class="fa fa-clock-o"></i>1 day ago</span>		</li>
          <li >

            <div class="post-thumbnail">
              <a href="http://www.carblogindia.com/mercedes-cars-at-auto-expo-2016/" rel="bookmark"><img width="110" height="75" src="http://www.carblogindia.com/wp-content/uploads/2016/02/IMG-20160203-WA0226-110x75.jpg" class="attachment-tie-small size-tie-small wp-post-image" alt="mercedes cars at auto expo 2016 Mercedes-Benz GLC India-1" /><span class="fa overlay-icon"></span></a>
            </div><!-- post-thumbnail /-->
            <h3><a href="http://www.carblogindia.com/mercedes-cars-at-auto-expo-2016/">New Mercedes Cars at Auto Expo 2016</a></h3>
            <span class="tie-date"><i class="fa fa-clock-o"></i>1 day ago</span>		</li>
          <li >

            <div class="post-thumbnail">
              <a href="http://www.carblogindia.com/suzuki-bikes-auto-expo-2016/" rel="bookmark"><img width="110" height="75" src="http://www.carblogindia.com/wp-content/uploads/2016/01/suzuki-bikes-at-auto-expo-2016-1-110x75.jpg" class="attachment-tie-small size-tie-small wp-post-image" alt="suzuki bikes at auto expo 2016" /><span class="fa overlay-icon"></span></a>
            </div><!-- post-thumbnail /-->
            <h3><a href="http://www.carblogindia.com/suzuki-bikes-auto-expo-2016/">Suzuki Bikes at Auto Expo 2016</a></h3>
            <span class="tie-date"><i class="fa fa-clock-o"></i>1 day ago</span>		</li>

        </ul>
      </div>
      <div id="tab3" class="tabs-wrap">
        <ul>
          <li>
            <div class="post-thumbnail" style="width:55px">
            </div>
            <a href="http://www.carblogindia.com/new-honda-motorcycle-in-india/#comment-558729">
              Best Bikes at Auto Expo 2016, Top 5 Bikes at Auto Expo 2016: [&#8230;] at the top of our list of best bikes at Auto Expo 2016 is the all-new... </a>
          </li>
          <li>
            <div class="post-thumbnail" style="width:55px">
            </div>
            <a href="http://www.carblogindia.com/upcoming-bikes-in-india-auto-expo-2016/#comment-558727">
              Best Bikes At Auto Expo 2016: [&#8230;] Also See &#8211; All Bikes at Auto Expo 2016 [&#8230;]... </a>
          </li>
          <li>
            <div class="post-thumbnail" style="width:55px">
            </div>
            <a href="http://www.carblogindia.com/tvs-velocity-new-model-tvs-apache-rtr-180-pics-price-specification-features-details/#comment-558726">
              anurag giri: we r waiting for Apache 200,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,... </a>
          </li>
          <li>
            <div class="post-thumbnail" style="width:55px">
            </div>
            <a href="http://www.carblogindia.com/honda-brio-compact-suv-price-launch-pics-specification-features-details/#comment-558724">
              kira: can not fine fuel and milage specifications for BR V Also whne its going to be i... </a>
          </li>
          <li>
            <div class="post-thumbnail" style="width:55px">
            </div>
            <a href="http://www.carblogindia.com/maruti-suzuki-discounts-march-april-2013/#comment-558722">
              Jagdish Mehta: I m Interested in 0 D P immediately. if any offer like this Please Contact Jai M... </a>
          </li>
        </ul>
      </div>
      <div id="tab4" class="tabs-wrap tagcloud">
        <a href='http://www.carblogindia.com/tag/new-launch/' class='tag-link-138' title='1,440 topics' style='font-size: 8pt;'>New Launches</a>
        <a href='http://www.carblogindia.com/tag/suv/' class='tag-link-137' title='575 topics' style='font-size: 8pt;'>suv</a>
        <a href='http://www.carblogindia.com/tag/maruti-suzuki/' class='tag-link-152' title='482 topics' style='font-size: 8pt;'>Maruti Suzuki</a>
        <a href='http://www.carblogindia.com/tag/sedan/' class='tag-link-403' title='473 topics' style='font-size: 8pt;'>Sedan</a>
        <a href='http://www.carblogindia.com/tag/tata/' class='tag-link-156' title='350 topics' style='font-size: 8pt;'>tata</a>
        <a href='http://www.carblogindia.com/tag/small-car/' class='tag-link-473' title='346 topics' style='font-size: 8pt;'>Small Car</a>
        <a href='http://www.carblogindia.com/tag/hyundai/' class='tag-link-160' title='309 topics' style='font-size: 8pt;'>Hyundai</a>
        <a href='http://www.carblogindia.com/tag/honda/' class='tag-link-327' title='276 topics' style='font-size: 8pt;'>Honda</a>
        <a href='http://www.carblogindia.com/tag/ford/' class='tag-link-132' title='273 topics' style='font-size: 8pt;'>ford</a>
        <a href='http://www.carblogindia.com/tag/hatchback/' class='tag-link-1128' title='243 topics' style='font-size: 8pt;'>Hatchback</a>
        <a href='http://www.carblogindia.com/tag/scoop-pictures/' class='tag-link-710' title='242 topics' style='font-size: 8pt;'>Scoop Pictures</a>
        <a href='http://www.carblogindia.com/tag/toyota/' class='tag-link-153' title='231 topics' style='font-size: 8pt;'>toyota</a>
        <a href='http://www.carblogindia.com/tag/bmw/' class='tag-link-158' title='223 topics' style='font-size: 8pt;'>BMW</a>
        <a href='http://www.carblogindia.com/tag/mahindra-and-mahindra/' class='tag-link-163' title='205 topics' style='font-size: 8pt;'>mahindra-and-mahindra</a>
        <a href='http://www.carblogindia.com/tag/chevrolet/' class='tag-link-148' title='196 topics' style='font-size: 8pt;'>chevrolet</a>
        <a href='http://www.carblogindia.com/tag/volkswagen/' class='tag-link-170' title='193 topics' style='font-size: 8pt;'>volkswagen</a>
        <a href='http://www.carblogindia.com/tag/nissan/' class='tag-link-234' title='192 topics' style='font-size: 8pt;'>Nissan</a>
        <a href='http://www.carblogindia.com/tag/mercedes-benz/' class='tag-link-184' title='190 topics' style='font-size: 8pt;'>mercedes-benz</a>
        <a href='http://www.carblogindia.com/tag/audi/' class='tag-link-310' title='170 topics' style='font-size: 8pt;'>Audi</a>
        <a href='http://www.carblogindia.com/tag/car-price/' class='tag-link-377' title='168 topics' style='font-size: 8pt;'>car-price</a>
        <a href='http://www.carblogindia.com/tag/renault/' class='tag-link-232' title='165 topics' style='font-size: 8pt;'>Renault</a>
        <a href='http://www.carblogindia.com/tag/skoda/' class='tag-link-151' title='155 topics' style='font-size: 8pt;'>skoda</a>
        <a href='http://www.carblogindia.com/tag/bajaj/' class='tag-link-257' title='149 topics' style='font-size: 8pt;'>Bajaj</a>
        <a href='http://www.carblogindia.com/tag/honda-cars/' class='tag-link-159' title='143 topics' style='font-size: 8pt;'>Honda-cars</a>
        <a href='http://www.carblogindia.com/tag/mpv/' class='tag-link-182' title='138 topics' style='font-size: 8pt;'>mpv</a>			</div>

    </div>
  </div><!-- .widget /-->
    <div id="text-html-widget-7" class="widget text-html"><div class="widget-top"><h4> </h4><div class="stripe-line"></div></div>
      <div class="widget-container"><div ><script type="text/javascript"><!--
      e9 = new Object();
      e9.size = "300x250";
      //--></script>
        <script type="text/javascript" src="http://tags.expo9.exponential.com/tags/CarBlogIndiacom/ROS/tags.js"></script>
      </div><div class="clear"></div></div></div><!-- .widget /-->			<div id="text-html-widget-9" class="text-html-box" >
    <iframe width="300" height="169" src="https://www.youtube.com/embed/dxli8dOBle4?rel=0&controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe>			</div>
  </div><!-- .theiaStickySidebar /-->
</aside><!-- #sidebar /-->	<div class="clear"></div>
</div><!-- .container /-->

<footer id="theme-footer">
  <div id="footer-widget-area" class="footer-3c">

    <div id="footer-first" class="footer-widgets-box">
      <div id="pages-2" class="footer-widget widget_pages"><div class="footer-widget-top"><h4>Pages</h4></div>
        <div class="footer-widget-container">		<ul>
          <li class="page_item page-item-2"><a href="http://www.carblogindia.com/about-car-blog-india/">About Us</a></li>
          <li class="page_item page-item-4392"><a href="http://www.carblogindia.com/advertise/">Advertise On CarBlogIndia- Automobile Portal</a></li>
          <li class="page_item page-item-37104"><a href="http://www.carblogindia.com/ask-car-blog-india-your-car-bike-queries-answered-by-experts/">Ask Car Blog India- Your Car / Bike Queries Answered By Experts</a></li>
          <li class="page_item page-item-11"><a href="http://www.carblogindia.com/contact/">Contact</a></li>
          <li class="page_item page-item-16"><a href="http://www.carblogindia.com/copyright-policy/">Copyright Policy</a></li>
          <li class="page_item page-item-18"><a href="http://www.carblogindia.com/disclaimer/">Disclaimer</a></li>
          <li class="page_item page-item-44591"><a href="http://www.carblogindia.com/">Home</a></li>
          <li class="page_item page-item-32"><a href="http://www.carblogindia.com/privacy-policy/">Privacy</a></li>
          <li class="page_item page-item-5854"><a href="http://www.carblogindia.com/rate-your-car/">Rate Your Car</a></li>
          <li class="page_item page-item-47335"><a href="http://www.carblogindia.com/renault-india-at-auto-expo-2016/">Renault At Auto Expo 2016</a></li>
          <li class="page_item page-item-28906"><a href="http://www.carblogindia.com/sponsored-toyota-dominoes-videos-making-impossible-possible/">Sponsored- Toyota Dominoes Videos: Making Impossible Possible</a></li>
          <li class="page_item page-item-33196"><a href="http://www.carblogindia.com/terms-conditions-ibw-2015-contest/">Terms and Conditions for IBW 2015 Contest</a></li>
        </ul>
        </div></div><!-- .widget /-->		</div>

    <div id="footer-second" class="footer-widgets-box">
      <div id="text-html-widget-8" class="text-html-box" style="text-align:center;">
        <script type="text/javascript"><!--
        e9 = new Object();
        e9.size = "300x250";
        //--></script>
        <script type="text/javascript" src="http://tags.expo9.exponential.com/tags/CarBlogIndiacom/ROS/tags.js"></script>			</div>
      <div id="categories-3" class="footer-widget widget_categories"><div class="footer-widget-top"><h4>Categories</h4></div>
        <div class="footer-widget-container">		<ul>
          <li class="cat-item cat-item-4"><a href="http://www.carblogindia.com/category/announcement/" title="announcement related to carblogindia.com">Announcement</a>
          </li>
          <li class="cat-item cat-item-26"><a href="http://www.carblogindia.com/category/technology/" title="car technology, bike technology,engine technology, mpfi,crdi,abs,eps,ecu, and other technology articles">Automobile Technology</a>
          </li>
          <li class="cat-item cat-item-16"><a href="http://www.carblogindia.com/category/tips/" title="car care tips, engine care tips, bike care tips, tips to increase mileage, tips for driving">Automobile Tips</a>
          </li>
          <li class="cat-item cat-item-1362"><a href="http://www.carblogindia.com/category/bike-news/" >Bike News</a>
          </li>
          <li class="cat-item cat-item-21"><a href="http://www.carblogindia.com/category/review/" title="car reviews, bike reviews, technology reviews">Car / Bike Review</a>
          </li>
          <li class="cat-item cat-item-121"><a href="http://www.carblogindia.com/category/auto-news/" title="Latest car news from all across the world on new car launches including major auto show, Motorsports, cars and motorcycles launch news.">Car News</a>
          </li>
          <li class="cat-item cat-item-6"><a href="http://www.carblogindia.com/category/comparison/" title="Comparison of Indian cars and motorcycles in similar price, size and features. Detailed specifications and feature wise comparisons by automobile experts.">Comparisons/ Features</a>
          </li>
          <li class="cat-item cat-item-1"><a href="http://www.carblogindia.com/category/uncategorized/" >Uncategorized</a>
          </li>
        </ul>
        </div></div><!-- .widget /-->		</div><!-- #second .widget-area -->


    <div id="footer-third" class="footer-widgets-box">
      <div id="text-18" class="footer-widget widget_text"><div class="footer-widget-top"><h4> </h4></div>
        <div class="footer-widget-container">			<div class="textwidget"><script type="text/javascript"><!--
        e9 = new Object();
        e9.size = "300x250";
        //--></script>
          <script type="text/javascript" src="http://tags.expo9.exponential.com/tags/CarBlogIndiacom/ROS/tags.js"></script></div>
        </div></div><!-- .widget /-->		</div><!-- #third .widget-area -->


  </div><!-- #footer-widget-area -->
  <div class="clear"></div>
</footer><!-- .Footer /-->

<div class="clear"></div>
<div class="footer-bottom">
  <div class="container">
    <div class="alignright">
    </div>
    <div class="social-icons">
      <a class="ttip-none" title="Rss" href="http://feeds.feedburner.com/carblogindia" target="_blank"><i class="fa fa-rss"></i></a><a class="ttip-none" title="Google+" href="https://plus.google.com/b/100728761440891359562/" target="_blank"><i class="fa fa-google-plus"></i></a><a class="ttip-none" title="Facebook" href="https://www.facebook.com/indiacarblog" target="_blank"><i class="fa fa-facebook"></i></a><a class="ttip-none" title="Twitter" href="https://twitter.com/carblogindia" target="_blank"><i class="fa fa-twitter"></i></a><a class="ttip-none" title="Pinterest" href="http://pinterest.com/carblog/" target="_blank"><i class="fa fa-pinterest"></i></a><a class="ttip-none" title="Youtube" href="http://www.youtube.com/carblogindia" target="_blank"><i class="fa fa-youtube"></i></a>
    </div>


    <div class="alignleft">
      © Copyright 2016 CarBlogIndia, All Rights Reserved		</div>
    <div class="clear"></div>
  </div><!-- .Container -->
</div><!-- .Footer bottom -->

</div><!-- .inner-Wrapper -->
</div><!-- #Wrapper -->
</div><!-- .Wrapper-outer -->
<div id="topcontrol" class="fa fa-angle-up" title="Scroll To Top"></div>
<div id="fb-root"></div>
<!-- Start Alexa Certify Javascript -->
<script type="text/javascript">
    _atrk_opts = { atrk_acct:"Bijsl1ak0EY1O7", domain:"carblogindia.com",dynamic: true};
    (function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
</script>
<noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=Bijsl1ak0EY1O7" style="display:none" height="1" width="1" alt="" /></noscript>
<!-- End Alexa Certify Javascript --><div id="reading-position-indicator"></div><script type='text/javascript' src='http://www.carblogindia.com/wp-content/plugins/akismet/_inc/form.js'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var tie = {"mobile_menu_active":"true","mobile_menu_top":"","lightbox_all":"true","lightbox_gallery":"true","woocommerce_lightbox":"","lightbox_skin":"dark","lightbox_thumb":"vertical","lightbox_arrows":"","sticky_sidebar":"1","is_singular":"1","SmothScroll":"true","reading_indicator":"true","lang_no_results":"No Results","lang_results_found":"Results Found"};
    /* ]]> */
</script>
<script type='text/javascript' src='http://www.carblogindia.com/wp-content/themes/sahifa/js/tie-scripts.js'></script>
<script type='text/javascript' src='http://www.carblogindia.com/wp-content/themes/sahifa/js/ilightbox.packed.js'></script>
<script type='text/javascript' src='http://www.carblogindia.com/wp-includes/js/wp-embed.min.js'></script>
<script type='text/javascript' src='http://www.carblogindia.com/wp-content/themes/sahifa/js/search.js'></script>
</body>
</html>