<div class="maincontainerCss" id="maincontainer">
<h2>About PlannTo.com</h2>
<div style="padding:5px 0px 50px 20px;">

<p>PlannTo.com provides a trusted platform for connecting buyers, owners and experts around a product or an interest. Knowledge shared between buyers, owners and experts are captured in a structured way to make it easier to share with new users.<p>

<p>
	Buyers can search for all the products available in the categories, reviews all the contents shared in buying guide and talk to owners of the product that he is considering to buy.
</p>

<p>
	Owners can follow the products that he owns, know the tips and tricks to use the product and know about the latest news about those products. He can also talk to other owners or experts to share the knowledge about the product or address any issues with the product. He can also follow various topics based on his interest associated to that product. Some examples of Topics are Landscape Photography, Bird Photography, Cycling Training, iOS Mobiles, etc.
</p>

<p> 
	Experts can follow various topics based on his interest and expertise. He can also help buyers in deciding the right product based on his preferences and owners in using the product or addressing the issues.
</p>

<p>
	Currently PlannTo.com is targeting Cars, Bikes, Cycles, Mobiles, Tablets and Cameras/Photography categories.
</p>
<div style="border-bottom: solid 1px #cdd3d7;display:block;" ></div>
<br/>

<h2> Team <h2>

<div style="padding:10px 10px 50px 20px">

	<div>
			<div style="float:left;">  
				<img src="/images/saravana.png"></img>
			</div>
			<div style="float:left;padding:0px 10px 10px 10px;">  
					<a href="/saravana" class="title txt_onhover"> Saravana Kumar P</a>
					<br/>
					Founder
					<br/>
				<a target="_blank" href="http://in.linkedin.com/pub/saravana-kumar/1/b17/638">		      
		          <img src="http://www.linkedin.com/img/webpromo/btn_profile_greytxt_80x15.png" width="80" height="15" border="0" alt="View Saravana Kumar's profile on LinkedIn">
        	    </a>
      				<br/>
        
    				</a>	
			</div>
			<br/>
			<div style="clear:both;border-bottom: solid 1px #cdd3d7;display:block;width:400px;padding-top:10px;" ></div>
	</div>

	<div style="padding:10px 0px 0px 0px;">
			<div style="float:left;">  
				<img src="/images/ganesh.jpg"></img>
			</div>
			<div style="float:left;padding:0px 10px 10px 10px;">  
					<a href="/ganeshprasadsr" class="title txt_onhover">Ganesh Prasad </a>
					<br/>
					RoR Expert
					<br/>
				<a target="_blank" href="http://in.linkedin.com/in/ganeshprasadsr">		      
		          <img src="http://www.linkedin.com/img/webpromo/btn_profile_greytxt_80x15.png" width="80" height="15" border="0" alt="View Ganesh Prasad's profile on LinkedIn">
        	    </a>
      				<br/>
        
    				</a>	
			</div>
			<br/>
			<div style="clear:both;border-bottom: solid 1px #cdd3d7;display:block;width:400px;padding-top:10px;" ></div>
	</div>
	<div style="padding:10px 0px 0px 0px;">
			<div style="float:left;">  
				<img src="/images/shanmukha.jpg"></img>
			</div>
			<div style="float:left;padding:0px 10px 10px 10px;">  
					<a href="/shanmukhakatta" class="title txt_onhover">Shanmukha Katta</a>
					<br/>
					Senior RoR Developer
					<br/>
				<a target="_blank" href="http://www.linkedin.com/pub/shanmukha-k/7/327/834">		      
		          <img src="http://www.linkedin.com/img/webpromo/btn_profile_greytxt_80x15.png" width="80" height="15" border="0" alt="View Shanmukha's profile on LinkedIn">
        	    </a>
      				<br/>
        
    				</a>	
			</div>
			<br/>
			<div style="clear:both;border-bottom: solid 1px #cdd3d7;display:block;width:400px;padding-top:10px;" ></div>
	</div>
	<div style="padding:10px 0px 0px 0px;">
			<div style="float:left;">  
				<img src="/images/prasanth.jpg"></img>
			</div>
			<div style="float:left;padding:0px 10px 10px 10px;">  
					<a href="/npprasanth8" class="title txt_onhover">Prasanth N.P. </a>
					<br/>
					Data Specialist
					<br/>
				<a target="_blank" href="http://in.linkedin.com/pub/prasanth-np/29/315/738">		      
		          <img src="http://www.linkedin.com/img/webpromo/btn_profile_greytxt_80x15.png" width="80" height="15" border="0" alt="View Prasanth's profile on LinkedIn">
        	    </a>
      				<br/>
        
    				</a>	
			</div>
			<br/>
			<div style="clear:both;border-bottom: solid 1px #cdd3d7;display:block;width:400px;padding-top:10px;" ></div>
	</div>

</div>	
</div>
</div>