<div id="maincontainer" class="maincontainerCss1">

<div class="Homeinnercontent">

<div class="Titledes">Trusted platform for buyers, owners and experts</div>


<div class="Homefourblocks">

<!--Planning to buy-->
<div class="Blueblockhome bighomeblock">
<span class="Buytag"></span>

<div class="Textdescriptions">
<h2>PlannTo Buy</h2>
<p>
Planning to buy a car, mobile, bike, cycle, tablet or camera?  Not aware of the various brands/ options? Confused about how to select a brand?
</p>
<p><br />
We make buying easier! Search for the product that suit your requirement, talk to experts and get advice, see what others recommend.
</p>
</div>



</div>
<!--Planning to buy-->

<!--Owners-->
<div class="Blueblockhome bighomeblock">
<span class="Ownertag"></span>

<div class="Textdescriptions">
<h2>Owners</h2>
<p>
Are you the proud owner of a car, mobile, bike, cycle, tablet or camera?
Here’re some tips and tricks to use your product effectively.
<br/><br/>
Having trouble with your gadget? Talk to fellow owners and experts who can troubleshoot.
Give your valuable advice to a prospective buyer.
</p>
</div>



</div>
<!--Owners-->

<!--Experts/Enthusiastic-->
<div class="Blueblockhome bighomeblock">
<span class="Expertstar"></span>

<div class="Textdescriptions">
<h2>Experts</h2>
<p>
Are you interested in cycling, photography, car, biking or gadgets and like to know about latest happening on those items or network with like-minded people.
<br/><br/>Are you a cycling/ biking enthusiast? A gadget guru? A know-it-all when it comes to cars? Your knowledge could help someone!
<br/>Want to know the latest trends in your area of interest? Network with like-minded people here.
</p>
</div>

</div>
<!--Experts/Enthusiastic-->
<div class="Loginblockhome Lastblock sign_in_home">
<%= render "/shared/home_login" %>
</div>


<div class="Loginblockhome Lastblock sign_up" style="display:none;">

<%= render "/shared/home_signup" %>

</div>



</div>
</div>
</div>
