<div id="maincontainer" class="maincontainerCss1">
<div class="Homeinnercontent">
 <!-- <link rel="stylesheet" href="slider/themes/default/default.css" type="text/css" media="screen" /> -->
    <link rel="stylesheet" href="slider/themes/light/light.css" type="text/css" media="screen" />
    <!-- <link rel="stylesheet" href="slider/themes/dark/dark.css" type="text/css" media="screen" /> -->
    <!-- <link rel="stylesheet" href="slider/themes/bar/bar.css" type="text/css" media="screen" /> -->
    <link rel="stylesheet" href="slider/nivo-slider.css" type="text/css" media="screen" />
  <div style="width:745px;margin-left:0px;float:left;border: solid 1px #cdd3d7;display:block;padding:0px;">
   <div id="wrapper">
        <div class="slider-wrapper theme-light">
            <div id="slider" class="nivoSlider">
                <img src="images/slider1_img.png" data-thumb="images/slider1.png" alt="" />
                <img src="images/slider2_img.png" data-thumb="images/slider2.png" alt=""  />
                <img src="images/slider3_img.png" data-thumb="images/slider3.png" alt="" />
            </div>
      
        </div>

    </div>
  </div>

    <div style="float:right;width:240px;">

          <%= render "/shared/home_signup" %>

    </div>

  
    <script type="text/javascript" src="slider/jquery.nivo.slider.js"></script>
    <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
    </script>
   </div>
 </div>
<br/>

<!--<div class="FaceImg" style="padding-left:300px;">
    <%= link_to image_tag('facebook_btn_signup.jpg'), user_omniauth_authorize_path(:facebook, :display=>"popup"), :class => "fbpopup" %>
     <span style="margin-left:50px;"><%= link_to image_tag('home_sign_up.png'),new_user_registration_path %></span>
   
 </div>-->
