<div id="maincontainer" class="maincontainerCss1">


<div class="Homeinnercontent">

	<div class="slider" id="slider1">
	<span onclick="slider3.style.display='block';slider1.style.display='none';" class="left_arrow"></span>
	<span onclick="slider2.style.display='block';slider1.style.display='none';" class="right_arrow"></span>
	<ul>
	 <li>
	<img src="/images/slider_3.png" alt="Sliderone" />
	<h1>Trusted Platform for Buyers, Owners, Sellers and Experts </h1></li>
	<li><p>
	1000s of products and Topics in Mobiles, Cars, Bikes, Cycles, Tablets and Cameras.<br/><br/>
	Follow each product as a buyer, owner or expert and share the knowledge about the product.<br/><br/>
	Get all the information about the product in a personalized way.<br/>

	 </p>
	</li>
	</ul>

	</div>
 	<div class="slider" id="slider2" style="display:none;">
	<span onclick="slider1.style.display='block';slider2.style.display='none';" class="left_arrow"></span>
	<span onclick="slider3.style.display='block';slider2.style.display='none';" class="right_arrow"></span>
	<ul>
	 <li>
<img src="images/slider2.png" alt="Sliderone" />
<h1>Search all available and upcoming products</h1></li>
<li><p>Search the products based on various preferences<br/>
 </p></li>
	</ul>

	</div>
	 	<div class="slider" id="slider3" style="display:none;">
	<span onclick="slider2.style.display='block';slider3.style.display='none';" class="left_arrow"></span>
	<span onclick="slider1.style.display='block';slider3.style.display='none';" class="right_arrow"></span><ul>
	 <li>
	<img src="images/slider_pic.png" alt="Sliderone" />
		<h1>Structured Knowledge about the product. </h1></li>
		<li><p>Each product information is structured in such way that it can be accessed based on the need.<br/><br/>
		Compare prices from various sellers for each product.<br/>
		</p>
	</li>

	</ul>

	</div>
	<!--
	<div style="padding-top:15px;clear:both;margin-left:380px;">	  <input type="button" class="Bluesubmithomespan" value="Sign In" 
		style="margin-right:20px;"/>
		  <input type="button" class="Bluesubmithomespan" value="Sign Up"/></div>-->
 </div>
</div>

