<div id="maincontainer" class="maincontainerCss">

<div class="Homeinnercontent">

<div class="Titledes">Trusted platform for buyers, sellers, owners and experts</div>


<div class="Homefourblocks">

<!--Planning to buy-->
<div class="Blueblockhome bighomeblock">
<span class="Buytag"></span>

<div class="Textdescriptions">
<h2>PlannTo Buy</h2>
<p>
Are you planning to buy a (car, mobile, bike, cycle, tablet or camera)? Are you not sure about what are the options available or confused about which one to buy?
</p>


<p><br />

Search the items that suits your requirements, talk to experts & owners of that item to get advice/recommendations on what is the best items for you.

</p>
</div>



</div>
<!--Planning to buy-->

<!--Owners-->
<div class="Blueblockhome bighomeblock">
<span class="Ownertag"></span>

<div class="Textdescriptions">
<h2>Owners</h2>
<p>
Are you a proud owner of a (car, mobile, bike, cycle, tablet or camera). Do you like to know what are the tips/tricks for using the item effectively or talk to fellow owners and experts to troubleshoot any issues.
Help the person who is going planning to buy similar item like you.
</p>
</div>



</div>
<!--Owners-->

<!--Experts/Enthusiastic-->
<div class="Blueblockhome bighomeblock Lastblock">
<span class="Expertstar"></span>

<div class="Textdescriptions">
<h2>Experts/Enthusiastic</h2>
<p>
Are you interested in (cycling, photography, car, biking or gadgets) and like to know about latest happening on those items or network with like-minded people.
</p>
</div>



</div>
<!--Experts/Enthusiastic-->


</div>


</div>

</div>
