<div  style="line-height:16px;">
<h3> Opt Out </h3>
<br/>

The persistent cookie that we use for advertising is created to track what are the product advertisements served to you so that we can avoid showing the same advertisement multiple times to you or serve the advertisement that is interesting to you. We also use this information for reporting and analysing the data. This cookie doesn’t contain any of your personal information. You can opt out of this cookie tracking from this by clicking on that following button.

<br/>
<br/>

<%= button_to "Opt Out", {action: "opt_out_submit"} %>

<br/>

Note - We create a additional opt-out cookie when you click on this button, if you choose to opt out.  We rely on this cookie to identify you as an opted-out user. We will not track your anonymous user behaviour data or show customised advertisements if you have opted-out. However, you might be shown ads that are not customised based on your interests and preferences but based on the content/context of the web page.

<br/>
</div>