<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />

	<title>PlannTo Targeting - Right Advertisements at Right Place</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="HandheldFriendly" content="true">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Import CSS -->
	<link rel="stylesheet" href="/stylesheets/targeting/main.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<script src="/javascripts/targeting/jquery.min.js"></script>
	<script src="/javascripts/targeting/jquery.easing.min.js"></script>
	<script src="/javascripts/targeting/jquery.scrollto.min.js"></script>
	<script src="/javascripts/targeting/slabtext.min.js"></script>
	<script src="/javascripts/targeting/jquery.nav.js"></script>
	<script src="/javascripts/targeting/main.js"></script>
	<link href='<%= configatron.root_image_path %>static/images/logosc.png' rel='shortcut icon' type='image/x-icon'>
</head>
<!-- To change color change the class "color-1" to "color-2, color-3 ... color-6" -->
<body class="home color-2">
	<div id="header">
		<div class="container">

			<div class="row">

					<i id="nav-button" class="icon-circle-arrow-down"></i>
					<h2 id="logo"><a href=""> <span class="highlight" style="text-transform: none;font-weight: 600;letter-spacing: 1px;">PlannTo</span></a></h2>
				

				<div id="top-nav" class="">
					<ul id="fixed-nav">
						<li class="current"><a href="#home">Home</a></li>
						<li><a href="#services">Services</a></li>
						<li><a href="#aboutus">About Us</a></li>
						<li><a href="#contact">Contact Us</a></li>
                        <li><%= link_to "Products", home_products_path, :class => "external" %></li>
                          <% if current_user %>
                              <li><%= link_to "Logout", destroy_user_session_path, :class => "external" %></li>
                          <% else %>
                              <li><%= link_to "Sign In", new_user_session_path, :class => "external" %></li>
                          <% end %>
                        </li>
					</ul>
				</div>

			</div>
		</div>
	</div><!-- End Header -->
	<!-- Big Full screen Banner -->
	<div class="hero bg-fixed bg-color" id="home">

		<div class="slogan">
			<div  class="vcenter container">

				<div class="row">

					<div class="span12">
						<h1>We Deliver Right Advertisements at Right Place.</h1>
					</div>
				</div>
			</div>
		</div>


	</div>
	<!-- End Full screen banner  -->
	<!-- Services Section -->
	<!-- class section-alt is to give a different color please edit css/style.css to change the color -->
	<div class="section section-alt" id="services">
		<div class="container">
			<div class="content">
				<div class="row" >
					<div class="title">
						<h2>Our Services</h2>
						<div class="hr hr-small hr-center"><span class="hr-inner"></span></div>
						<p>We provide solutions for delivering the right advertisements at the right place.</p>
					</div>
				</div>
				<div class="row">
					<div class="span4 i-block">
						<h3>Product Based Audience Targeting</h3>
						<p>Advertisers - Target a user based on the products that they are looking for. For Example, if you are selling Samsung Galaxy SIV at special price, you can show your offer details if someone is looking for Samsung Galaxy SIV mobile. </p>
					</div>
					<div class="span4 i-block">
						<h3>Intent Based Audience Targeting</h3>
						<p>Advertisers - Target a user based on their intent. For example, you can show your information to a user if he is intent to buy a mobile within certain price range. Intent of the user is captured from the content user is reading. </p>
					</div>
					<div class="span4 i-block">
						<h3>Best Prices Widget </h3>
						<p>For Publishers - Show the best prices of the product discussed in that page. If you are writing a review about a product, you can include this widget to show the best prices for that product from leading stores in India inside that page itself. <a href="#features" style="color: gray;font-style: italic;font-size: 12px;">More Details</a></p>
					</div>
				</div>
				<div class="hr hr-invisible"></div>
				<div class="row">
					<div class="span4 i-block">
						<h3>Products Search Widget</h3>
						<p>For Publishers - Provide an option for users to search for any product in a particular category and check out all the details about the product which includes specifications, best prices and offers.<a href="#features" style="color: gray;font-style: italic;font-size: 12px;">More Details</a></p>
					</div>
					<div class="span4 i-block">
						<h3>Best Offers Widget</h3>
						<p>For Publishers - Show the best offers of the product discussed in that page. If you are writing a review about a product, you can include this widget to show the best offers for that product from leading stores in India inside that page itself. <a href="#features" style="color: gray;font-style: italic;font-size: 12px;">More Details</a></p>
					</div>
					<div class="span4 i-block">
						<h3>Hotel Booking Widget</h3>
						<p>For Publishers - Provide an option for users to book a hotel/package from your site itself. If you are writing a travelogue about a place that you recently visited, you include this widget in that page to provide an option for users to check the availability of hotels in that place and also book it directly from your page.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Services Section -->
	<!-- About Us section -->
	<div class="section" id="aboutus">
		<div class="container">
			<div class="content">
				<div class="row">
					<div class="span12">
						<div class="title">
							<h2>About Us</h2>
							<div class="hr hr-small hr-center"><span class="hr-inner"></span></div>
							<p>We are trying to change the way display advertisement works.</p>

						</div>
						<p class="text-center" style="font-size:14px;">  
						We are trying to change the way display advertisment works by delivering the right advertisment at the right place. Our goal is to make each and every advertisement shown is related to the content and its useful to the user.
						</p> 
						<p class="text-center" style="font-size:14px;">
						As part of our parent site (www.plannto.com), we capture lots of semantic information on all the contents written around the products using our content aggregation model. We believe these contextual information can be used for many other purposes. One of the innovative ways in which we like to use this contextual information is by providing various ways for targeting the users based on the context. Using this targeting approach, we can reach the right audience and deliver the right advertisement at the right place and at the right time which would be interesting to the user. 
						</p>
						<p class="text-center" style="font-size:14px;">	
						We are bunch of really curious people trying to find the solution to improve the way advertisement works online. If you like to join us in this, reach us @ admin@plannto.com. 
						</p>
						<p class="text-center">
							
						</p>
					</div>
				</div>
			</div>
		</div> 

	</div>
	<!-- End About US -->
	<!-- Features Section -->
	<div class="section section-alt" id="features">
		<div class="container">
			<div class="content">
				<div class="row">
					<div class="span12">
						<div class="title">
							<h2>Widgets</h2>
							<div class="hr hr-small hr-center"><span class="hr-inner"></span></div>
							<p style="font-size:14px;">Javascripts Widgets for Publishers. These widgets can be added to any web pages without much effort. This widget will automatically understand context/product that is discussed in the page and show the right information (best prices/offers) on that page. This widget can be added by adding two lines of javascrict code.</p>
						</div>
					</div>
				</div>
				<div style="padding-bottom: 20px;text-align:center;">
					<img src="/images/BestOffers.png" style="height: 200px;padding-right: 30px;">
					<img src="/images/BestPrice.png" style="height: 200px;padding-right: 30px;">
					<img src="/images/SearchWidget.png" style="height: 200px;">
				</div>
				<div style="text-align:center;">
					<div>						<h3>Customers</h3>	</div>
					<div class="hr hr-small hr-center"><span class="hr-inner"></span></div>
				<div>
					<img src="/images/igyaan.png" style="height: 40px;padding-right: 20px;">
					<img src="/images/gadgetstouse.png" style="height: 30px;padding-right: 20px;">
					<img src="/images/mobigyaan.png" style="height: 30px;padding-right: 20px;">
					<img src="/images/nothingwired.png" style="height: 40px;padding-right: 20px;">
					<img src="/images/technodify.png" style="height: 35px;padding-right: 20px;">
					
					</div>
				</div>

						</div>
		</div>
	</div> 
	<!-- End Features -->
	<!-- Contact Section -->
	<div class="section" id="contact" >
		<div class="container">
			<div class="content">
				<div class="row">
					<div class="span12">
						<div class="title">
							<h2>Contact Us</h2>
							<div class="hr hr-small hr-center"><span class="hr-inner"></span></div>
							<p>We bring a personal and innovative approach to every advertisements served to our customers.</p>

						</div>
					</div>
					<div class="span8">
						<iframe width="100%" height="317" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Raja Rajeswari Niwas, GB Palya, Bangalore&amp;ll=77.632057,12.897808,0.000000z=13&amp;iwloc=A&amp;output=embed"></iframe>
					</div>
					<div class="span4">
						<h4>Our Location</h4>
						<p>C211, Raja Rajeswari Nivas, Vajpayee Nagar, Bangalore.</p>
						<hr class="grey"/>
						<h4>Email &amp; Phone</h4>
						<p>admin@plannto.com</p>
						<p>080-41624874</p>
						<hr class="grey"/>
						<h4>Socialize With Us</h4>
						<div class="social">
							<a href="http://www.facebook.com/PlannTo" style="margin:7px;padding: 0;width: 28px;height: 28px;display: inline-block;vertical-align: middle;"><i class="icon-facebook-sign"></i></a>
							<a href="http://www.twitter.com/PlannTo" style=";margin: 7px;padding: 0;width: 28px;height: 28px;display: inline-block;vertical-align: middle;"><i class="icon-twitter-sign"></i></a>
							<a href="https://plus.google.com/u/0/b/105048081936674725276/" style="margin: 7px;padding: 0;width: 28px;height: 28px;display: inline-block;vertical-align: middle;"><i class="icon-google-plus-sign"></i></a>
						</div>

					</div>
				</div>
			</div>
		</div> 

	</div>
	<!-- End Contact Section -->
	<div id="footer">
		&copy; 2013 PlannTo Technologies Private Limited. <a id="attribution" href="/privacy_policy">Privacy Policy</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a id="attribution" href="/opt_out">Opt Out</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a id="attribution" href="/terms_conditions">Terms and Conditions</a> <br/>
		<div style="
    font-size: 10px;
">Designed with lots of love at <a id="attribution" href="http://www.mrova.com">mRova</a>.</div>
	</div>
</body>
</html>