<div class="maincontainerCss2" id="maincontainer2">

<h2><center>Terms and Conditions</center></h2>
<b>Welcome to PlannTo.com.</b>
<p>PLEASE READ THESE TERMS OF USE CAREFULLY. BY ACCESSING THE SITE OR USING THE SERVICES YOU AGREE TO BE BOUND BY THESE TERMS OF USE. IF YOU DO NOT WISH TO BE BOUND BY THESE TERMS OF USE, YOU MAY NOT ACCESS OR USE THIS SITE.</p>
<h3>Key Content-Related Terms</h3>
"Collective Content" means, collectively, PlannTo Content and Member Content.
<p>"Content" means text, graphics, images, music, software, audio, video, information or other materials.</p>
<p>"Member" means a person who completes PlannTo account registration process.</p>
<p>"Member Content" means Content that a Member posts, uploads, publishes, submits or transmits to be made available through the Site, Services or Application.</p>
<p>"PlannTo Content" means Content that PlannTo makes available through the Site, Services or Application, including any Content licensed from a third party, but excluding Member Content.</p>
<h3>Member Content</h3>
You will be entirely responsible for each individual item of Content that you post on the Site or through the Services. As between you and us, you retain ownership and any intellectual property rights in the Content you post or otherwise make available through the Site or Services.
<p>For us to do what we do, you grant us a perpetual, irrevocable, non-exclusive, royalty-free, fully paid, fully sublicenseable, worldwide license, under any and all of your copyright and other intellectual property rights related to that Content, to use, reproduce, display, perform, display, create derivative works of and otherwise exploit any Content you make available through the Site or Services. You agree that any such Content or any derivative works may be disseminated, distributed, publicly displayed, reproduced, used, sublicensed, posted, or published by us (with or without attribution to you), and searched, displayed, printed or otherwise used or exploited by our customers. To the extent you include personally identifiable information in your Content, we will not be liable for such disclosure. </p>
<p>You represent and warrant that you will not post or use any Content in any manner that: 1. Infringes the copyright, trademark, trade secret, or other intellectual property or proprietary right of others; 2. Violates the privacy, publicity, or other rights of third parties or any other law, statute, ordinance or regulation; 3. Is false or inaccurate or becomes false or inaccurate at any time; 4. Is discriminatory, unlawful, tortious, obscene, fraudulent, defamatory, harmful, threatening, pornographic, indecent, vulgar, harassing, discourteous, hateful, abusive or racially, ethnically, religiously, sexually or otherwise offensive, as determined by us in our sole discretion; 5. Discloses or provides information protected under any law, agreement or fiduciary relationship, including but not limited to proprietary or confidential information of others; 6. Misrepresents your identity in any way; 7. Contains any viruses, Trojan horses, spyware. malware, worms, time bombs, cancelbots, or other disabling devices or other harmful component intended to damage, detrimentally interfere with, surreptitiously intercept or expropriate any system, data or personal information; 8. Advocates or encourages any illegal activity; or 9. Has the potential to create liability for us or cause us to violate the requirements of or to lose the services, in whole or in part, of our Internet service providers or other suppliers.</p>
<h3>PlannTo Content</h3>
PlannTo does not warrant that product descriptions, pricing, or any other content of the Site, regardless of its source, is accurate, complete, reliable, current or error-free. Site content is provided for informational purposes only and does not constitute an endorsement by PlannTo of any product, merchant, seller, service, or any reviews or comments thereof regardless of the source of such review or comment. PlannTo assumes no liability for inaccuracy or incompleteness in its search results, user ratings (e.g. experts ratings(shared), or user rating) or other content on the Site.
<br/>
<br/>
<h3>Links</h3>
The Site may contain links to third-party websites or resources. You acknowledge and agree that PlannTo.com is not responsible or liable for: (i) the availability or accuracy of such websites or resources; or (ii) the content, products, or services on or available from such websites or resources. Links to such websites or resources do not imply any endorsement by PlannTo of such websites or resources or the content, products, or services available from such websites or resources. You acknowledge sole responsibility for and assume all risk arising from your use of any such websites or resources.
<br/>
<br/>
<h3>Feedback.</h3> 
We encourage everyone to provide their feedbacks for improving the site. In the event that you provide us any ideas, thoughts, criticisms, suggested improvements or other feedback related to the Site or the Services (collectively “Feedback”), you agree we may use the Feedback to modify our Services or create new Services and that you will not be due any compensation, including any royalty related to the product or service that incorporates your Feedback.
<br/>
<br/>
<h3>Social Networks.</h3>
 In using certain Services, you authorize us to act on your behalf to access and interact with social networking sites such as Facebook (any such site, a “SN Site”) to retrieve information from, and/or submit information to, such SN Sites at your request. We will not collect your username and password, and we will instead store the unique authorization code (or a “token”) provided to us by the SN Site to access it on your behalf. You can revoke our access to an SN Site at any time by amending the appropriate settings from within your account settings on that site. You should note that an SN Site may change or amend its guidelines and our access to it at any time, and we cannot guarantee that our Services will always include a connection to such SN Site.
 <br/>
 <br/>
<h3>Modifications to the Site and Services</h3>
We reserve the right to modify or discontinue the Site or Services with or without notice to you. We will not be liable to you or any third party should we exercise our right to modify or discontinue the Site and/or Services.
<br/>
<br/>
<h3>Copyright Violations.</h3> 
We respect the intellectual property of others, and we ask you to do the same. If you believe that your work has been copied in a way that constitutes copyright infringement, please provide our copyright agent the following information:
<p>1.An electronic or physical signature of the person authorized to act on behalf of the owner of the copyright interest;</p>
<p>2.A description of the copyrighted work that you claim has been infringed;</p>
<p>3.A description of where the material that you claim is infringing is located on the Site or Services;</p>
<p>4.Your address, telephone number, and email address;</p>
<p>5.A statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; and</p>
<p>6.A statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner's behalf.
via email at admin@plannto.com.</p>
<h3>Privacy</h3>
See PlannTo Privacy Policy at <a href="/privacy_policy">http://www.plannto.com/privacy_policy</a>.
</br/>
<br/>
<h3>Disclaimers</h3>
THE SITE, APPLICATION, SERVICES AND SITE CONTENT ARE PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED. WITHOUT LIMITING THE FOREGOING, PARTYSTARTER EXPLICITLY DISCLAIMS ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, QUIET ENJOYMENT OR NON-INFRINGEMENT, AND ANY WARRANTIES ARISING OUT OF COURSE OF DEALING OR USAGE OF TRADE. COLD BREW LABS MAKES NO WARRANTY THAT THE SITE, APPLICATION, SERVICES OR SITE CONTENT WILL MEET YOUR REQUIREMENTS OR BE AVAILABLE ON AN UNINTERRUPTED, SECURE, OR ERROR-FREE BASIS. PARTYSTARTER MAKES NO WARRANTY REGARDING THE QUALITY OF ANY PRODUCTS, SERVICE OR SITE CONTENT OBTAINED THROUGH THE SITE, APPLICATION OR SERVICES OR THE ACCURACY, TIMELINESS, TRUTHFULNESS, COMPLETENESS OR RELIABILITY OF ANY SITE CONTENT OBTAINED THROUGH THE SITE, APPLICATION OR SERVICES.
YOU ARE SOLELY RESPONSIBLE FOR ALL OF YOUR COMMUNICATIONS AND INTERACTIONS WITH OTHER USERS OF THE SITE, APPLICATION OR SERVICES AND WITH OTHER PERSONS WITH WHOM YOU COMMUNICATE OR INTERACT AS A RESULT OF YOUR USE OF THE SITE, APPLICATION OR SERVICES. YOU UNDERSTAND THAT COLD BREW LABS DOES NOT SCREEN OR INQUIRE INTO THE BACKGROUND OF ANY USERS OF THE SITE, APPLICATION OR SERVICES, NOR DOES PARTYSTARTER MAKE ANY ATTEMPT TO VERIFY THE STATEMENTS OF USERS OF THE SITE, APPLICATION OR SERVICES. PARTYSTARTER MAKES NO REPRESENTATIONS OR WARRANTIES AS TO THE CONDUCT OF USERS OF THE SITE, APPLICATION, OR SERVICES OR THEIR COMPATIBILITY WITH ANY CURRENT OR FUTURE USERS OF THE SITE, APPLICATION OR SERVICES. YOU AGREE TO TAKE REASONABLE PRECAUTIONS IN ALL COMMUNICATIONS AND INTERACTIONS WITH OTHER USERS OF THE SITE, APPLICATION OR SERVICES AND WITH OTHER PERSONS WITH WHOM YOU COMMUNICATE OR INTERACT AS A RESULT OF YOUR USE OF THE SITE, APPLICATION OR SERVICES, PARTICULARLY IF YOU DECIDE TO MEET OFFLINE OR IN PERSON.
<br/>
<br/>
<h3>Contacting Us.</h3>
If you have any questions or concerns about our Site, or anything else, please send an e-mail to admin@plannto.com.
</div>