<div id=<%= "answers#{answer.id}"%> class="answerblock" style="min-height: 60px;" >
	<%= render :partial => 'votes/vote_block', :locals => {:parent => answer, :vote => nil } %>
	<%= answer.content %>
	<div class="answercomments">
		<a class="invokecomment" href="#">comment</a>
		<%= render :partial => 'comments/new_comment', :locals => {:parent => answer.class.name, :parent_id => answer.id}  %>
	</div>
</div>	 
<% #answer.user.fetch_vote(answer) %>