<div id='answers'>
<%= render :partial => 'answers/answer', :collection => answers %>
 <a class="invokeanswers" href="javascript:void(0)">Answer This</a>
 <%= render :partial => 'answers/new_answer', :locals => {:parent => @question}  %>       
</div>


