<div class="">
  <span>
    <%if can_update_preference?(@buying_plan)%>
     
    <%end%>
      <%if request.xhr?%>
      <div id="btnDiv" style="height:100px;display:block;">
      <div id="preferenceSpinner"></div>
    </div>
      <%end%>
  </span>
</div>
<div id="photo_box"  style="padding:20px 00px 0px 85px;">
<div class="clear"></div>
<% items.each do |follow| %>
    <% item = follow.followable %>
    <div id="img_box_1">
<div class="img_box">
<div class="float_left"><a href="#"><img src="<%= item.image_url %>" alt="center" width="160" height="100" border="0" style="" /></a></div>
</div>
</div>
    <%end%>
 
</div>

<%= hidden_field_tag "buying_plan_id", @buying_plan.id %>
<%= hidden_field_tag "per_page_value", @per_page || ""%>
<script type="text/javascript">
  $('#updatePreference').click(function() {
window.location.href = '<%="/preferences/#{@buying_plan.itemtype.itemtype.downcase!}/#{@buying_plan.uuid}"%>'
  });
 
</script>
