<div class="popup-background">
  <a href="#" class="Closebut">&nbsp;</a>
 <b> Give descision why you owned this item? </b>
<%= form_for :buying_plan,:url => { :controller => "preferences", :action => "owned_description_save" }, :html => {:id => "saveowneddescriptionForm"} ,:remote => true do |f|%>
  <%= f.hidden_field :plan_id,:value => @plan.id %>
  <%= f.text_area :owned_item_description, :rows=>10, :cols=>60%><br/>
  <%= f.submit "Give Decision", :class=> 'suggestionButton' %>
<% end %>

</div>
