<div class="Close_dialog" style="width:43px;overflow:hidden;height:42px;background:url(/images/pclose_but.png) no-repeat left top;position:relative;left:540px;text-indent:-9999px; top:-12px;" onclick="$('.ui-dialog-content').dialog('destroy')"></div>
<div class="search_block">
   <b> Select <%=@buying_plan.itemtype.itemtype.downcase %> that you owned.</b>
    <div class="title_header" style="padding:0px 0px 0px 25px;width:450px;height:26px;">
        <input style="margin-top:5px;width:350px; float:left;font-size:14px;min-height:20px;" placeholder="Select <%=@buying_plan.itemtype.itemtype.downcase %>" type="text" value="" id="product"/><input style="float:left;margin-top:5px;" class="wizardbutton" type="button"/>
        <!-- Commenting out temporarily -->
         <%#= link_to "Send Report", contact_us_path(:type => "WizardTopic"),:remote=> :true %>
    </div>
     <%= render "shared/ajax_loader" %>
    </div>
<script>
   $(document).ready(function() {
$("#product").autocomplete({
        minLength:2,
        format:"js",
        // source: "/search/autocomplete_items?search_type=" + $("#plannto_search_type").val() ,
        source:function (request, response) {
            var opts = {
                lines:12, // The number of lines to draw
                length:5, // The length of each line
                width:4, // The line thickness
                radius:5, // The radius of the inner circle
                color:'#2EFE9A', // #rgb or #rrggbb
                speed:1, // Rounds per second
                trail:50, // Afterglow percentage
                shadow:true, // Whether to render a shadow
                hwaccel:false // Whether to use hardware acceleration
            };
//       var target = document.getElementById('search_car');
//       var spinner = new Spinner(opts).spin(target);
            $.ajax(
                {
                    url:"/search/autocomplete_items",
                    data:{
                        term:$("#product").val(),
                        type: "owner",
                        authenticity_token: window._token,
                        
                    },
                    type:"POST",
                    dataType:"json",
                    success:function (data) {
                        response($.map(data, function (item) {
                            return{
                                id:item.id,
                                value:item.value,
                                imgsrc:item.imgsrc,
                                type:item.type,
                                url:item.url
                            }
                        }));
//           spinner.stop();
                    }
                });
        },
        focus:function (e, ui) {
            return false
        },
        select: function( event, ui ) {
            
            $.ajax(
                {
                    url:"/preferences/owned_item",
                    data: {
                    item_id: ui.item.id,
                    },
                    type:"GET",
                    dataType:"script",
                    
                });
               
        }
    })
        $("#product").data("autocomplete")._renderItem = function (ul, item, index) {
        if (index == -1) {
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a class='searchMore'>" + item.value + "" + "</a>")
                .appendTo(ul);
        }
        else {
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append('<a>' + "<div style='margin-left:5px;float:left'><img width='40' height='40' src='" + item.imgsrc + "' /></div>" + "<div style='margin-left:53px;'><span class='atext'>" + item.value + "</span><br/><span class ='atext'>" + item.type + "</span></div></a>")
                .appendTo(ul);
        }
    }
});
</script>

