   <table width="251" height="38" border="0" cellspacing="0" cellpadding="0" style="border:solid 1px #cdd3d7;">
    <tr>
      <td class="bg_widgethdr txt_white">Buying Preferences </td>
    </tr>
     <tr>
     <td> <%if @preferences_list.blank? %>
          <div style="padding:5px;">
            <%if can_update_preference?(@buying_plan) && !@buying_plan.completed?%>
               <strong> You havent provided your buying preferences yet, please specify your preferences here to have a better personalized page. </strong>
            <%else%>
					     <strong> Currently there are no preferences. </strong>
            <%end%>
          </div>
 				 <%end%> </td>  </tr>
 				   <tr>
      <td valign="top">
       <table width="226" border="0" cellspacing="0" cellpadding="0" align="center">
       	<tr> 

					<div style="padding:5px;"><ul style="width:240px;" class="search_category" id="buyingPreferences"></ul></div>
          <br/>
            <%if can_update_preference?(@buying_plan) && !@buying_plan.completed?%>
                
                <a id="editPreferences" class="btn_submitanswer" href="" style="margin-right:10px;margin-top:10px;"><%if  @preferences_list.size == 0 %> Add Preferences <%else%> Edit My Preferences<%end%></a>
            <%end%>					
					
					</tr>
        </table>
        </td>
    </tr>
   
  </table>
  <br/>
<br />
 				   
 		   
 				   
 				   
 				   
 				   
 				   
 				   
				
		</table>
