if(window.opener) {
 window.close();
<%if @facebook_post != "1" %>
  window.location.href = "<%= "#{session[:return_to]}" %>"
 <%else%>
    window.location.href = "/oauth/new";
<%end%>
}
<% if @title_error == true %>
  alert("Please Enter Title.");
<%else%>
<%if params[:content_create_form_type] == "Popup"%>
 <% if @products_error == true %>
    $("#products_error").html("<h2>Please select at least one product.</h2>");
 <%else%> 
   $("#contentEditView").dialog('close');
   $(".ui-dialog").css("display", "none");
  <%if @display!='false' %> 
    alert("Thank You,Content Created Sucessfully.")
    $("#newContentList").append('<%= escape_javascript(render_content_type(@reviewcontent)) %>');
    
   <%else%>
   alert("<%= "Thank you for sharing this review. Its sent for review, once it is approved it would be available for others." %>")
   <%end%>
 <%end%>  
<%else%> 
 $("#contentEditView").dialog('close');
$(".ui-dialog").css("display", "none"); 
 $('#new_review_content')[0].reset();
  $('div#articleReviewSubContainer div#notification').fadeIn('slow');
  setTimeout("$('div#articleReviewSubContainer div#notification').fadeOut('slow');", 5000);
  <%if @display!='false' %>
  $("#newContentList").append('<%= escape_javascript(render_content_type(@reviewcontent)) %>');
  <%end%>
 <%if @reviewcontent.errors.empty? %>
 $("#review_it").html("");
 <%end%>
<%end%>

 <% if @facebook_post == "1" %>
window.location.href = "/oauth/new";
<%end%>

<%end%>

