<%if params[:content_create_form_type] == "Popup"%>
 <% if @products_error == true %>
    $("#products_error").html("<h2>Please select at least one product.</h2>");
 <%else%> 
   $("#contentEditView").dialog('close');
   $(".ui-dialog").css("display", "none"); 
   $("#newContentList").append('<%= escape_javascript(render_content_type(@reviewcontent)) %>');
 <%end%>  
<%else%> 
 $("#contentEditView").dialog('close');
$(".ui-dialog").css("display", "none"); 
 $('#new_review_content')[0].reset();
  $('div#articleReviewSubContainer div#notification').fadeIn('slow');
  setTimeout("$('div#articleReviewSubContainer div#notification').fadeOut('slow');", 5000);
  $("#newContentList").append('<%= escape_javascript(render_content_type(@reviewcontent)) %>');
 <%if @reviewcontent.errors.empty? %>
 $("#review_it").html("");
 <%end%>
<%end%>

 



