<span><%= check_box_tag("add_to_compare_#{item.id()}", nil,false ,:checked => nil,
                                :class => "add-compare", :rel =>item.id())%>
              <span>Add to Compare</span>

        </span>