<div class="compare-view">
  <img alt="car" class="mediumimage" src="/assets/MarutiRitz_100x60.jpg"/>
      <div>
        <%= item.name %>
      </div>

      <div>
        <%= item.description %>
      </div>
      <hr/>
</div>