<div id="compare-list" class="productcontentmain" style="display:none">
  <span id="compare-items"><%= link_to(("<span>Compare</span>").html_safe, compare_items_path + '?ids=0' , :class => "imageButtonAsk") %></span>
</div>