<div class="uiHeaderSection">
  <div class="uisidepanelheadercontent">
    Top Hatchback Cars
  </div>
</div>
<div class="uiSidePanelContent">
  <div class="uisidePanelContent">
    <div>
      <img alt="car" class="mediumimage" src="/assets/MarutiRitz_100x60.jpg"/>

      <div>
        Maruti Ritz
      </div>
      <div>
        3 Star Rating
      </div>
      <div>
        <a class="feedlink">Follow</a>
      </div>
      <div>
        Rahul, Deepak and 100 other people owns this.
      </div>
      <hr/>
    </div>
    <div>
      <img alt="car" class="mediumimage" src="/assets/Lancer.jpg"/>

      <div>
        Maruti Ritz
      </div>
      <div>
        3 Star Rating
      </div>
      <div>
        <a class="feedlink">Follow</a>
      </div>
      <div>
        Rahul, Deepak and 100 other people owns this.
      </div>
      <hr/>
    </div>
  </div>
  <div>
    <a class="feedlink centeritem">More Items...</a>
  </div>
</div>