<div class="uiHeaderSection">
  <div class="uisidepanelheadercontent">
    Related Cars
  </div>
</div>
<div class="uiSidePanelContent">
  <div class="uisidePanelContent" id="uisideRelatedProduct">



  </div>
  <div>
    <a class="feedlink centeritem">More Items...</a>
  </div>
</div>