<div class="leftcolumnbig">
<div class="Entrytile">
  <h1>Thank You for Associating with the Car</h1>
</div>

<div class="Reviewlist">
    <span class="Number">1</span>
    <div class="Reviewlistdetail">
        <h1>
          <a href="#">Review of the Car</a>
        </h1>
        <p>
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        Natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.
        </p>
        <div class="Bluebutton">
          <%= link_to content_tag(:span,"Review it"), review_it_product_path(), :remote => true%>
        </div>

    </div>
    <div id="review_it"></div>
</div>
<!--listing 1-->

<!--listing 2-->
<div class="Reviewlist">
    <span class="Number">2</span>
    <div class="Reviewlistdetail">
        <h1>
          <a href="#">Answer the Questions </a>
        </h1>
        <p>
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        Natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.
        </p>
        <div class="Bluebutton">
            <a href="#">
              <span>Answer it</span>
            </a>
        </div>
    </div>
</div>
<!--listing 2-->

<!--listing 3-->
<div class="Reviewlist">
    <span class="Number">3</span>
        <div class="Reviewlistdetail">
            <h1>
              <a href="#">Add more information about this <%=item.name%> </a>
            </h1>
        <p>
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          Natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.
        </p>
            <div class="Bluebutton">
                <%= link_to content_tag(:span, "Answer it"), add_item_info_product_path(), :remote => true %>
            </div>
        </div>
        <div id="add_item_info"></div>
</div>
<!--listing 3-->
    <div></div>
</div>

<div class="rightcolumnsmall">
<!--top tips start here-->
    <div id="Toptips">
        <div class="Headingtitle">
          <h1>Top tips</h1>
        </div>
    <div class="Tipsmidder">
        <ol>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua.
            </li>

            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua.
            </li>

            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua.
            </li>

            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua.
            </li>
        </ol>

    </div>

</div>
<!--top tips end here-->

</div>



