<div id="compare-list" class="productcontentmain" style="display:none">
  <span id="compare-items"><%= link_to(("<span>Compare</span>").html_safe, compare_items_path + '?ids=0' , :class => "imageButtonAsk") %></span>
</div>

<%@items.each do |item|%>
    <div class="usual">
      <div>
        <img class="productimage" src="/assets/Fiat_Grande_Punto__175.jpg"/>
        <span class="producttitle"><%= item.name %></span>
      </div>
      <div>
        <div id="tabs2" class="main-content-section">
          <%= render :template => 'products/specification', :locals => { :@item => item } %>
        </div>
      </div>
    </div>
    <br style="clear:both;" />
<% end %>

<script type="text/javascript">

  keys = ($.cookie('allItems')||'').split(',')
  url = $('#compare-items a').attr('href')
  for(i=0; i < keys.length; i++){
    value = $.cookie(keys[i]);
    if(value != null){
     $('#compare-list').append(value);
     $('#add_to_compare_' + keys[i] ).attr('checked',true);
     url = url + ',' + keys[i]
    }
  }
  $('#compare-items a').attr('href', url);
  if($('#compare-list div.compare-view').length == 0){
    $('#compare-list').hide();
  }else if($('#compare-list div.compare-view').length > 1){
    $('#compare-list').show();
    $('#compare-items').show();
  }else{
    $('#compare-list').show();
    $('#compare-items').hide();
  }

        
</script>