<h1>Editing item</h1>

<%= render :partial => 'form', :locals => {:button_name => "Update"} %>

<%= link_to 'Back', update_page_items_path, :class => "btn_submitanswer" %>
<%= link_to 'Delete', item_path, :method => :delete, :class => "btn_submitanswer" %>
<%= link_to 'Show', @item, :class => "btn_submitanswer" %>