<div class="alert-notice">
  <% if !flash[:notice].blank? %>
      <span class="notice"><%= flash[:notice] %></span>
  <% elsif !flash[:alert].blank? %>
      <span class="alert"><%= flash[:alert] %></span>
  <% end %>
</div>
<br/>
<br/>

<%= form_for :search do  %>
    <div id="shareProduct">
      <div class="title_header input-label float_lft">Select Product to Update:</div>
      <div class="taggingdiv" style="margin-left:5px;">
        <ul id="new_article_product_list" class="tagging"></ul>
        <div class="float_lft " style="clear:both;">
          <input placeholder="orginal_id,duplicate_id(s)" type="text" value="" id="new_article_product" name="item_ids"/>
        </div>
        <%= submit_tag "Go", :class => "btn_submitanswer" %>
        <div style="clear:both;"></div>
      </div>
      <div style="clear:both;"></div>
    </div>
<% end %>


<style type="text/css">
    #new_article_product {
        border-style: groove;
        border-width: 2px;
        font-size: 14px;
        height: 25px;
        margin-top: 5px;
        width: 305px;
    }

    #shareProduct {
        clear: both;
        display: block;
        margin: 35px 0 0 211px;
        padding: 5px 5px 0 0;
    }

    .input-label {
        font-size: 16px !important;
        padding: 9px 0 0;
    }

    .alert-notice .notice {
        background-color: darkseagreen;
        color: green;
        font-size: 15px;
        height: 28px;
        padding: 19px 0 0 401px;
        position: absolute;
        width: 58%;
    }

    .alert-notice .alert {
        background-color: peachpuff;
        color: red;
        font-size: 15px;
        height: 28px;
        padding: 19px 0 0 401px;
        position: absolute;
        width: 58%;
    }

    .btn_submitanswer {
        margin: 5px 24px 0 0;
    }
</style>