<div class="order_history_form">
  <%= render :partial => "form" %>
</div>

  <div class="order_histories">
    <h2 class='order_title'>Order Histories</h2>
  </div>

  <br /><br />

  <div id="report" >
    <%= render "report" %>
  </div>

