<h1>
  <center>Error Messages</center>
</h1>
<ul>
  <% @error_messages.each do |error_message| %>
      <h2>Date:<%= error_message.created_at %></h2>

      <h2>Message: <%= link_to error_message.message, error_message_path(error_message) %></h2>

      <h3>------------------------------------------------------------------------------------------------------------------------------------------------------------------------- </h3>
  <% end %>
  <%= will_paginate @error_messages %>
</ul>



<style>
    .pagination {
        font-size: 16px;
    }

    body {

        font-size: 10px;
    }
</style>