 
body { margin: 0; background: none; }
html, body { height: 100% }
.container{width: 980px; margin: 0 auto;}
.iframecss{  color: #666;  width: 100%; height: 100%; z-index: 1000; -webkit-box-sizing: border-box; padding: 25px 0px; border:none; } 
#topbar{ height: 50px; width: 100%;  border-bottom: 1px solid #666; background: #92d1e1; position: fixed; top: 0; }
#content_body{ margin-top: 50px; height: 100%; } 
.padding-left{margin-left: 50px;}
.padding-top{margin-top: 15px;}

.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after { display: table; content: ""; }
.clearfix:after { clear: both; }
