// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1.bike-specs-title {
text-indent: -10000px;
background: url(/images/title-specifications.gif) left no-repeat;
margin-top: 20px;
margin-left: 12px;
}

div.bike-specs {
padding: 0 3px;
}

div.bike-specs li {
list-style: none;
line-height: 20px;
border-bottom: 1px solid #EDF1EF;
font-size: 85%;
margin-right: 8px;
padding-left: 10px;
font-family: Arial, Helvetica, sans-serif;
font-size: small;
color: #2E3E47;
}

li {
display: list-item;
text-align: -webkit-match-parent;
}

div.bike-specs ul {
border-top: 1px solid #EDF1EF;
}

div.bike-specs-copy {
width: 50%;
float: left;
}

  /* TEMPORARY FIX. TO BE REMOVED SOON*/
  .atext {
    font-family: "Comic Sans MS";
    font-size: 12px;
    color: #000066;
    float: right;
    text-align: right;
    position: relative; /* top: 5px;*/
    width: 100%;
  }

  .searchMore {
    font-family: "Comic Sans MS";
    font-size: 12px;
    font-weight: 700;
    color: #000066;
    text-align: center;
    letter-spacing: 1px; /*width: 100%;*/
    position: relative;
    z-index: 3;
  }

  .ui-autocomplete-loading {
    background: url('../images/images.jpg') no-repeat right center;
    background-color: #ffffff;
  }

/*  idTabs ~ Sean Catchpole  */


/* Style for Usual tabs */

.usual li { list-style:none; float:left; }
.usual ul a {
  display:block;
  padding:6px 10px;
  text-decoration:none!important;
  margin:1px;
  margin-left:0;
  font:10px Verdana;
  color:#267FD9;
}
.usual ul a:hover {
  color:#FFF;
  }
.usual ul a.selected {
  margin-bottom:0;
  color:#000;
  border-bottom:1px solid snow;
  background:snow;
  cursor:default;
  }
.usual div {
  *padding-top:3px;
  *margin-top:-15px;
  background:snow;
  font:10pt Georgia;
}
.usual div a { color:#000; font-weight:bold; }


