li {
    list-style: none;
}

ul {
    /*padding: 2px;*/
}

a:link, a:visited {
    color: #267fd9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
body,button,select,option, input,textarea{font:14px/1.22 "Helvetica Neue",Helvetica,Arial,sans-serif;font-size:small;font:x-small;text-align:left;}



#main-navigation {
    display: inline /*Fix IE floating margin bug*/;
    float: left;
    width: 150px;
    overflow: visible !important /*Firefox*/;
    overflow: hidden /*IE6*/;
}

#main-content {
    display: inline; /*Fix IE floating margin bug*/;
    float: left;
    width: 600px;
    margin: 0 0 0 0px;
    overflow: visible !important /*Firefox*/;
    overflow: hidden /*IE6*/;
	min-height:560px;
	padding:10px 10px 10px 10px;
}
.main-content-section {
    display: inline; /*Fix IE floating margin bug*/;
    float: left;
    width: 570px;
    margin: 0 0 0 0px;
    overflow: visible !important /*Firefox*/;
    overflow: hidden /*IE6*/;
	min-height:560px;
	padding:10px 10px 10px 10px;
	margin:4px 0px 0px 2px;
	border: 1px solid #d4d4d4;
}
#main-subcontent {
    display: inline /*Fix IE floating margin bug*/;
    float: right;
    width: 220px;
    margin: 0 0px 0 0;
    overflow: visible !important /*Firefox*/;
    overflow: hidden /*IE6*/;
	padding:10px 0px 10px 10px;
	background:url 
}

/*
popupwindowDiv need to change the x, y position dynamically based on resolutions and window size. Pick the logic from aprizi
*/
.blanket{background-color:#111;opacity: 0.65;filter:alpha(opacity=65);position:absolute;z-index: 1100;top:0px;left:0px;width:100%;}
.popupwindowDiv {position: absolute;padding: 20px;z-index: 1101;outline: none;display: block;border:10px; width: 480px; min-height:200px; top:200px;left:400px; opacity: 1;background-color:#b1ceeb;}
.popupdiv{font-size:13px;margin-top:12px;min-height:100px;background-color:#b1ceeb;} 
.buttonLink{padding:10px 5px 10px 5px;font-weight:bold;}
.productbuttons{padding:10px 0px 0px 5px;}
.buttonDone{padding:2px 10px 2px 10px;font-weight:bold;float:right;color:#000000;}
.popupWindowLink{float:right;padding:0px 0px 0px 0px;margin-top:-10px;}
.productbuttonsGrp{float:right;padding:10px 0px 5px 5px;}
.imageButton,.imageButton:link,.imageButton:visited{margin-right:0px;font-size:10px;padding:5px 0px;border:1px solid #d4d4d4;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;background-color:#d4d4d4;background:-webkit-gradient(linear,left bottom,left top,color-stop(0.38,#f0f0f0),color-stop(0.76,#fff));background:-moz-linear-gradient(center bottom);white-space:nowrap;margin-bottom:5px;color:#373142;}
.imageButtonAsk,.imageButtonAsk:link,.imageButtonAsk:visited{margin-right:0px;font-size:10px;padding:5px 10px;border:1px solid #d4d4d4;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;background-color:#d4d4d4;background:-webkit-gradient(linear,left bottom,left top,color-stop(0.38,#f0f0f0),color-stop(0.76,#fff));background:-moz-linear-gradient(center bottom);white-space:nowrap;margin-bottom:5px;color:#373142; min-height:30px; line-height:1.2;min-width:20px;background:#dedfe0 url(/asset/images/sprite_sharing_06032011.png) no-repeat 0 -400px;background:url(/assets/sprite_sharing_06032011.png) no-repeat 0 -549px,-webkit-gradient(linear,left bottom,left top,color-stop(0.38,#f0f0f0),color-stop(0.76,#fff));background:url(/assets/sprite_sharing_06032011.png) no-repeat 0 -545px,-moz-linear-gradient(center bottom);}

.imageButtonAsk em{font-weight:bold;font-size:14px;}
.imageButtonAsk span{font-size:12px;margin-right:0px; padding:5px 0px 10px 20px;}
.productbuttonsGrpmini{float:right;padding:10px 0px 5px 5px;}
.imageButtonmini,.imageButtonmini:link,.imageButtonmini:visited{margin-right:0px;font-size:10px;padding:2px 2px 2px 2px;border:1px solid #d4d4d4;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;background-color:#d4d4d4;background:-webkit-gradient(linear,left bottom,left top,color-stop(0.38,#f0f0f0),color-stop(0.76,#fff));background:-moz-linear-gradient(center bottom);white-space:nowrap;margin-bottom:5px;color:#373142;}

.productcontentmain{padding: 5px 0px 10px 5px;border-bottom: solid 1px #E3E3E3;min-height:140px;}
.productcontentcreation{padding: 5px 0px 10px 5px;border-bottom: solid 1px #E3E3E3;min-height:50px;}
.producttitle{font-size:18px;padding:0px 0px 0px 0px;font-weight:bold;color:#000000;}
.productprice{padding:5px 0px 0px 0px;}
.productreview{padding:5px 0px 0px 0px;}
.productspecification{padding:5px 0px 0px 0px;}
.producttitlemini{font-size:15px;padding:0px 0px 0px 0px;font-weight:bold;color:#000000;}
.productcontentmainmini{padding: 5px 0px 0px 5px;border-bottom: solid 1px #E3E3E3;min-height:50px;}
.productcontentcreationmini{padding: 5px 0px 0px 5px;border-bottom: solid 1px #E3E3E3;min-height:50px;}
.producttitlemini{font-size:15px;padding:0px 0px 0px 0px;font-weight:bold;color:#000000;}
.productprice{padding:5px 0px 0px 0px;}
.productreview{padding:5px 0px 0px 0px;}
.productspecification{padding:5px 0px 0px 0px;}

.leaderboard li {margin-top:-10px;display: list-item;padding: 0 0 0 5px;border-left: 1px solid #CCC;min-width: 42px;text-align: left;float: left;margin-right: 5px;height:30px;}

.leaderboard { background-clip: border-box;background-origin: padding-box;box-shadow: 0px 1px 1px 0px;border-color: #333;font-family: "helvetica neue",helvetica,arial;margin: 0 0 0px 0;background: whiteSmoke;padding: 5px 0 5px 7px;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;border-top-left-radius: 5px;border-top-right-radius: 5px;height:40px;}
.tabstyle{padding:5px 5px 5px 5px;margin-left:1px; background-color:#b5b3b0;border-top-left-radius: 5px;border-top-right-radius: 5px;border-right-color:#000000;}
.BreadCrumpG{
	padding-left:2px;
}
.productimage {
float: left;
min-height: 20px;
line-height: normal;
padding: 4px 4px 8px 4px;
width: 120px;
border: solid 1px #E3E3E3;
-webkit-box-shadow: 0 1px 3px #e3e3e3;
box-shadow: 0 1px 3px #e3e3e3;
-webkit-border-radius: 3px;
border-radius: 3px;
border-bottom-color: #A2A2A2;
display: table-cell;
margin-right: 5px;
line-height: 0;
}

.txtAreaDiv{border: 1px solid #d4d4d4;min-height:20px;padding:5px 5px 5px 5px;margin-top:10px;}

.textFilling{
border-style: none;
display: inline-block;
font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
font-size: 13px;
min-height:20px;
resize: none;
word-spacing: 0px;
word-wrap: break-word;
zoom: 1;

}



.uiHeaderSection{
background-color: #F2F2F2;
border-bottom: none;
border-top: solid 1px #E2E2E2;
padding: 4px 4px 5px 5px;
margin-top:10px;
}
.uisidepanelheadercontent{
	font-weight:400px;
	font-size:13px;
	Color:#000000;
}

.uiSidePanelContent
{
	border: solid 1px #E2E2E2;
}
.navtab, .navtab:link, .navtab:visited {
    padding: 5px 8px 5px 0;
    border-top: 1px solid #d4d4d4;
    background-color: #fff;
    display: block;
    color: #27414e;
    text-shadow: 0 1px 1px ;
}

.navtab:hover {
    color: #000;
    background-color: #f0f0f0;
    background: -moz-linear-gradient(right,#F0F0F0 0,#FFF 100%);background:-webkit-gradient(linear,right top,left top,color-stop(0%,#F0F0F0),color-stop(100%,#FFF));text-decoration:none;border-top:1px solid #b3b3b3;
	}
.SubmenuDiv
{
	display: none;
}

.nabtabChilds, .nabtabChilds:link, .nabtabChilds:visited
{
	margin-top:-10px;
	padding: 0px 8px 10px 5px;
    background-color: #fff;
    color: #27414e;
    text-shadow: 0 1px 1px ;
}


.navtabhl{background-color:#f0f0f0;background:-moz-linear-gradient(right,#F0F0F0 0,#FFF 100%);background:-webkit-gradient(linear,right top,left top,color-stop(0%,#F0F0F0),color-stop(100%,#FFF));padding:10px 0;color:#929292;}
.navtabhl:link,.navtabhl:visited{color:#929292;}
.navtabhl:hover{color:#000;background-color:#f0f0f0;background:-moz-linear-gradient(right,#f0f0f0 0,#FFF 100%);background:-webkit-gradient(linear,right top,left top,color-stop(0%,#f0f0f0),color-stop(100%,#FFF));text-decoration:none;border-top:1px solid #b3b3b3;text-shadow:0 1px 1px;}
.botmargin {margin-bottom: 0px;}
.headernav {padding:0 10px 0px 60px;}
.headernav li{padding:0 5px 5px 10px;float:left;}
.headerlink a{font-size:12px;color:#01396a;font-weight:500;display:block;text-shadow:0 1px 1px;margin:14px 4px 0 0;padding:2px 8px 2px 8px; }
.headerlinklogo a{font-size:22px;color:#ffffff;font-weight:500;display:block;text-shadow:0 1px 1px;margin:14px 4px 0 0;padding:2px 100px 2px 8px;text-decoration:none}
.headerright{float:right;text-align:center;}
.search input,.search button{padding-top:2px;margin-top:12px}
.feedcontent{padding:10px 0px 2px 10px;}
.feedcontentheader{padding:10px 0px 2px 10px;}
.feeddate{font-style:italic;}
.feedheader{font-size:14px;color:#01396a;font-weight:500;display:block;text-shadow:0 1px 1px;padding:5px 0px 2px 0px;}
.feedlinkcomments{float:right;display: inline;overflow:visible;color: #267fd9;    text-decoration: none;}
.feedlink{color: #267fd9;    text-decoration: none;cursor:pointer;}
.centeritem{text-align:center;}
.mediumimage {
float: left;
min-height: 40px;
vertical-align: bottom;
display: table-cell;
line-height: normal;
padding: 2px 2px 4px 2px;
width: 40px;
border: solid 1px #E3E3E3;
-webkit-box-shadow: 0 1px 3px #e3e3e3;
box-shadow: 0 1px 3px #e3e3e3;
-webkit-border-radius: 3px;
border-radius: 3px;
border-bottom-color: #A2A2A2;
display: table-cell;
margin-right: 5px;
line-height: 0;
}

 body{font-size: 12px;font-family:"Arial","Helvetica","Verdana","sans-serif";}

 .left{float:left;}

 .clear{clear:both}

 #wrapper{margin:40px auto;width:940px}
 #leftSlider{width: 200px;margin-right: 30px;}
 #range{margin-bottom: 20px;}
 #products{width:710px}
 #products ul{list-style: none;margin:0px;padding:0px }
 #products ul li{margin:4px; float:left;height:180px;width:200px; background-color: #333;-moz-border-radius:6px;-webkit-border-radius:6px; -khtml-border-radius:6px; }
 #amount{font-size: 14px;text-shadow:0px 1px 0px #ccc}

#container {width: 1000px;margin: 0 auto;	font-family: Lucida Grande, Tahoma, Arial, Helvetica, sans-serif; /* Lucida Grande for the Macs, Tahoma for the PCs */font-size: 11px;line-height: 1.6em;color: #666;background-color: #FFF;}

	#search{float:	right;}

/* GENERAL MOJO AND MULA */


h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}


input {background-color: #FFF;color: #999999;border: 1px solid #CCC;	font-size: 11px;padding: 3px;}
.button {padding: 2px;background-color:#F2F2F2;		}

/* HEADER ELEMENTS */

	body
	{
			background-attachment: scroll;			background-clip: border-box;			background-color: transparent;			background-image: none;			background-origin: padding-box;			color: #505050;
			display: block;
			font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
			font-size: 13px;
			font-style: normal;
			font-variant: normal;
			font-weight: normal;
			line-height: 16px;
			margin-bottom: 0px;
			margin-left: 0px;
			margin-right: 0px;
			margin-top: 0px;
			min-width: 0px;
			overflow-y: visible;
			padding-bottom: 0px;
			padding-left: 0px;
			padding-right: 0px;
			padding-top: 0px;
			width: 1264px;

	}


		#contentpanel {
			padding-bottom: 0px;
			padding-left: 0px;
			padding-right: 0px;
			padding-top: 10px;

		}


		#header {
				background-attachment: scroll;
				background: #5BAEF4;

		border-bottom-color: #2572BA;
		border-bottom-style: solid;
		border-bottom-width: 2px;
		color: #505050;
		display: block;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 13px;
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		height: 20px;
		margin-bottom: 0px;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 0px;
		min-width: 0px;
		overflow-y: visible;
		padding-bottom: 20px;
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 0px;
		text-align: center;

		}



/* FOOTER ELEMENTS */

		#footer {
			margin-top: 20px;
			clear: both;
			background-color:#575352;
			padding: 0px 5px 0px 5px;
			text-align:center;
		}

		#footer p {
			color:#89817f;
			padding: 5px;
		}

		#footer p a {
			color: #89817f;
			border-bottom: 1px dotted #89817f;
		}

		#footer p a:hover {
			color: #FFFFFF;
			background-color:#575352;
		}

			.left{float:left;}
            .clear{clear:both}
            #wrapper{margin:20px auto;width:940px}
            #leftSlider{width: 200px;margin-right: 30px;}
            #range{margin-bottom: 5px;}
            #products{width:710px}
            #products ul{
                list-style: none;
                margin:0px;padding:0px
            }
            #products ul li{
                margin:4px;
                float:left;
                height:180px;
                width:200px;
                background-color: #333;
                -moz-border-radius:6px;
                -webkit-border-radius:6px;
                -khtml-border-radius:6px;
            }
            #amount{font-size: 14px;text-shadow:0px 1px 0px #ccc}