<div id="maincontainer" class="maincontainerCss">
  <div class="leftcolumnsmall">
    <ul class="search_criteria">
      <div class="hdr_search">Search Criteria:</div>    
    </ul>
  </div>
  <div class="rightcolumnbig">
    <div class="push"></div>
    <div id="content">
      <%= render :partial => "/related_items/index" %>
    </div>
    <div class="push"></div>
  </div>
</div>
