<div id="description_<%= attribute.attribute_id rescue attribute.id %>" style="display:none; background-color:white;height:200px;width:300px;">
   <a href="#" class="Closebut" style="float:right;padding:5px 5px 0px 0px;">Close</a>
   <div style="padding:50px 0px 0px 20px">
  <%=  attribute.description %>
  <% link = attribute.attributeshyperlink rescue attribute.hyperlink %>
 <% if(link).include?("http://") || (link).include?("https://")  %>
       <a href= "<%= attribute.attributeshyperlink rescue attribute.hyperlink %>" target='_blank'>More</a>
   <%else%>
      <a href= "<%= 'http://' + attribute.attributeshyperlink rescue attribute.hyperlink %>" target='_blank'>More</a> 
   <%end%>   
   </div>   
 </div>
  
