<br />
<fieldset style="border:0px;">
	<div class="title_header float_lft" id="photo">Photo:</div>
		<% if @content %>
			<% if !@content.new_record?  %>
				<div style="float:left;">
					<%= image_tag(@photos[@i].photo.url(:thumb)) rescue ""%>
				</div>
				<% @i = @i +1   %>
			<%end%>
		<%end%>
		<%= render 'shared/remove_fields', {:ff => ff, :name => ''} %> 
		<div style="float:right;padding:0px 0px 0px 0px;">
			<%= ff.file_field :photo, {:style=>"margin-left:0px;width:378px;",:width=>"300px"} %>
		</div>
</fieldset>



