
<div class="Close_dialog" style="width:43px;
overflow:hidden;height:42px; background:url(../images/pclose_but.png) no-repeat left top;
position:relative; left:544px; text-indent:-9999px; top:-12px;" onclick="$('.ui-dialog-content').dialog('destroy')"></div>

<!-- not really needed, i'm using it to center the gallery. -->
<div class="pikachoose">
	<ul id="pikame" >
	  <li><img src="<%= @item.image_url %>"/></a></li>
		<% Itemimage.find_all_by_ItemId(@item.id).each do|itemimage| %>
		<li><img src="<%= itemimage.image_url %>"/></a></li>
	   <%end%>
	</ul>
</div>


