<span id="specification_rating_<%= item.id %>"></span>
<script type="text/javascript">
$(document).ready(function(){
	$('#specification_rating_<%= item.id %>').raty({
    starOff:  'assets/star-off.png',
    starHalf   : 'assets/star-half.png',
    half       : true,
    readOnly   : true,
    starOn: 'assets/star-on.png',
    start: '<%= value %>'
    
  });
  });
</script>

