<% shop_now_url = "#{configatron.hostname}/history_details?iid=#{@impression_id}&red_url=#{@item.url}" %>

<div class="plannto_book_price_div" style="  width: 80px;height: 80px;padding: 6px;border: 1px solid #D8D8D8;">
  <p style="font-weight: bold;margin:0px;">
    &#8377; <%= @item.sale_price %> /-
  </p>

  <span>
    <p class="btn" style="margin:10px 3px;">
      <a style="margin: 0; padding: 0;cursor: pointer; text-indent: -99999px; border: 0; background: #E47911;padding: 3px 5px; color: #FFF; font-weight: bold; font-family: Arial;font-size: 14px;text-decoration: none;" class="shop-now" target="_blank" href=<%= shop_now_url %>>
        Buy Now
      </a>
    </p>
  </span>

  <div style="float:left;">
    <a class="vendor_image" href="javascript:void(0)" target="_blank"><img src="<%= @vendor_ad_details['9882']['imageurl'] %>" alt="" style="width: 80px;">
    </a>
  </div>

</div>