<div class="Homepopupgraybox">

  <div class="Boxtopblock">
    <div class="Headingtext">Car - Quick Navigation Wizard</div>
    <span class="Openclosebut"><a href="" id="wizardbutton" class="Close">Close</a></span>
  </div>

  <div class="Grayboxmid">


    <div class="Homeinnercontent">

      <!--Planning to buy-->
      <div class="Blueblockhome smallhomeblock">
        <span class="Buytag"></span>

        <div class="Textdescriptions">
          <h2>PlannTo Buy</h2>
          <p>
            Are you planning to buy a car? Not sure about what are the options available or confused about which one to buy?
          </p>

        </div>
        <div class="Bluecyanbut"><a href="#"><span>Click here</span></a></div>


      </div>
      <!--Planning to buy-->

      <!--Owners-->
      <div class="Blueblockhome smallhomeblock">
        <span class="Ownertag"></span>

        <div class="Textdescriptions">
          <h2>Owners</h2>
          <p>
            Are you a proud owner of a car. Do you like to know what are the tips/tricks for using the item effectively or talk to fellow owners and experts to troubleshoot any issues.
          </p>

        </div>
        <div class="Bluecyanbut"><a href="#"><span>Click to know more</span></a></div>

      </div>
      <!--Owners-->

      <!--Experts/Enthusiastic-->
      <div class="Blueblockhome smallhomeblock">
        <span class="Expertstar"></span>

        <div class="Textdescriptions">
          <h2>Experts/Enthusiastic</h2>
          <p>
            Are you interested in car and like to know about latest happening on those items or network with like-minded people.
          </p>
        </div>

        <div class="Bluecyanbut"><a href="#"><span>Click to know more</span></a></div>


      </div>
      <!--Experts/Enthusiastic-->

      <!--Browse Cars-->
      <div class="Blueblockhome smallhomeblock Lastblock">
        <span class="Redcar"></span>

        <div class="Textdescriptions">
          <h2>Browse Cars</h2>
          <p>
            Are you looking for various cars available in market <br />
            <a href="#" class="Blacklink">Click here to check that options.</a>
          </p>
        </div>

        <div class="Bluecyanbut"><a href="#"><span>Click to know more</span></a></div>

      </div>
      <!--Browse Cars-->
    </div>


  </div>


  <div class="Boxbotcorner"></div>
</div>

<div class="push"></div>
<!-- Product Details - End -->

<script type="text/javascript">
 
</script>