<% if !@itemdetail.blank? %>
    <% red_url = get_update_with_tag_and_ascsubtag(@itemdetail.url) %>
    <% red_url = CGI.escape(red_url) %>
    <% shop_now_url = "#{configatron.hostname}/history_details?iid=#{@impression_id}&red_url=#{red_url}" %>

    <div class="plannto_book_price_div" style="height: 35px;padding: 0px 0px;border: 1px solid #D8D8D8;font-size:12px;font-family: 'Titillium Web',Arial,Helvetica,sans-serif;width: 316px;">
          <a rel="nofollow" style="margin: 0; padding: 0;cursor: pointer; border: 0; color: #FFF; font-weight: bold; font-family: Arial;font-size: 14px;text-decoration: none;"target="_blank" href=<%= shop_now_url %>>

 <span style="display: inline-table;padding: 0px;margin: 0px;text-align:center;vertical-align:middle;height: 35px;float: left;">
  
        <span style="text-align:center;background: orange;display: inline-block;height: 20px;vertical-align: middle;text-align: center;padding: 8px;width: 100px;">
            <div style="color: white;">Buy Now</div>
        </span>
     
    </span>

            <span style="color:#666;font-weight: normal;margin:0px;font-size: 16px;vertical-align: middle;display: inline-table;width: 80px;padding: 7px 8px;border-right: 0px solid #D8D8D8;">
              &nbsp;₹ <%= number_with_delimiter(@itemdetail.price.to_i) %>
              </span>
      <span style="display: inline-table;padding: 0px;margin: 0px;text-align:center;vertical-align:middle;height: 35px;width:100px;/* border-right: 1px solid #D8D8D8; */">
        <img src="<%= configatron.root_image_url %>vendor/medium/amazon.jpeg" width="80px" style="padding: 7px 4px 2px 2px;width:80px;"/>
       </span> 
     
     </a>
    </div>

<% end %>

<style type="text/css">
    a {
        outline: none;
        text-decoration: none;
    }
</style>