<% if !@amazon_item.sale_price.blank? %>
    <div class="main-container" style="margin:5px;">
      <div style="float:left;">
        <div style="text-align:center;margin:0 auto;width:135px;height: 98px;">
          <div>
            <a href="<%= @amazon_click_url %>" target="_blank">

             <div class="type_2_image" style="text-align:center;text-decoration: none;margin: 0px 0;font-size: 11px;font-weight: bold;color:#555;font-family: Arial;    line-height: 15px;">
              <% if @amazon_item.sale_price != @amazon_item.price %>
              <span>  Price : </span><span style="text-decoration:line-through;"> Rs. <%= @amazon_item.price.to_s.gsub("INR", "").to_i %></span>
              </div>
              <%end%>
              <div class="type_2_image" style="text-align:center;text-decoration: none;margin:0 0 3px 0;font-size: 15px;font-weight: bold;color:#B12704;font-family: Arial;">
               <span>  Sale : </span><span>Rs. <%= @amazon_item.sale_price.to_s.gsub("INR", "").to_i %></span>
              </div>

              <div style="margin: 0px 15px 0px 14px;">
        <span style="text-align:center;background: orange;display: block;">
            <div style="padding:5px;color: white;">Buy Now</div>
        </span>
              </div>

              <div class="type_2_image" style="">
                <img src="http://cdn1.plannto.com/static/images/amazon-transparent.png" width="112px"></img>
              </div>
            </a>
          </div>
          <br clear="both"/>
        </div>
      </div>

      <!--
      <%# if !@first_cry_item.blank? && !@first_cry_item.price.blank? %>
          <div style="float:left;">
            <div style="text-align:center;margin:0 auto;width:115px;height: 98px;border-left:0px;">
              <div>
                <a href="<%#= @fc_click_url %>" target="_blank">

                  <div class="type_2_image" style="text-align:center;text-decoration: none;margin: 3px 0;font-size: 16px;font-weight: bold;color:#000000;font-family: Arial;">
                    &#8377; <%#= @first_cry_item.price.to_s.gsub("Rs", "").to_i %> /-
                  </div>

                  <div style="margin: 0px 15px 0px 14px;">
        <span style="text-align:center;background: orange;display: block;">
            <div style="padding: 3px;color: white;">Buy Now</div>
        </span>
                  </div>

                  <div class="type_2_image" style="padding: 4px 0px 0px;">
                    <img src="http://cdn1.plannto.com/items/vendor/medium/fc_logo.jpg" height="28px"></img>
                  </div>
                </a>
              </div>
              <br clear="both"/>
            </div>
          </div>
      <%# end %>
      -->
    </div>
<% end %>

<style type="text/css">
    a { outline: none; text-decoration: none;}
</style>