<% if !@itemdetail.blank? %>
    <% red_url = get_update_with_tag_and_ascsubtag(@itemdetail.url) %>
    <% red_url = CGI.escape(red_url) %>
    <% shop_now_url = "#{configatron.hostname}/history_details?iid=#{@impression_id}&red_url=#{red_url}" %>

    <div class="plannto_book_price_div" style="padding: 10px 2px 10px 20px;border-top: 1px solid #D8D8D8;border-bottom: 1px solid #D8D8D8;font-size:12px;font-family: Arial,Helvetica,sans-serif;">
      <div style="float: left;width:180px;">
        <span style="font-weight: 600 !important;font-size: 11px;">Buy this product @</span><img src="https://cdn1.plannto.com/items/vendor/medium/amazon.jpeg" width="70px" style="position: relative;top: 10px;padding-left: 3px;">
      </div>
      <div style="float:left;text-align:center;width:90px;">
      <div>
      <p style="font-weight: bold;margin:0px;font-size:14px;color:#3B3B3B">
        <% if @itemdetail.mrpprice.to_i != 0 %>
          <span style="text-decoration:line-through;">
             Rs <%= @itemdetail.mrpprice %>
          </span>
        <% end %>
        <span style="color:#b12704;font-weight:bold;font-size:14px;">
          Rs. <%= number_with_delimiter(@itemdetail.price.to_i) %>
        </span>
      </p>
      </div>
      <div>
        <p class="" style="margin:2px 0px;">
          <a rel="nofollow" style="margin: 0; padding: 0;cursor: pointer; text-indent: -99999px; border: 0; color: #FFF; font-weight: bold; font-family: Arial;font-size: 14px;text-decoration: none;" class="shop-now" target="_blank" href=<%= shop_now_url %> rel="nofollow">
            <img src="<%= configatron.root_image_path %>static/images/amazon_buynow.png" width="90px"/>
          </a>
        </p>
      </div>
    </div>
    <br clear="both"/>
    </div>
<% end %>

<style type="text/css">
    a {
        outline: none;
        text-decoration: none;
    }
    .plannto_book_price_div {
        cursor: pointer !important;
    }
</style>

<script>
    PlannTo.jQuery(document).ready(function()
  {
      PlannTo.jQuery(".plannto_book_price_div").click(function()
      {
          var shop_now_url = PlannTo.jQuery(".shop-now").attr("href")
          window.open(shop_now_url, "_blank")
          return false;
      })
  })
</script>