<div class="maincontainerCss" id="maincontainer"> 
<% if !@topics.empty?%>
  <div id="tag_cloud">
    <h1><%= "All #{@type.capitalize} Related Topics" %></h1>
    <% @topic_cloud_hash.each_pair do |topic,size| %>
      <div class="cloud_element">
        <%= content_tag(:a, topic.name.downcase, { :href => "#{topic.get_url()}", :title => "#{topic.contents.count} contents", :style => "font-size:#{size}px;" }) %>
      </div>
    <%end%>
  </div>
<%end%>  
<div style="clear:both;display:block;width:400px;padding-top:10px;" ></div>
</div>


