<div ID="reviewSmallDiv" class="txtAreaDiv" style="padding:5px 5px 5px 5px;">
  <textarea class="textFilling" id="txtArea" placeholder="What do you think of this car?" value="" style="width:580px;height:10px;" ></textarea>
</div>
<div ID="reviewDiv" style="padding:5px 5px 0px 5px;display:none;">
  <div class="txtAreaDiv">
    <textarea class="textFilling" id="txtAreaExpand"  value="" style="width:570px;height:50px;"></textarea>
  </div>
  <div>
    <div class="productreview">
      <img src="/assets/white.gif"/> <img src="/assets/white.gif"/> <img src="/assets/white.gif"/> <img src="/assets/white.gif"/> <img src="/assets/white.gif"/> Click to Rate it.
    </div>
  </div>
  <div style="padding:5px 5px 0px 5px;">
    <span >
	Pros : <input style="margin-left:25px;" type="text" name="textfield" placeholder="Start typing to get recommendations..." class="search"/><input class="button" type="submit" name="Submit" value="Add" />
    </span>
    <span style="float:right;">
	Cons : <input type="text" name="textfield" placeholder="Start typing to get recommendations..." class="search"/><input class="button" type="submit" name="Submit" value="Add" />
    </span>
  </div>
  <div style="padding:5px 5px 0px 5px;">
	Best Uses : <input style="margin-left:0px;" type="text" name="textfield" placeholder="Start typing to get recommendations..." class="search"/><input class="button" type="submit" name="Submit" value="Add" />
  </div>

  <div style="padding:5px 5px 0px 5px;">
	Would you recommend this product to your friend<input class="button" type="submit" name="Submit" value="Yes" onclick="divCarName.style.display='block';"/><input class="button" type="submit" name="Submit" value="No" />
  </div>
  <div style="padding:0px 5px 20px 5px;">
    <a href="index.html"><input id="save_review" type="submit" name="Submit" Value="Share This Review" style="background-color:#006CF9;color:#ffffff;float:right;"  >
      </input></a>
  </div>
</div>