<div id="bz-model-review-27936776" class="hReview bz-model-review">
	<span class="item"> <abbr title="product" class="type"> </abbr>
		<div id="bz-model-review-content-27936776" class="bz-model-review-content">
			<h3 class="summary"><%= @review.title %></h3>
			<!-- <div style="text-align:left;" class="bz-rating">
				<div class="bz-rating-small">
					<div style="width:68.0px;" class="stars">
						★★★★☆
					</div>
					<span class="rating">4.0</span>
				</div>
			</div> -->
			<div class="bz-clear"></div>
			<div class="bz-model-review-comments-container">
				<p class="bz-model-review-comments description ">
					<%= @review.description %>
				</p>
			</div>
			<div class="bz-tagGroup-cont">
				<ul class="bz-tagGroup">
					<p class="bz-pros">
						Pros:
					</p>
					<% @review.pros.each do |pro| %>
					<li>
						<%= pro.title %>,
					</li>
					<% end %>

				</ul>
				<ul class="bz-tagGroup">
					<p class="bz-cons">
						Cons:
					</p>
					<li>
						Screen scratches easily,
					</li>
					<li>
						Short battery life
					</li>
				</ul>
			</div>
			<div class="bz-clearfix">
				&nbsp;
			</div>
			<div class="bz-model-review-foot-tools">
				<span id="bz-model-review-report-27936776" class="bz-model-review-report"> <a class="bz-review-flag" onclick="bZ.reviewBase.toggleErrorForm(5727, 27936776); return false;" href="#"> Report Abuse</a> </span>
				<span id="bz-model-review-vote-27936776" class="bz-model-review-vote"> <a class="bz-review-vote-up" onclick="bZ.reviewBase.submitHelpfulVote('aHR0cDovL3NlcnZpY2VzLnBvd2VycmV2aWV3cy5jb20=', 27936776, 'helpful', true); return false;" href="#thumbsup_vote"> <span>&nbsp;</span>(0) </a> <a class="bz-review-vote-down" onclick="bZ.reviewBase.submitHelpfulVote('aHR0cDovL3NlcnZpY2VzLnBvd2VycmV2aWV3cy5jb20=', 27936776, 'unhelpful', true); return false;" href="#thumbsdown_vote"> <span>&nbsp;</span>(0) </a> </span>
				<a bzeventclick="{_handler:'generalGAEvent', category:'Comments', action:'Display Comments Click'}" review_id="27936776" id="bz-review-viewComments-27936776" class="bz-review-viewComments bz-review-viewComments-button" href="#viewComments">Add Comment</a>
				<div class="bz-clearfix">
					&nbsp;
				</div>
			</div>
			<div display_status="closed" review_id="27936776" id="bz-comments-27936776" class="bz-comments">
				<div id="bz-comments-inner-27936776" class="bz-comments-inner">
					<form class="bz-comment-add-form" id="bz-comment-add-form-27936776" method="GET" action="/x/comment.dox">
						<input type="hidden" class="bz-review-id" value="27936776" name="reviewId">
						<div id="bz-comment-add-27936776" class="bz-comment-add">
							<textarea name="text" review_id="27936776" id="bz-comment-textarea-27936776" class="bz-comment-textarea"></textarea>
							<input type="hidden" value="" id="bz-comment-next-27936776">
							<input type="hidden" value="" class="bz-comment-profile-name">
							<a bzeventclick="{_handler:'generalGAEvent', category:'Add Review Comment', action:'Submit Review Comment', label:'/reviews/samsung-galaxy-ii-4g-reviews#review-27936776'}" review_id="27936776" id="bz-comment-submit-27936776" class="bz-comment-submit bz-login-required bz-link-button" href="#submitComment">Submit</a>
						</div>
						<div class="bz-clearfix">
							&nbsp;
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="bz-model-review-meta">
			<div title="20111116T0613-0700" class="bz-model-review-date dtreviewed">
				<div class="bz-model-review-date-inner">
					<span class="month">Nov</span>
					<span class="day">16</span>
					<span class="year">2011</span>
				</div>
			</div>
			<div class="bz-model-review-avatar">
				<div class="avatar">
					<img width="100" height="100" src="http://images.buzzillions.com/portal/images/avatar.gif">
				</div>
			</div>
			<div class="bz-model-review-author">
				<div class="reviewer vcard">
					<span class="bz-model-review-name fn nickname">nsspnp</span>
				</div>
				<span class="bz-model-review-location locality">Fairfax, VA</span>
			</div>
			<div class="bz-model-review-affinity">
				<ul>
					<li>
						Business professional
					</li>
					<li>
						Practical
					</li>
				</ul>
			</div>
			<div class="bz-model-review-wtb">
				<div class="bz-model-reviewed-at">
					Full review provided by <a target="_blank" bzeventclick="{_handler:'generalGAEvent', category:'Product Page', action:'review attribution click', label:'review-27936776'}" href="#"><%= @review.user.name.capitalize %></a>
				</div>
				&nbsp;
			</div>
		</div>
		<div class="bz-clearfix">
			&nbsp;
		</div> </span>
</div>
