<div class="feedcontentheader">
  <div class="productcontentmain">
    <div>
      <%- @item.car_groups.each do |item| %>
        <%= link_to({}, :href => car_path(item.id)) do %>
          <%= image_tag(get_image_url(item, image_type), :title => item.name, :class => "productimage") %>
        <% end %>
      <%- end %>

    </div>


  </div>
</div>