<div class="feedcontentheader">
  <div class="productcontentmain">
    <div>
      <%- @item.car_groups.each do |item| %>
        <% path_name = item.class.name.downcase+"_path(item.id)" %>
        <%= link_to({}, :href => eval(path_name)) do %>        
          <%= image_tag(get_image_url(item, image_type), :title => item.name, :class => "productimage") %>
        <% end %>
      <%- end %>

    </div>


  </div>
</div>