  	<div  class="mainContentDiv">
		
		 <div class="rate_content float_lft">
			<a class="bg_ratecontent">100</a>
			<a class="btn_like" href="#"></a><a class="btn_dislike" href="#"></a>
		</div>
		<div  class="float_rgt">
			<img src="images/users.png" class="userImageSmall" />
		</div>
			<div  class="subContentDiv">
			<div><a class="title" href="google.com"><%= contents.title %></a></div>
			<div><a class="txt_brown"><%= contents.user.name %> shared a <%= contents.class %> - 2 days ago</a></div>
			<div class="subContentGap"><a class="txt_black_description"><%= contents.description %></a></div>
			<ul class="divCommentsConent">
				<li class="subContentGap float_lft" ><a class="txt_blue ">Comments (9) </a></li>
                <li class="subContentGap float_lft"><a class="txt_gray ">|</a></li>
				<li class="subContentGap float_lft"><a class="txt_blue">Report</a></li>
                <li class="subContentGap float_lft"><a class="txt_gray ">|</a></li>
					<li class="subContentGap float_lft" ><a class="txt_blue ">Add Answer</a></li>
                    <li class="subContentGap float_lft"><a class="txt_gray ">|</a></li>
				<li class="subContentGap float_lft"><a class="txt_blue ">Delete This</a></li>
                <li class="subContentGap float_lft"><a class="txt_gray ">|</a></li>
				<li class="subContentGap float_lft"><a class="txt_blue ">Update This</a></li>
			</ul>
		</div>
	</div>