   <ul id="Megadropdown">
     

    <li><span><a href="#">Cars</a></span>
    
        <div class="Divmain"></div>
         <div class="dropdown_4columns">
       
                       
            <div class="col_1">
            
              
                <ul>
                    <li><a href="#">All Feeds</a></li>
                    <li><a href="#">Browse</a>
                    <ul>
                    <li><a href="#">All Cars</a></li>
                    <li><a href="#">Latest Cars</a></li>
                    <li><a href="#">Upcoming Cars</a></li>
                    <li><a href="#">Reviews</a></li>
                    <li><a href="#">Questions & Answers</a></li>
                    </ul>
                    
                    </li>
                    
                 <li><a href="#">Buy Old Car</a></li>
                 <li><a href="#">Sell Old Car</a></li>
                </ul>   
                 
            </div>
            
            <div class="col_2">
            
              
                <ul>
                    <li><a href="#">My Feeds </a></li>
                    <li><a href="#">My Garage</a> </li>
                    <li><a href="#">My Reviews</a></li>
                   <li><a href="#">My Questions</a></li>
                   <li><a href="#">My Advices</a></li>
                    <li><a href="#">My Buying Plan</a></li>
                </ul>   
                 
            </div>
            
            <div class="Topcarcol">
             <ul>
                    <li><a href="#">Top Cars</a>
                    <ul>
                    <li><a href="#">Punto</a></li>
                    <li><a href="#">I20</a></li>
                    <li><a href="#">Tata Nano</a></li>
                    
                    </ul>
                    </li>
                   
                </ul>   
            
            </div>
            
        </div>
    
    </li>
    
    <li><span><a href="#">Camera</a></span>
    
        <div class="Divmain"></div>
         <div class="dropdown_4columns">
       
                       
            <div class="col_1">
            
              
                <ul>
                    <li><a href="#">All Feeds</a></li>
                    <li><a href="#">Browse</a>
                    <ul>
                    <li><a href="#">All Cars</a></li>
                    <li><a href="#">Latest Cars</a></li>
                    <li><a href="#">Upcoming Cars</a></li>
                    <li><a href="#">Reviews</a></li>
                    <li><a href="#">Questions & Answers</a></li>
                    </ul>
                    
                    </li>
                    
                 <li><a href="#">Buy Old Car</a></li>
                 <li><a href="#">Sell Old Car</a></li>
                </ul>   
                 
            </div>
            
            <div class="col_2">
            
              
                <ul>
                    <li><a href="#">My Feeds </a></li>
                    <li><a href="#">My Garage</a> </li>
                    <li><a href="#">My Reviews</a></li>
                   <li><a href="#">My Questions</a></li>
                   <li><a href="#">My Advices</a></li>
                    <li><a href="#">My Buying Plan</a></li>
                </ul>   
                 
            </div>
            
            <div class="Topcarcol">
             <ul>
                    <li><a href="#">Top Cars</a>
                    <ul>
                    <li><a href="#">Punto</a></li>
                    <li><a href="#">I20</a></li>
                    <li><a href="#">Tata Nano</a></li>
                    
                    </ul>
                    </li>
                   
                </ul>   
            
            </div>
    
        </div>
    
    </li>
<li><span><a href="#">Travel</a></span>
    
        <div class="Divmain"></div>
         <div class="dropdown_4columns">
       
                       
            <div class="col_1">
            
              
                <ul>
                    <li><a href="#">All Feeds</a></li>
                    <li><a href="#">Browse</a>
                    <ul>
                    <li><a href="#">All Cars</a></li>
                    <li><a href="#">Latest Cars</a></li>
                    <li><a href="#">Upcoming Cars</a></li>
                    <li><a href="#">Reviews</a></li>
                    <li><a href="#">Questions & Answers</a></li>
                    </ul>
                    
                    </li>
                    
                 <li><a href="#">Buy Old Car</a></li>
                 <li><a href="#">Sell Old Car</a></li>
                </ul>   
                 
            </div>
            
            <div class="col_2">
            
              
                <ul>
                    <li><a href="#">My Feeds </a></li>
                    <li><a href="#">My Garage</a> </li>
                    <li><a href="#">My Reviews</a></li>
                   <li><a href="#">My Questions</a></li>
                   <li><a href="#">My Advices</a></li>
                    <li><a href="#">My Buying Plan</a></li>
                </ul>   
                 
            </div>
            
            <div class="Topcarcol">
             <ul>
                    <li><a href="#">Top Cars</a>
                    <ul>
                    <li><a href="#">Punto</a></li>
                    <li><a href="#">I20</a></li>
                    <li><a href="#">Tata Nano</a></li>
                    
                    </ul>
                    </li>
                   
                </ul>   
            
            </div>
        </div>
    
    </li>
    
    
    
<li><span><a href="#">Movies</a></span>
    
        <div class="Divmain"></div>
         <div class="dropdown_4columns">
       
                       
            <div class="col_1">
            
              
                <ul>
                    <li><a href="#">All Feeds</a></li>
                    <li><a href="#">Browse</a>
                    <ul>
                    <li><a href="#">All Cars</a></li>
                    <li><a href="#">Latest Cars</a></li>
                    <li><a href="#">Upcoming Cars</a></li>
                    <li><a href="#">Reviews</a></li>
                    <li><a href="#">Questions & Answers</a></li>
                    </ul>
                    
                    </li>
                    
                 <li><a href="#">Buy Old Car</a></li>
                 <li><a href="#">Sell Old Car</a></li>
                </ul>   
                 
            </div>
            
            <div class="col_2">
            
              
                <ul>
                    <li><a href="#">My Feeds </a></li>
                    <li><a href="#">My Garage</a> </li>
                    <li><a href="#">My Reviews</a></li>
                   <li><a href="#">My Questions</a></li>
                   <li><a href="#">My Advices</a></li>
                    <li><a href="#">My Buying Plan</a></li>
                </ul>   
                 
            </div>
            
            <div class="Topcarcol">
             <ul>
                    <li><a href="#">Top Cars</a>
                    <ul>
                    <li><a href="#">Punto</a></li>
                    <li><a href="#">I20</a></li>
                    <li><a href="#">Tata Nano</a></li>
                    
                    </ul>
                    </li>
                   
                </ul>   
            
            </div>
            
        </div>
    
    </li>

</ul>
       