<!-- Add Answer or Ask Question - start -->
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-top:solid 1px #e4e4e4;">
      <tr>
        <td height="55">
        <span><span class="txt_lightgry">Add Answer </span><span class="txt_yellow">or Ask Question</span></span><br />
        <span class="txt_black"><a>Saravana Kumar Add Bio</a> -  make ANonymous</span>

        </td>
      </tr>
      <tr>
        <td height="106" bgcolor="#eaeaea">&nbsp;</td>
      </tr>
      <tr>
        <td height="52" align="right">
        <a href="#" class="answer_later">Answer Later</a>
        <a style="" href="#" class="btn_submitanswer">Submit Answer</a>
        </td>
      </tr>
    </table>
<!-- Add Answer or Ask Question - End -->