<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <title>PlannTo - Empowered Customers</title>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'application' %>
    <script type="text/javascript">
      var i = 0;

      function CarClick(){
      var obj = document.getElementById("CarSubMenuDiv");

      if (obj.style.display == "block") {
      document.getElementById("CarSubMenuDiv").style.display = "none";
      }
      else {
      document.getElementById("CarSubMenuDiv").style.display = "block";

      }
      return true;
      };
    </script>
  </head>
  <body style="padding-bottom: 0px;" class="body">
    <div id="container">
      <div id="header">
        <div class="headerright">
          <form name="form1" id="form1" method="post" action="" class="search">
            <input type="text" name="textfield" value="Search..." class="search"/><input class="button" type="submit" name="Submit" value="GO" />
          </form>
        </div>
        <ul class="headernav">
          <li class="headerlinklogo ">
            <a href="#" class="plannto">PlannTo</a>
          </li>
          <li class="headerlink ">
            <a href="#">Home</a>
          </li>
          <li class="headerlink ">
            <a href="" onclick="popup('popupwindowDiv');return false;">Explore</a>
          </li>
          <li class="headerlink ">
            <a href="#">People</a>
          </li>
          <li class="headerlink ">
            <a href="#">Messages</a>
          </li>
        </ul>
      </div>
      <div ID="blanket" class="blanket" style="display:none;">
      </div>
      <div ID="popupwindowDiv" class="popupwindowDiv" style="display:none;">
        <div class="popupWindowLink">
          <a class="feedlink" onclick="popup('popupwindowDiv');">Close</a>
        </div>
        <div class="popupdiv">
          <div>
            PlanTo buy a car? <input class="button" type="submit" name="Submit" value="Yes" onclick="divCarShortList.style.display='block';"/><input class="button" type="submit" name="Submit" value="No" />
          </div>
          <div id="divCarShortList" style="display:none;">
            Have you shortlisted the cars that you are considering?<input class="button" type="submit" name="Submit" value="Yes" onclick="divCarName.style.display='block';"/><input class="button" type="submit" name="Submit" value="No" />
            <div id="divCarName" style="display:none;">
              <input type="text" class="inputtype" placeholder="Start typing the car name..." style="width:200px;"/>
            </div>
          </div>
          <br/>
          <hr/>
          <br/>
          <div>
            Generally interested in car? Would love to know about various cars or a specific car that i own and also like to interact with like minded people?<input class="button" type="submit" name="Submit" value="Yes" onclick="CarCommunityDiv.style.display='block';"/><input class="button" type="submit" name="Submit" value="No" />
          </div>
          <br/>
          <div id="CarCommunityDiv" style="display:none;">
            Do you like to follow
            <ul>
              <li>
                <input type="radio" name="Cars" value="">All Cars
                </input>
              </li>
              <li>
                <input type="radio" name="Cars" value="">Specific Cars
                </input><input type="text" class="inputtype" placeholder="Start typing the car name that you like to follow..." style="width:250px;"/>
              </li>
            </ul>
          </div>
        </div>
        <div>
          <a class="feedlink">Why i have to enter this information?</a>
          <a href="" onclick="popup('popupwindowDiv');toggle('CarSubMenuDiv');return false;" ><input class="buttonDone" type="submit" name="Submit" Value="Done">
            </input></a>
        </div>
      </div>

      <%= yield %>

    </div>

    <div id="footer">
      <p>
        <a href="#" target="_blank">| Copyright &copy; PlannTo |</a>
      </p>
    </div>
  </body>
</html>


