<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <title>PlannTo - Empowered Customers</title>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'application' %>
    <script type="text/javascript" src="/javascripts/jquery-ui-1.8.14.custom/js/jquery-1.5.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-ui-1.8.14.custom/development-bundle/jquery-1.5.1.js"></script>
    <link type="text/css" href="/javascripts/jquery-ui-1.8.14.custom/css/ui-lightness/jquery-ui-1.8.16.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="/javascripts/jquery-ui-1.8.14.custom/js/jquery-ui-1.8.14.custom.min.js"></script>

    <script type="text/javascript">
      var i = 0;

      function CarClick(){
        var obj = document.getElementById("CarSubMenuDiv");

        if (obj.style.display == "block") {
          document.getElementById("CarSubMenuDiv").style.display = "none";
        }
        else {
          document.getElementById("CarSubMenuDiv").style.display = "block";

        }
        return true;
      };
    </script>
  </head>
  <body style="padding-bottom: 0px;" class="body">
    <div id="container">
      <div id="header">
        <div class="headerright">
          <form name="form1" id="form1" method="post" action="" class="search">
            <!--Search...-->
            <input type="text" name="textfield" value="" class="search" id="plannToSearch"/><input class="button" type="submit" name="Submit" value="GO" />
          </form>
        </div>
        <ul class="headernav">
          <li class="headerlinklogo ">
            <a href="#" class="plannto">PlannTo</a>
          </li>
          <li class="headerlink ">
            <a href="#">Home</a>
          </li>
          <li class="headerlink ">
            <a href="" onclick="popup('popupwindowDiv');return false;">Explore</a>
          </li>
          <li class="headerlink ">
            <a href="#">People</a>
          </li>
          <li class="headerlink ">
            <a href="#">Messages</a>
          </li>
        </ul>
      </div>
      <div ID="blanket" class="blanket" style="display:none;">
      </div>
      <div ID="popupwindowDiv" class="popupwindowDiv" style="display:none;">
        <div class="popupWindowLink">
          <a class="feedlink" onclick="popup('popupwindowDiv');">Close</a>
        </div>
        <div class="popupdiv">
          <div>
            PlanTo buy a car? <input class="button" type="submit" name="Submit" value="Yes" onclick="divCarShortList.style.display='block';"/><input class="button" type="submit" name="Submit" value="No" />
          </div>
          <div id="divCarShortList" style="display:none;">
            Have you shortlisted the cars that you are considering?<input class="button" type="submit" name="Submit" value="Yes" onclick="divCarName.style.display='block';"/><input class="button" type="submit" name="Submit" value="No" />
            <div id="divCarName" style="display:none;">
              <input type="text" class="inputtype" placeholder="Start typing the car name..." style="width:200px;"/>
            </div>
          </div>
          <br/>
          <hr/>
          <br/>
          <div>
            Generally interested in car? Would love to know about various cars or a specific car that i own and also like to interact with like minded people?<input class="button" type="submit" name="Submit" value="Yes" onclick="CarCommunityDiv.style.display='block';"/><input class="button" type="submit" name="Submit" value="No" />
          </div>
          <br/>
          <div id="CarCommunityDiv" style="display:none;">
            Do you like to follow
            <ul>
              <li>
                <input type="radio" name="Cars" value="">All Cars
                </input>
              </li>
              <li>
                <input type="radio" name="Cars" value="">Specific Cars
                </input><input type="text" class="inputtype" placeholder="Start typing the car name that you like to follow..." style="width:250px;"/>
              </li>
            </ul>
          </div>
        </div>
        <div>
          <a class="feedlink">Why i have to enter this information?</a>
          <a href="" onclick="popup('popupwindowDiv');toggle('CarSubMenuDiv');return false;" ><input class="buttonDone" type="submit" name="Submit" Value="Done">
            </input></a>
        </div>
      </div>

      <%= yield %>

    </div>

    <div id="footer">
      <p>
        <a href="#" target="_blank">| Copyright &copy; PlannTo |</a>
      </p>
    </div>
    <script type="text/javascript">
      $("#ui-active-menuitem").mouseout(function() {
        $("#ui-active-menuitem").hide();
      });

      $( "#plannToSearch" ).autocomplete({
        minLength: 3,
        format: "js",
        source: "<%=autocomplete_items_items_url%>",
        focus:function(e,ui) {
          // return the original title when lose focus
          $(".autocomplete").remove();
          $("input").val($("#ui-active-menuitem").val());
          var list  ='';
          $.each(ui.item.children, function(i, row) {
            list  += "<li class='autocomplete_item' id=''>" + row.value +  "</li>"
          });
          $("#ui-active-menuitem").after("<div class='autocomplete'><ul class='autocomplete_list'>" + list  +"</ul></div>");

          // add class selecting to mark the item
          $("#ui-active-menuitem").addClass('selecting');
        },
        select: function( event, ui ) {
          // alert($(this).parent().siblings(".autocomplete"));
          // $(this).parent().siblings(".autocomplete").show();
          //return false;
        }
      })
      .data( "autocomplete" )._renderItem = function( ul, item,index ) {
        return $( "<li></li>" )
        .data( "item.autocomplete", item )
        .append( "<a>" + "<img width='40' height='40' src='" + item.imgsrc + "' />" + "<span class='atext'>" +item.value+ "</span>" +  "</a>" )
        .appendTo( ul );
      };
    </script>
    <style type="text/css">
      /* TEMPORARY FIX. TO BE REMOVED SOON*/
      .atext
      {
        font-family: "Comic Sans MS";
        font-size: 12px;
        font-weight: 700;
        color: #000066;
        letter-spacing: 1px;
        float: right;
        /*width: 100%;*/
        position: relative;
        top: 5px;
        /*left: 15px;*/
        z-index: 3;
      }

      /*AUTOCOMPLETE CSS FOR TEST*/
      /*autocomplete*/
      .auto_complete,
      .autocomplete {
        width: 300px;
        clear: left;
        float: left;
        background: #E3E9FF;
        z-index:999999;
      }
      .auto_complete ul,
      .autocomplete ul {
        border:0px ;
        /*solid #888;*/
        margin:0;
        padding:0;
        width:100%;
        list-style-type:none;
      }
      .auto_complete ul li,
      .autocomplete ul li{
        margin:0; padding:3px; color:black;
        cursor:hand;cursor:pointer;}
      .auto_complete ul li.selected,
      .autocomplete ul li.selected{
        background-color: #68e;
      }

      .auto_complete ul li:hover,
      .autocomplete ul li:hover {
        background-color:  #68e;
        border:0px;
      }

      .auto_complete ul strong.highlight,
      .autocomplete ul strong.highlight { background-color:  #68e;;
                                          margin:0; padding:0; }

      .autocomplete2{font-size:11px;}

      div.autocomplete {
        position:absolute;
        width:250px;
        border:1px solid #888;
        margin:0;
        padding:0;


        background: #E3E9FF;
        z-index:999999;
      }
      div.autocomplete ul {
        list-style-type:none;
        margin:0;
        padding:0;
      }

      /*======enbd autocomplete==*/
    </style>
  </body>
</html>


